@font-face {
  font-family: "SourceSansPro";
  src: font_url('Source_Sans_Pro/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: "Merriweather";
  src: font_url('Merriweather/Merriweather-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: font_url('Merriweather/Merriweather-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: font_url('OpenSans/OpenSans-Regular-webfont.eot');
  src: font_url('OpenSans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       font_url('OpenSans/OpenSans-Regular-webfont.woff') format('woff'),
       font_url('OpenSans/OpenSans-Regular-webfont.ttf') format('truetype'),
       font_url('OpenSans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: font_url('OpenSans/OpenSans-Bold-webfont.eot');
  src: font_url('OpenSans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       font_url('OpenSans/OpenSans-Bold-webfont.woff') format('woff'),
       font_url('OpenSans/OpenSans-Bold-webfont.ttf') format('truetype'),
       font_url('OpenSans/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  font-weight: 700;
  font-style: normal;
}
