<div class="col-sm-6 col-md-6 col-lg-3 my-3 profile-box register">
  <div class="outer fit-height">
    <div class="border stretch outer bg--white">
      <div class="stretch top">
        <div class="profile-subtitle"><h2><%= t(:title, scope: 'pages.home.special_doctors_register').html_safe %></h2></div>
      </div>
      <div class="middle"><h4><%= t(:text, scope: 'pages.home.special_doctors_register').html_safe %><h4></div>
      <div class="stretch bottom">
        <%= link_to t(:button, scope: 'pages.home.special_doctors_register'), sign_up_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
