<div class="col-sm-6 col-md-6 col-lg-3 my-3 profile-box register">
  <div class="outer fit-height">
    <div class="border stretch outer bg--white">
      <div class="stretch top">
        <div class="profile-subtitle"><h2><%= t(:"title#{'_' + current_region.to_s if current_region}", scope: 'profiles.register_box').html_safe %></h2></div>
      </div>
      <div class="middle"><h4><%= t(:"text#{'_' + current_region.to_s if current_region}", scope: 'profiles.register_box').html_safe %><h/4></div>
      <div class="stretch bottom">
        <%= link_to t(:"button#{'_' + current_region.to_s if current_region}", scope: 'profiles.register_box'), sign_up_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
