<div class="col-sm-6 col-md-4 col-lg-3 my-3 profile-box register">
  <div class="outer fit-height">
    <div class="border border-primary stretch outer">
      <div class="stretch top">
        <div class="profile-subtitle"><b>We need more women on stages</b></div>
      </div>
      <div class="middle">
        <p>If you are a professional speaker in any topic, register here, quick and free</p>
      </div>
      <div class="stretch bottom">
        <%= link_to "Register as a speaker", sign_up_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
