<div class="full-width-container category-page">
  <div class="full-width-row">
  <h2>
    <%= @category.name %>
  </h2>
  <div class='bordered-text-block'>
    <%= render partial: "tag" %>
  </div>
  <h3>
    Speakerinnen*:
  </h3>
  <div class='row'>
    <%= render partial: "profile", collection: @profiles %>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
      <%= paginate @profiles %>
    </div>
  </div>
</div>
</div>
