<div class="container py-5">
  <%= render 'shared/error_messages' %>

  <h1 class="mb-5"><%= t(:update, scope: "profiles.form")%></h1>

  <%= simple_form_for(@profile, html: { multipart: true } ) do |f| %>
    <%= render partial: "profiles/profile_formfields",
                 locals: { form_type: :update_profile, f: f, profile: @profile } %>
  <% end %>

</div>
