 <form class="form-horizontal well">
  <fieldset>
    <legend>Editing Profile</legend>

    <%= render 'form' %>

    <%= link_to 'Show', @profile %> |
    <%= link_to 'Back', profiles_path %>
  </fieldset>
</form>
