<div class="span12">
  <h1><%= t ".title" %></h1>
</div>
<div class="span8">
  <p>
    <%= t ".text" %>
  </p>
</div>

<div class="span12">
  <%= render :partial => "profile", :collection => @profiles %>
</div>