<h1>Speakerinnen</h1>
<%= render :partial => "profile", :collection => @profiles %>
<div class="btn-toolbar">
<%= link_to 'New Profile', new_profile_path, :class =>"btn btn-inverse btn-small" %>
</div>