<div class="layout-wrapper p+">

  <h2>Resend confirmation instructions</h2>

  <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: '' }) do |f| %>

    <%= f.input :email, label: false, placeholder: "Email", autofocus: true %>
    <%= f.submit "Resend confirmation instructions", class: 'btn btn--small mt' %>

  <% end %>

  <%= render "devise/shared/links" %>

</div>
