<div class="container">
  <div style="margin-top:50px">
    <h2>Resend confirmation instructions</h2>
    <%= simple_form_for(resource, :as => resource_name,
    :url => confirmation_path(resource_name),
    :html => { :method => :post,
    :class => 'form-vertical form' }) do |f| %>

      <%= f.input :email, label: false, placeholder: "Email", autofocus: true, input_html: { class: 'form-control' } %>
      <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary' %>
    <% end %>
    <br />
    <%= render "devise/shared/links" %>
  </div>
</div>
