<%= simple_form_for [:admin, @offensive_term] do |f| %>
  <%= f.error_notification %>
  <%= f.input :word, label: "Begriff", input_html: { class: 'form-control mb-3' } %>

  <div class="actions">
    <%= f.button :submit, "Begriff speichern", class: 'btn btn-primary btn-sm' %>
  </div>

<% end %>
