
<div class = "m-4 bg--white p-4">
  <h2>Füge neue beleidigende Begriffe / Wörter hinzu</h2>
  <%= render 'form', offensive_term: @offensive_term %>
</div>
<%= link_to 'Zurück', admin_offensive_terms_path, class: 'btn btn-primary m-4' %>
