dist: trusty
sudo: required
language: ruby
rvm: 2.2.3
bundler_args: --without development production

env:
  - ELASTICSEARCH_URL=http://localhost:9250 ES_VERSION=2.4.5 ES_DOWNLOAD_URL=https://download.elastic.co/elasticsearch/release/org/elasticsearch/distribution/tar/elasticsearch/${ES_VERSION}/elasticsearch-${ES_VERSION}.tar.gz  TEST_CLUSTER_COMMAND=/tmp/elasticsearch-${ES_VERSION}/bin/elasticsearch

before_install:
  - curl -sS https://download.elastic.co/elasticsearch/release/org/elasticsearch/distribution/tar/elasticsearch/${ES_VERSION}/elasticsearch-${ES_VERSION}.tar.gz | tar xz -C /tmp

before_script:
  - cp config/database.yml.travis config/database.yml
  - bundle exec rake db:create db:migrate RAILS_ENV=test
  - export RECAPTCHA_SECRET_KEY=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe
  - export RECAPTCHA_SITE_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
  - sleep 10
script:
  - bundle exec rspec spec/
  - bundle exec rake test
