<div class="container profiles">
  <h1 class="title-profiles">Administration</h1>
  <ul class="nav">
    <li>
      <%= link_to(t(:edit_categories, scope: "admin.dashboard"), admin_categories_path)%>
    </li>
    <li>
      <%= link_to(t(:edit_tags, scope: "admin.dashboard"), categorization_admin_tags_path)%>
    </li>
    <li>
      <%= link_to(t(:edit_profiles, scope: "admin.dashboard"), admin_profiles_path)%>
    </li>
  </ul>
</div>
