<div class="container py-5 bg--white">
  <h1 class="pb-5">Administration</h1>
  <h5><%= link_to(t(:categories, scope: "admin.dashboard.categories"), admin_categories_path)%></h5>
  <h5><%= link_to(t(:tags, scope: "admin.dashboard.tags"), admin_tags_path) %></h5>
  <h5><%= link_to(t(:profiles, scope: "admin.dashboard.profiles"), admin_profiles_path) %></h5>
  <h5><%= link_to(t(:features, scope: "admin.dashboard.features"), admin_features_path) %></h5>
</div>
