<div class="container profiles">
  <h1 class="title-profiles">Admin::Dashboard</h1>
  <ul class="nav">
    <li>
      <%= link_to "Bearbeite Kategorien", admin_categories_path %>
    </li>
    <li>
      <%= link_to "Bearbeite Tags", categorization_admin_tags_path %>
    </li>
    <li>
      <%= link_to "Bearbeite Profile", admin_profiles_path %>
    </li>
  </ul>
</div>
