<div class="container py-5 bg--white">
  <h1>Administration</h1>
  <%= link_to(t(:categories, scope: "admin.dashboard.categories"), admin_categories_path)%><br>
  <%= link_to(t(:tags, scope: "admin.dashboard.tags"), admin_tags_path) %><br>
  <%= link_to(t(:profiles, scope: "admin.dashboard.profiles"), admin_profiles_path) %><br>
</div>
