<section class="content--bg-white">
  <div class="layout-wrapper">
    <h1>Administration</h1>
    <ul class="list--style-none pl0 font-size-24">
      <li>
        <%= link_to(t(:categories, scope: "admin.dashboard.categories"), admin_categories_path)%>
      </li>
      <li>
        <%= link_to(t(:tags, scope: "admin.dashboard.tags"), admin_tags_path) %>
      </li>
      <li>
        <%= link_to(t(:profiles, scope: "admin.dashboard.profiles"), admin_profiles_path) %>
      </li>
    </ul>
  </div>
</section>
