<div class="container profiles">
  <h1 class="title-profiles">Admin::Dashboard</h1>
  <ul class="nav">
    <li>
      <%= link_to "Editing Tags", admin_tags_path %>
    </li>
    <li>
      <%= link_to "Editing Profiles", admin_profiles_path %>
    </li>
  </ul>
</div>
