<div class="container profiles">
  <h1 class="title-profiles">Administration::<%= t(:profiles, scope: "admin.profiles")%>::<%= t(:new, scope: "general")%></h1>
  <p>Find me in app/views/admin/profiles/new.html.erb</p>
</div>
