<div class="container">
  <%= render 'shared/error_messages' %>

  <h1>Admin::<%= t(:profiles, scope: 'admin.profiles')%>::show</h1>

  <%= render partial: 'admin_edit', locals: {page: "show"} %>
  <%= render partial: "profiles/show", object: @profile %>
</div>
