  <p class="font-size-24 text--center o-layout__item 1/1">
    <%= t(:category, scope: 'profiles', category_name: @category.name, profiles_count: @profiles.total_count, topics_count: @tags_all.size).html_safe %>
  </p>
  <%= render partial: 'profiles/tag' %>
