<ul>
  <% @categories.each_with_index do |category, i| %>
    <li class="startpage-categories__list-items category_item_<%=i%>" >
      <%= category_link category %>
      <%= category_profiles_count category.id %>
    </li>
  <% end %>
</ul>
