<% @categories.each_slice(5).with_index do |sliced_categories, index| %>
    <div class="col-md-6">
      <ul class="list-unstyled pl-4">
        <% sliced_categories.each do |category| %>
          <li>
            <%= category_link category, class:"startpage-categories__list-links" %>
          </li>
        <% end %>
      </ul>
    </div>
<% end %>
