<% @categories.each_slice(5).with_index do |sliced_categories, index| %>
  <% if index==0 %>
    <div class="layout__item 1/2 palm-1/1">
  <% else %>
    --><div class="layout__item 1/2 palm-1/1">
  <% end %>
    <ul>
      <% sliced_categories.each do |category| %>
        <li>
          <%= category_link category, class:"startpage-categories__list-links" %>
        </li>
      <% end %>
    </ul>
  <% if index==9 %>
    </div>
  <% else %>
    </div><!--
  <% end %>
<% end %>-->
