<ul class="list-unstyled">
  <% @categories.each do |category| %>
    <li>
      <%
        category_css = "category-links"
        if params[:category_id].to_i == category.id
          category_css << " category_selected"
        end
       %>
      <%= category_link category, class: category_css , remote: true %>
    </li>
  <% end %>
</ul>
