<!-- Modal Contact -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">
          <%= "#{t(:email_to, scope: 'profiles.show' )} #{@profile.fullname}:"%>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render partial: 'contact/form', locals: {url: contact_profile_path(@profile)} %>
      </div>
    </div>
  </div>
</div>
