<!-- Modal contact cookie hint -->
<div class="modal fade" id="contactHint" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close text-right pr-2 pt-2" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <p><%= t(:contact_modal, scope: 'pages.home', link: privacy_path).html_safe %>
        <%= link_to(
          t(:allow_cookies, scope: 'pages.home'),
          url_for(params.permit!.merge(allow_cookies: true)),
          class: 'mt-3 btn btn-primary'
        ) %>
        </p>
      </div>
    </div>
  </div>
</div><!-- Modal Cookies-->
