<!--Team  Modal Contact -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">
          <%= "#{t(:email_to, scope: 'profiles.show' )} #{@profile ? @profile.fullname : "Speakerinnen Team" }:"%>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render partial: 'contact/form', locals: { url: @profile ? contact_profile_path(@profile) : contact_path } %>
 contact_path } %>
      </div>
    </div>
  </div>
</div><!-- Modal -->
