<% if cookies[:cookie_consent].blank? %>
  <div class="cookie-consent-dialog notice clearfix">
    <p><%= t(:cookie_consent, scope: 'pages.home', link: privacy_path).html_safe %>
    <%= link_to(
      t(:allow_cookies, scope: 'pages.home'),
      url_for(params.permit!.merge(allow_cookies: true)),
      class: 'btn btn-light'
    ) %>
    </p>
  </div>
<% end %>
