<a id="donate" class="anchor"></a>
<div class="bg--purple container divider">
  <h1 class=""><%= t(:donate, scope: 'pages.home') %></h1>
  <h3><%= t(:donate_text, scope: 'pages.home') %></h3>
  <%= link_to(t(:donate_button, scope: 'pages.home'), donate_path, class: "btn btn-primary mt-4", type: "button") %>
</div>

