<% if @profile.errors.any? %>
  <div id="error_explanation" class="alert-error">
    <ul class="list-group list-group-flush">
      <% @profile.errors.full_messages.each do |msg| %>
        <li class="list-group-item"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>