<a id="get_inspired" class="anchor"></a>
<div class="bg--dark container divider">
  <h1 class=""><%= t(:get_inspired, scope: 'pages.home') %></h1>
  <h3><%= t(:get_inspired_text, scope: 'pages.home', count_profiles: @profiles_count, count_topics: @tags_count) %></h3>
  <%= link_to(t(:get_inspired_button, scope: 'pages.home'), profiles_path, class: "btn btn-primary", type: "button") %>
</div>
