<% checked = @profile.iso_languages.any? {|l| l == iso_languages } %>
<label class="checkbox">
  <input class="check_boxes optional pl"
         id="profile_iso_languages_<%= iso_languages %>"
         name="profile[iso_languages][]"
         value="<%= iso_languages %>"
         type="checkbox" <%="checked=true" if checked %> >
         <%= t(:"#{iso_languages}", scope: 'iso_639_1').capitalize %>
</label>
