<label class="checkbox">
  <input class="check_boxes optional" id="profile_iso_languages_<%= iso_languages %>" name="profile[iso_languages][]" value="<%= iso_languages %>" type="checkbox"><%= iso_languages %>
</label>
<input name="profile[iso_languages][]" value="" type="hidden">
