<hr class="mv">

<div id="search">
  <%= form_tag(profiles_search_path, method: 'get', class:'pv') do %>

    <%= text_field_tag('search', params[:search], class: 'profile__search' , placeholder: t(:search_text, scope: 'pages.home.search')) %>
    <%= button_tag((t(:search, scope: 'pages.home.search')), class: 'btn btn--small input-btn') %>

  <% end %>

  <p id="detailed-search-trigger" class="link">
    <%= t(:detailed_search, scope: 'general').html_safe %>
  </p>
</div>
