<div id="search">
  <%= form_tag(profiles_path, method: 'get', class:'pv') do %>

    <%= text_field_tag('search', params[:search], class: 'profile__search typeahead' , type: 'text', placeholder: t(:search_text, scope: 'pages.home.search')) %>
    <%= button_tag((t(:search, scope: 'pages.home.search')), class: 'btn-blue btn btn--small input-btn') %>

  <% end %>
</div>
