<div id="search" class="pb-3">
  <%= form_tag(profiles_path, method: 'get') do %>
    <%= text_field_tag('search', params[:search], class: 'profile__search typeahead px-1' , type: 'text', placeholder: t(:search_text, scope: 'pages.home.search')) %>
    <%= button_tag((t(:search, scope: 'pages.home.search')), class: 'btn-blue btn btn-sm') %>
  <% end %>
</div>
