<div id="search" class="pb-3">
  <%= form_tag(profiles_path, method: 'get') do %>
    <div class="form-row">
      <div class="col-9">
        <%= text_field_tag('search', params[:search], class: 'form-control typeahead' , type: 'text', placeholder: t(:search_text, scope: 'pages.home.search')) %>
      </div>
      <div class="col-3">
        <%= button_tag((t(:search, scope: 'pages.home.search')), class: 'btn-blue btn') %>
      </div>
    </div>
  <% end %>
</div>
