<div class="col-12">
  <%= form_tag(profiles_path, method: 'get', class:"form-row home-search") do %>
    <div class="col-7">
      <label class="sr-only" for="inlineFormInputSearch">Search</label>
      <%= search_field_tag('search', params[:search], id: "home_search", class: 'form-control typeahead ',
            type: 'text', placeholder: t(:search_placeholder, scope: 'pages.home') ) %>
    </div>
    <div class="col-4">
    <%= submit_tag((t(:search_speaker, scope: 'pages.home')), class: 'btn btn-primary' ) %>
    </div>
  <% end %>
</div>

