<div class="col-lg-3 mb-2">
  <div class="card pb-3 bg--white-trans">
    <div class="card-header">
      <h3 class="font-weight-bold card-title mb-0"><%= link_to("Get inspired", profiles_path + "#speakers_anchor" ) %></h3>
    </div>
    <div class="card-body">
      <p class="serif h4 card-text mt-2">Browse almost 3.000 women speakers to find your expert!</p>
    </div>
  </div>
</div>
<div class="col-lg-3 mb-2">
  <div class="card pb-3 bg--white-trans">
    <div class="card-header">
      <h3 class="font-weight-bold card-title mb-0"><%= link_to("Browse by topic", root_path + "#categories_anchor" )%></h3>
    </div>
    <div class="card-body">
      <p class="serif h4 card-text mt-2">Find the right female speaker in 10 categories!</p>
    </div>
  </div>
</div>
<div class="col-lg-3 mb-2">
  <div class="card pb-3 bg--white-trans">
    <div class="card-header">
      <h3 class="font-weight-bold card-title mb-0"><%= link_to("About us", about_path )%></h3>
    </div>
    <div class="card-body">
      <p class="serif h4 card-text mt-2">Learn more about the Speakerinnen.org team!</p>
    </div>
  </div>
</div>
<div class="col-lg-3 mb-2">
  <div class="card pb-3 bg--white-trans">
    <div class="card-header">
      <h3 class="font-weight-bold card-title mb-0"><%= link_to("Our Blog",'https://blog.speakerinnen.org/', target: '_blank' )%></h3>
    </div>
    <div class="card-body">
      <p class="serif h4 card-text mt-2">Find exciting interviews and lots of news!</p>
    </div>
  </div>
</div>