<div class="row title">
  <div class="span12">
    <h1>SPEAKERINNEN LISTE</h1>
  </div>
  <div class="span12">
    <%= link_to 'Profil', profiles_path %>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h2>Was ist Speakerinnen List</h2>
  </div>
  <div class="span12">
    <p>Lorem ipsum ...</p>
  </div>
</div>
