
///*------------------------------------*\
//    #SETTINGS-RESPONSIVE
//\*------------------------------------*/

// Hold our breakpoint aliases and conditions in a list.
//
// These can be invoked later on via the `media-query()` mixin found in
// `_tools.responsive`.

$breakpoints: (
    "palm"          "screen and (max-width: 44.9375em)",
    "lap"           "screen and (min-width: 45em) and (max-width: 63.9375em)",
    "lap-and-up"    "screen and (min-width: 45em)",
    "portable"      "screen and (max-width: 63.9375em)",
    "desk"          "screen and (min-width: 64em)",
    "retina"        "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)"
) !default;





// If we have included this file, set a variable to tell the rest of the
// framework that we have some responsive settings.
$inuit-responsive-settings: true;
