<% @tags.each do |tag| %>
  <button class="btn btn-sm border my-1 rounded select-tag <%= "disabled" if params[:tag_search] && params[:tag_search].include?(tag.name) %> "><%= tag.name %></button>
<% end %>
