<div class="pages">
  <div class="container">
    <div class="row">
      <div class="span10">
        <h1><%= t(:about_title, scope: "pages.home.footer") %>:</h1>
        <h3>Our aim:</h3>
        <p class="italic">
          People are often frustrated by the fact that it's usually men who are interviewed by the media or asked to present at conferences and not women.<br> There isn't a biological explanation for this. Men are not cleverer than women. Anyone who points out this discrepancy is usually told that there wasn't a suitable woman available. <br><br>We are convinced  that there are a lot more competent women around than just those who speak in public. Girls need female role models, women need the assurance that another view on the topic, ie theirs, is equally relevant.<br><br> Events need more diversity. The main aim of the "Speakerinnen*-List" to increase the visibility of women in the field of public speaking. With the help of our list it will be easier for organisers to find female experts to speak at their events. We also want to actively invite women* to speak more often and in public about their area of expertise.
        </p>
        <h3>Who are we:</h3>
        <p class="italic">
          Technology & Programming:
          <ul class="pages">
            <li>
              <a href="https://twitter.com/_tyranja_" target="_blank">Anja R</a>
            </li>
            <li>
              <a href="https://twitter.com/zaziemo" target="_blank">Maren Heltsche</a>
            </li>
          </ul>
          Communicaton & Administration:
          <ul class="pages">
            <li>
              <a href="https://twitter.com/annalist" target="_blank">Anne Roth</a>
            </li>
          </ul>
        </p>
        <h3>Background:</h3>
        <p class="italic">
          The "Speakerinnen*-List" was created by 8 women with the support of 4 coaches as part of "Rails Girls Berlin" learning project.<br>
          <br>
          The idea of having a database of female speakers originated during numerous discussions both online and offline about the dominance of men in the public domain. There are lots of reasons for this and the "Speakerinnen-List" isn't a solution for all of them. But it is a step towards making it easier for organisers to achieve a balanced male to female ratio at their events.
          <br>
          <br>
          In addition we want to support women* in finding the right platform. We hope they will be encouraged by the experiences of other women and see that they too have a contribution to  make.
        </p>
        <h3>Railsgirls / Rubymonsters:</h3>
        <p class="italic">
          <a href="http://www.railsgirlsberlin.de" target="_blank">Rails Girls</a> is an international non-profit organisation that motivates women to learn computer programming. They facilitate this through interesting workshops, study groups, grants and by creating a positive  learning community. The <a href="http://twitter.com/RubyMonstas" target="_blank">Rubymonsters</a> are a study group which emerged during one of the Rails Girls Berlin workshops.
        </p>
        <h3>How can you support us:</h3>
        <p class="italic">
          There are lots of ways in which you can support the " Speakerinnen*-List" project:
          <ul class="pages">
            <li>
              tell other women* about it
            </li>
            <li>
          create your own profile
            </li>
            <li>
          send us an email with a link to networks and communities that deal with specific topics
            </li>
            <li>
          build with us! If you're good at web design or programming, help us  complete the ongoing issues. There's a list <a href="https://github.com/rubymonsters/speakerinnen_liste/issues/216" target="_blank">here.</a>
            </li>
          </ul>
        </p>
        <strong>* By women* we mean anyone who sees themselves as a woman.</strong>
      </div>
    </div>
  </div>
</div>
