<div class="container bg--white pb-5">
  <h1 class="display-4 py-5">Über uns</h1>

  <h4>Wir machen Expertinnen sichtbar</h4>

  <p>Oftmals sind Podien vornehmlich mit Männern besetzt.
    Es ist Zeit, dass Frauen aktiv werden, um das zu ändern.</p>

  <p>ooe.speakerinnen.org bietet Frauen, die ihre Meinung und ihre Kenntnisse
    bei Veranstaltungen auf der Bühne einbringen möchten, eine Plattform um
    sichtbar zu werden. Zugleich soll diese Datenbank allen Veranstaltern helfen
    eine passende Speakerin zu finden.</p>

  <p>Durch die Kooperation mit <a href="https://speakerinnen.org", target='_blank'>speakerinnen.org</a>
    werden oberösterreichische Frauen sowohl lokal wie international als Expertinnen,
    Rednerinnen und Repräsentantinnen sichtbar gemacht.</p>

  <p>Ermöglicht wird das Projekt von <a href="https://www.kompass-ooe.at", target='_blank'>KOMPASS,
    dem Kompetenzzentrum für Karenz und Karriere</a> im Auftrag des
    <a href="https://www.frauenreferat-ooe.at", target='_blank'>Frauenreferates des Landes OÖ</a>
    und der Frauenreferentin LH Stv.in Mag.a Christine Haberlander in Kooperation
    mit der Wirtschaftskammer OÖ.</p>

  <h4 class="my-5">Bühne frei für mehr Frauen!</h4>

  <p>Viel zu oft erleben wir, dass auf den Bühnen von Events vornehmlich Männer
    als Experten eingeladen werden. „Es gibt keine geeigneten Frauen“ und
    „Es sei zu schwierig weibliche Vortragende zu finden “ hört man oft als Rechtfertigung.
    Wir sind davon überzeugt, dass wir ein ausgeglichenes Geschlechterverhältnis
    auf der Bühne brauchen. Wenn wir auf das Wissen und die Erfahrung von Frauen
    verzichten, dann verschwenden wir 50 Prozent der vorhandenen Ressourcen.
    Das Männer-Frauen-Verhältnis unter den Vortragenden soll in Zukunft möglichst
    ausgewogen sein, denn Veranstaltungen brauchen mehr Diversität.</p>

  <div class="row mt-5">
    <div class="col-sm-2">
      <%= image_tag('about_christine_haberlander.jpg', class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>LH Stv.in Mag.a Christine Haberlander, Frauenreferentin</b>
      <p>Frauen sind heute besser ausgebildet als je zuvor und dennoch sind sie
        in gesellschaftlichen und wirtschaftlichen Schlüsselpositionen noch immer
        unterrepräsentiert. Initiativen wie die ooe.speakerinnen.org holen Expertinnen
        aus Oberösterreich und deren Leistungen vor den Vorhang und unterstützen
        beim Abbau von Geschlechterstereotypen. Erst wenn weibliche Kompetenzen
        sichtbar werden, wird auch das Bewusstsein für mehr Gleichstellung wachsen.</p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('about_margit_angerlehner.jpg',class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Margit Angerlehner, Landesvorsitzende von Frau in der Wirtschaft OÖ</b>
      <p>Exzellente Frauen aus Wirtschaft, Wissenschaft und Gesellschaft gibt es
        viele, man sieht sie nur nicht ausreichend. Vor allem junge Frauen brauchen
        mehr sichtbare weibliche Vorbilder, die ihnen Orientierung geben und Mut machen,
        sich als Expertin zu präsentieren und ihr Wissen mit anderen zu teilen.</p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('about_irene_moser.jpg', class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Irene Moser, Projektleitung KOMPASS</b>
      <p>Expertise und Kompetenz kennen kein Geschlecht. Trotzdem stehen viel zu
        wenig Frauen auf heimischen Konferenz- und Vortragsbühnen. Besonders für
        die jüngeren Generationen ist es wichtig, ein ausgewogenes und stimmiges
        Meinungsbild zu vermitteln. Die Datenbank ooe.speakerinnen.org soll Inspiration
        für neue Speakerinnen schaffen und mehr weiblichen Role Models eine würdige
        Bühne bieten.</p>
    </div>
  </div>
</div>
