<div class="container profiles">
  <div class="row">
    <div class="span8">
      <h1 class="title-profiles"><%= t(:title, scope: "pages.about") %>:</h1>
      <span class="italic"><%= t(:text, scope: "pages.about").html_safe %></span>
    </div>
  </div>
</div>

