<div class="container bg--white pb-5">
  <h1 class="display-4 py-5">About us</h1>

  <h4>We make female experts visible</h4>

  <p>Podiums are predominantly occupied by men. It is time for women to become
    active in order to change this.</p>

  <p>The online platform ooe.speakerinnen.org offers women who want to contribute
    with their opinion and knowledge on stage at events a platform to become
    more visible. At the same time, this database should help all event organizers
    to find qualified female speakers.</p>

  <p>By collaborating with <a href="https://speakerinnen.org", target='_blank'>speakerinnen.org</a>
    Upper Austrian women are made visible at home and abroad as experts, speakers
    and representatives.</p>

  <p>The project is made possible by <a href="https://www.kompass-ooe.at", target='_blank'>KOMPASS,
    the competence centre for maternity leave and careers</a> on behalf of the
    <a href="https://www.frauenreferat-ooe.at", target='_blank'>Women's Department of the Province of Upper Austria</a>
    and the Women's Advisor of the Provincial Government, Mag.a Christine
    Haberlander, in cooperation with the Upper Austrian Chamber of Commerce.</p>

  <h4 class="my-5">Set the stage for more female speakers!</h4>

  <p>Far too often we experience that on the stages of events mainly men who are
    invited as experts. "There are no suitable women" and "It is too difficult
    to find female speakers" are often put forward as justifications.  We need a
    balanced gender ratio on stage. If we do not use the knowledge and experience
    of female professionals, we are wasting 50 percent of the available resources
    to us. The male-female ratio among the presenters should be as equal as possible
    in the future because events need to become more diverse.</p>

  <div class="row mt-5">
    <div class="col-sm-2">
      <%= image_tag('about_christine_haberlander.jpg', class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>LH Stv.in Mag.a Christine Haberlander, Frauenreferentin</b>
      <p>Women are better educated nowadays than ever before and yet are underrepresented
        in significant social and economic positions. Initiatives such as the
        ooe.speakerinnen.org bring female experts from Upper Austria and their
        achievements into the limelight and support the breakup of gender based
        stereotypes. Only when female competencies become visible, awareness for
        more equality will grow.</p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('about_margit_angerlehner.jpg',class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Margit Angerlehner, Landesvorsitzende von Frau in der Wirtschaft OÖ</b>
      <p>There are many amazing women in economy, science and society, but they are
        not sufficiently visible. Particularly young women need prominent female
        role models who give them guidance and encourage them to present themselves
        as experts and share their knowledge with others.</p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('about_irene_moser.jpg', class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Irene Moser, Projektleitung KOMPASS</b>
      <p>Expertise and competence know no gender. Nevertheless, there are far too
        few women at domestic conferences and lecture stages. Especially for the
        younger generations, it is vital to consume a balanced and coherent set of
        opinions. The database ooe.speakerinnen.org wants to inspire and enable new
        female speakers and to provide a prominent platform for further female role models.</p>
    </div>
  </div>
</div>
