<div class="container bg--white pb-5">
  <h1 class="display-4 py-5">About us</h1>

  <h4>The story behind vorarlberg.speakerinnen.org:</h4>

  <p>Usually it takes concrete occasions to start long overdue actions.
    In our case, it was the repeated occupation of a new TV format and a panel
    of experts in Vorarlberg predominantly with men. As a result, a civil society
    initiative consisting of almost 40 women formed in the fall of 2020 with the
    goal of making the existing expertise of female experts in the state of Vorarlberg
    visible through various projects.</p>

  <p>One of these projects is the creation of a database of female experts for
    Vorarlberg, which <a href="http://www.wexelstube.at/", target='_blank'>Brigitta Soraperra</a>
    (director, cultural mediator), <a href="https://www.inatura.at/", target='_blank'>Ruth Swoboda</a>
    (museum director, inatura Erlebnis Naturschau), <a href="https://www.c-i-v.at/de", target='_blank'>Bettina Steindl</a>
    (managing director CampusVäre &mdash; Creative Institute Vorarlberg GmbH) and
    <a href="https://www.trigon.at/en/consultant/andrea-spieth", target='_blank'>Andrea Spieth</a>
    (organizational consultant, Trigon) tackled.</p>

  <p>The result is a unique cooperation with speakerinnen.org, which led to a dedicated
    subpage on this international platform. Thanks to funding from the state of
    Vorarlberg &mdash; Functional Area Women and Equality in the Office of the Vorarlberg
    Provincial Government &mdash; and the Vorarlberg brand, it was possible to go online with
    vorarlberg.speakerinnen.org at the end of 2021. In doing so, Vorarlberg women are
    brought to the fore both locally and internationally as experts, speakers and
    representatives of this region.</p>
</div>
