<div class="container bg--white pb-5">
  <h1 class="display-4 py-5">Wir machen Expertinnen sichtbar</h1>

  <p>Oftmals sind Podien vornehmlich mit Männern besetzt.
    Es ist Zeit, dass Frauen aktiv werden, um das zu ändern.</p>

  <p>ooe.speakerinnen.org bietet Frauen, die ihre Meinung und ihre Kenntnisse
    bei Veranstaltungen auf der Bühne einbringen möchten, eine Plattform um
    sichtbar zu werden. Zugleich soll diese Datenbank allen Veranstaltern helfen
    eine passende Speakerin zu finden.</p>

  <p>Durch die Kooperation mit <a href="https://speakerinnen.org", target='_blank'>speakerinnen.org</a>
    werden oberösterreichische Frauen sowohl lokal wie international als Expertinnen,
    Rednerinnen und Repräsentantinnen sichtbar gemacht.</p>

  <p>Ermöglicht wird das Projekt von <a href="https://www.kompass-ooe.at", target='_blank'>KOMPASS</a>,
    dem Kompetenzzentrum für Karenz und Karriere im Auftrag des
    <a href="https://www.frauenreferat-ooe.at", target='_blank'>Frauenreferates des Landes OÖ</a>
    und der Frauenreferentin LH Stv.in Mag.a Christine Haberlander in Kooperation
    mit der Wirtschaftskammer OÖ.

  <h2 class="display-4 py-5">Bühne frei für mehr Frauen!</h2>

  <p>Viel zu oft erleben wir, dass auf den Bühnen von Events vornehmlich Männer
    als Experten eingeladen werden. „Es gibt keine geeigneten Frauen“ und
    „Es sei zu schwierig weibliche Vortragende zu finden “ hört man oft als Rechtfertigung.
    Wir sind davon überzeugt, dass wir ein ausgeglichenes Geschlechterverhältnis
    auf der Bühne brauchen. Wenn wir auf das Wissen und die Erfahrung von Frauen
    verzichten, dann verschwenden wir 50 Prozent der vorhandenen Ressourcen.
    Das Männer-Frauen-Verhältnis unter den Vortragenden soll in Zukunft möglichst
    ausgewogen sein, denn Veranstaltungen brauchen mehr Diversität.</p>
</div>
