<div class="container bg--white pb-5">
  <h1 class="display-4 py-5">Wir machen Expertinnen sichtbar.</h1>
  <h4>Die Geschichte zu vorarlberg.speakerinnen.org:</h4>
  <p>Meist braucht es konkrete Anlässe, um längst fällige Aktionen zu starten.
    In unserem Fall war es die wiederholte Besetzung eines neuen TV Formates und
    eines Expertengremiums in Vorarlberg überwiegend mit Männern. Als Folge formierte
    sich im Herbst 2020 eine zivilgesellschaftliche Initiative bestehend aus fast 40 Frauen
    mit dem Ziel, über verschiedene Projekte die vorhandene Expertinnenkompetenz
    im Land Vorarlberg sichtbar zu machen.</p>
  <p>Eines dieser Projekte ist die Erstellung einer Expertinnen-Datenbank für Vorarlberg,
    welche Brigitta Soraperra (Regisseurin, Kulturvermittlerin), Ruth Swoboda (Museumsdirektorin,
    inatura Erlebnis Naturschau), Bettina Steindl (Geschäftsführerin CampusVäre –
    Creative Institute Vorarlberg GmbH) und Andrea Spieth (Organisationsberaterin, Trigon) in Angriff nahmen.</p>
  <p>Ergebnis ist eine einzigartige Kooperation mit speakerinnen.org, die zu einer
    eigenen Unterseite auf dieser internationalen Plattform führte. Durch die Finanzierung
    des Landes Vorarlberg – Funktionsbereich Frauen und Gleichstellung im Amt der
    Vorarlberger Landesregierung – und der Marke Vorarlberg ist es Ende 2021 gelungen,
    mit vorarlberg.speakerinnen.org online zu gehen. Dabei werden Vorarlberger Frauen
    sowohl lokal wie international als Expertinnen, Rednerinnen und Repräsentantinnen
    dieser Region in den Vordergrund gestellt.</p>
</div>
