<section class="content--bg-grey">
  <div class="layout-wrapper">
    <h1 class="bb">
      <%= t(:about_title, scope: "pages.home.footer") %>:
    </h1>
    <h3 class="pt">Unser Ziel:</h3>
    <p>
    Viele Menschen stört, dass Männer viel häufiger als Experten zu Konferenzen eingeladen oder von den Medien befragt werden. Biologisch gibt es dafür keinen Grund: Männer sind nicht klüger als Frauen.
    Wer Organisator_innen auf die Diskrepanz hinweist, bekommt oft die Reaktion, dass keine geeignete Frau zu finden war. Wir sind davon überzeugt, dass es viel mehr kompetente Frauen gibt, als auf den Bühnen sprechen.
    Mädchen brauchen weibliche Vorbilder, Frauen brauchen die Gewissheit, dass eine andere - ihre - Sicht auf ein Thema genauso relevant ist. Veranstaltungen brauchen mehr Diversität.
    <p>
    </p>
    Ziel der Speakerinnen-Liste ist es, die Sichtbarkeit von Frauen überall da zu steigern, wo öffentlich gesprochen wird. Mit Hilfe der Speakerinnen-Liste wird es für Veranstalterinnen und Veranstalter leichter, Expertinnen für ihre Events zu finden.
    Gleichzeitig lädt sie Frauen* aktiv dazu ein, häufiger und öffentlich über ihre Themen zu sprechen.
    </p>

    <h3 class="pt">Wer steckt dahinter:</h3>
      Technik & Programmierung:
    <ul>
      <li>
        <a href="https://twitter.com/_tyranja_" target="_blank">Anja R</a>
      </li>
      <li>
        <a href="https://twitter.com/zaziemo" target="_blank">Maren Heltsche</a>
      </li>
    </ul>
    Kommunikation & Administration:
    <ul>
      <li>
        <a href="https://twitter.com/annalist" target="_blank">Anne Roth</a>
      </li>
      <li>
        <a> Mandy Schoßig </a>
      </li>
      <li>
        <a href="http://www.wortspektrum.de/" target="_blank">Christiane Weihe</a>
      </li>
    </ul>
    <h3 class="pt">Hintergrund:</h3>
    <p>
      Die Speakerinnen-Liste ist die Idee vieler Frauen und wurde technisch von 8 Frauen mit der Unterstützung von 4 Coaches als Lernprojekt der Rubymonstas,
      einer Lerngruppe der Rails Girls Berlin, gebaut.
    </p>
    <p>
      Die Idee zu einer Datenbank entstand in vielen Gesprächen, online und offline, über die Dominanz von Männern auf Bühnen. Dafür gibt es verschiedene Gründe und nicht für alle davon ist die Speakerinnen-Liste ein Lösung. Aber sie ist ein Schritt dahin, den Veranstaltern und Veranstalterinnen die Suche zu erleichtern, die an einem ausgeglichenen Gender-Verhältnis bei ihren Events interessiert sind.
    <p>
    </p>
      Außerdem wollen wir Frauen* dabei unterstützen, die richtige Bühne zu finden. Das wird hoffentlich einfacher, wenn am Beispiel vieler anderer Frauen* zu sehen ist, dass ganz unterschiedliche Erfahrungen gefragt sein können.
    </p>

    <h3 class="pt">Railsgirls / Rubymonstas:</h3>
    <p>
      Die <a href="http://www.railsgirlsberlin.de" target="_blank">Rails Girls</a> sind eine internationale Non-Profit-Gruppe, die Frauen motiviert, sich mit dem Programmieren zu beschäftigen. Das Ganze über wunderbare Workshops, Lerngruppen, Stipendien und eine angenehme Lern-Community. Die <a href="http://twitter.com/RubyMonstas" target="_blank">Rubymonsters</a> sind eine Lerngruppe, die aus einem Workshop der Rails Girls hervorgegangen ist.
    </p>

    <h3 class="pt">Unterstützen:</h3>
      Es gibt viele Möglichkeiten, das Projekt Speakerinnen-Liste zu unterstützen:
    <ul class="mb0">
      <li>
        erzählt anderen Frauen* davon
      </li>
      <li>
        legt selbst ein Profil an
      </li>
      <li>
        schickt eine Mail mit einem Hinweis an Netzwerke und Communities, die sich mit spezifischen Themen beschäftigen
      </li>
      <li>
        baut mit! Wenn ihr euch mit Webdesign oder Programmierung auskennt, helft uns bei der Umsetzung der offenen Wünsche. Eine Liste gibt es <a href="https://github.com/rubymonsters/speakerinnen_liste/issues/216" target="_blank">hier.</a>
      </li>
    </ul>
  </div>
</section>
