<div class="container bg--white pb-5 code-of-conduct">
  <h1 class="display-4 py-5">Code of Conduct</h1>
  <p>The aim of Speakerinnen.org is to increase the visibility of women wherever public speaking takes place.
    Here female speakers can present their diverse experiences, backgrounds, and knowledge to media and event
    organizers who are searching specifically for female experts or presenters.
  </p>
  <p>
    Speakerinnen.org supports diversity wholeheartedly – whether it be ethnic origin, religion, expertise,
    social position, personal views, sexual orientations, and much more. At the same time, we reject the
    attitudes and behavior described below – whether by our speakers or by people who contact our speakers:
  </p>
  <ul>
    <li class="mb-2">We do not tolerate hateful activities, performances, or statements.</li>
    <li class="mb-2">We reject violence in any form – whether verbal or physical.</li>
    <li class="mb-2">
      We condemn all forms of harassment, insult, discrimination, and humiliation. This means that we will
      not tolerate hurtful or derogatory comments regarding gender, gender identity, sexual orientation,
      origin and ethnicity, language, religious or political beliefs, disability or mental illness.
    </li>
    <li class="mb-2">We will not tolerate forms of intimidation, stalking, or unwanted sexual attention.</li>
    <li class="mb-2">
      We expressly distance ourselves from inhuman, racist, anti-Semitic, anti-feminist, extreme right-wing
      or right-wing populist, and anti-democratic behavior.
    </li>
    <li class="mb-2">We do not give a stage to people who produce or disseminate fake news or conspiracy stories.</li>
  </ul>
  <p>
    We will not give a stage to people who do not observe these basic rules of open, fair, and friendly exchange.
    We reserve the right to block profiles of speakers who are in conflict with this Code of Conduct and to delete
    corresponding email requests to such speakers. We reserve the right to remove or report unacceptable contributions
    on our social media channels.
  </p>
  <p>
    Anyone who observes unacceptable behavior as described above from any speaker listed on Speakerinnen.org can
    inform us by email at <a href="mailto:team@speakerinnen.org">team@speakerinnen.org</a>. We will investigate complaints
    as quickly as possible and reserve the right to take further steps to delete or block accounts or requests.
    We also reserve the right to report any unacceptable behavior that is criminally relevant to the appropriate authorities.
  </p>
  <p>Our Code of Conduct is inspired by the Berlin Code of Conduct, the Code of Conduct of the Portland Ruby Brigade,
    and the Community Guidelines by Pinterest.
  </p>
</div>
