<div class="container bg--white pb-5 code-of-conduct">
  <h1 class="display-4 py-5">Code of Conduct</h1>
  <p>Speakerinnen.org will die Sichtbarkeit von Frauen überall da steigern, wo öffentlich gesprochen wird.
  Auf dieser Plattform können sich deshalb Frauen mit ihren vielfältigen Erfahrungen, ihrem Wissen und ihren
  verschiedenen Hintergründen vorstellen, um so besser von Veranstalter*innen oder Medien gefunden zu werden.
  </p>
  <p>
    Wir unterstützen Vielfalt aus ganzem Herzen – wenn es um Herkunft, Religion, Expertise, gesellschaftliche
    Positionen, persönliche Ansichten, sexuelle Orientierungen, Meinungen und vieles mehr geht. Gleichzeitig
    lehnen wir nachfolgend beschriebene Haltungen und Verhalten ab – sei es unserer Speakerinnen oder von Menschen,
    die unsere Speakerinnen kontaktieren:
  </p>
  <ul>
    <li class="mb-2">Wir dulden keine hasserfüllten Aktivitäten, Auftritte oder Äußerungen.</li>
    <li class="mb-2">Wir lehnen Gewalt in jeder Form ab – sei es verbal oder physisch.</li>
    <li class="mb-2">
      Wir verurteilen jede Form der Belästigung, Beleidigung, Diskriminierung und Erniedrigung. Das bedeutet
      für uns, dass wir keine verletzenden oder abwertenden Kommentare in Bezug auf Geschlecht, Geschlechtsidentität,
      sexuelle Orientierung, Herkunft und ethnische Zugehörigkeit, Sprache, religiöse oder politische Anschauungen,
      Behinderung oder psychische Erkrankungen zulassen werden.
    </li>
    <li class="mb-2">Wir dulden keine Formen von Einschüchterung, Stalking oder unerwünschte sexuelle Aufmerksamkeiten.</li>
    <li class="mb-2">
      Wir distanzieren uns ausdrücklich von menschenverachtendem, rassistischem, antisemitischem, antifeministischem,
      rechtsextremem oder rechtspopulistischem und demokratiefeindlichem Verhalten.
    </li>
    <li class="mb-2">Wir geben Menschen keine Bühne, die Fake News oder Verschwörungserzählungen erzeugen oder verbreiten.</li>
  </ul>
  <p>
    Personen, die diese Grundregeln eines offenen, fairen und freundlichen Austauschs nicht einhalten, werden
    wir keine Bühne geben. Wir behalten uns vor, Profile von Speakerinnen, die diesem Verhaltenskodex widersprechen,
    zu sperren sowie entsprechende Anfragen an unsere Speakerinnen vor der Zustellung zu löschen. Auf unseren
    Social Media-Kanälen behalten wir uns das Recht vor, inakzeptable Beiträge ggf. zu entfernen bzw. zu melden.
  </p>
  <p>
    Wer inakzeptables Verhalten wie oben beschrieben bei den auf Speakerinnen.org gelisteten Personen beobachtet,
    kann uns dies per Mail an <a href="mailto:team@speakerinnen.org">team@speakerinnen.org</a> mitteilen. Wir prüfen die Beschwerden schnellstmöglich und
    behalten uns weitere Schritte zur Löschung oder Sperrung von Accounts bzw. von Anfragen vor.
    Wir behalten uns zudem das Recht vor, inakzeptables Verhalten, das strafrechtlich relevant ist, zur Anzeige zu bringen.
  </p>
  <p>Unser Code of Conduct ist inspiriert vom Berlin Code of Conduct, dem Code of Conduct der Portland Ruby Brigade
    sowie den Community Guidelines von Pinterest.
  </p>
</div>
