<div class="container bg--white pb-5">
  <h1 class="display-4 py-5">How can I give you money?</h1>
  <p>
  Thank you for such a nice and cooperative idea! You can donate money through the account of Kombüse e.V.:
  </p>
  <div>
    <ul class="list-unstyled pl-0 pb-5 mb-5 border-bottom font-weight-bold">
      <li>Kombüse e.V.</li>
      <li>Reference: speakerinnen</li>
      <li>IBAN DE54 4306 0967 2049 2233 01</li>
      <li>SWIFT/BIC GENODEM1GLS</li>
    </ul>
  </div>
</div>
