<div class="container bg--white pb-5 donations">
  <h1 class="display-4 py-5">Spendenaufruf zum Internationalen Frauentag: Mehr Frauen auf die Bühne!</h1>
  <p>
  Zum Internationalen Frauentag setzen wir ein starkes Zeichen für mehr Sichtbarkeit und Gleichberechtigung: Mit eurer Unterstützung möchten wir Speakerinnen.org weiter ausbauen und noch mehr Frauen den Raum geben, ihre Expertise sichtbar zu machen!
  </p>
  <p>
  Unsere Plattform vernetzt über 4.700 Expertinnen aus verschiedensten Bereichen mit Veranstalter*innen, Medien und Organisationen. So tragen wir aktiv dazu bei, dass Panels, Konferenzen und öffentliche Debatten diverser werden. Um diesen wichtigen Beitrag fortzusetzen, brauchen wir eure Hilfe!
  </p>
  <p>
  Eure Spende unterstützt uns in unserer ehrenamtlichen Arbeit, um:
    <ul>
      <li>Speakerinnen.org weiterhin kostenlos und nutzer*innenfreundlich anzubieten,</li>
      <li>neue Funktionen zu entwickeln, um Expertinnen noch besser zu vernetzen,</li>
      <li>die technischen und rechtlichen Voraussetzungen für die Plattform zu sichern.</li>
    </ul>
  Am Internationalen Frauentag und das ganze Jahr stehen wir gemeinsam für Gleichberechtigung ein!
  </p>
  <p class="font-weight-bold">
    Dafür brauchen wir eure Unterstützung!
  </p>
    Wie? Ganz einfach!
    <br>
    Ihr könnt uns über Kombüse e.V. Geld spenden, Betreff: „Spende Speakerinnen“.
  </p>
  <div>
    <p class="font-weight-bold">
      Kombüse e.V.<br>
      Betreff: speakerinnen<br>
      IBAN DE54 4306 0967 2049 2233 01<br>
      SWIFT/BIC GENODEM1GLS<br>
    </ul>
  </div>
    <p>
      Den Spendenbetrag könnt ihr von der Steuer absetzen, ab 200 Euro erhaltet ihr eine Spendenquittung.
    </p>
    <p class="font-weight-bold">
      Danke, dass ihr dabei seid!
    </p>
</div>
