<div class="container bg--white pb-5 donations">
  <h1 class="display-4 py-5">Fundraising appeal</h1>
  <p>
  With your support, we would like to further expand Speakerinnen.org and give even more women the space to make their expertise visible!
  </p>
  <p>
  Our platform connects more than 4,700 female experts from various fields with event organisers, media and organisations. In this way, we actively contribute to making panels, conferences and public debates more diverse. In order to continue this important contribution, we need your help!
  </p>
  <p>
  Your donation supports us in our voluntary work to:
    <ul>
      <li>continue to offer Speakerinnen.org free of charge and in a user-friendly way,</li>
      <li>develop new functions to network experts even better,</li>
      <li>secure the technical and legal requirements for the platform.</li>
    </ul>
  On International Women's Day and all year round, we stand together for equality!
  </p>
  <p class="font-weight-bold">
    We need your support!
  </p>
    How? It's simple!
  <br>
    You can donate money to us via Kombüse e.V., subject line: “donate Speakerinnen”.
  </p>
  <div>
    <p class="font-weight-bold">
      Kombüse e.V.<br>
      Subject: donate Speakerinnen<br>
      IBAN DE54 4306 0967 2049 2233 01<br>
      SWIFT/BIC GENODEM1GLS<br>
    </ul>
  </div>
  <p>
    You can deduct the amount of your donation from your taxes, and you will receive a donation receipt for donations of 200 Euros or more.
  </p>
  <p class="font-weight-bold">
    Thank you very much for your support!
  </p>
</div>
