<div class="container bg--white pb-5">
  <h1 class="display-4 py-5">Kann ich euch Geld spenden?</h1>
  <p>
  Yay, das ist eine super Idee! Du kannst uns über Kombüse e.V. Geld überweisen. Den Spendenbetrag kannst du von der Steuer absetzen.
  </br>
  Ab 200 Euro erhältst du eine Spendenquittung.
  </p>
  <div>
    <ul class="list-unstyled pl-0 pb-5 mb-5 border-bottom font-weight-bold">
      <li>Kombüse e.V.</li>
      <li>Betreff: speakerinnen</li>
      <li>IBAN DE54 4306 0967 2049 2233 01</li>
      <li>SWIFT/BIC GENODEM1GLS</li>
    </ul>
  </div>
</div>
