<div class="container bg--white pb-5 donations">
  <h1 class="display-4 py-5">Your support for Speakerinnen.org
</h1>
  <p>
    Speakerinnen.org lives from your support. Almost 5,000 female experts are already part of our community - with their knowledge, their perspectives and their passion. Together, we ensure that public debates, panels and conferences become more diverse and representative.
  </p>
  <p>
  We need your help to ensure that this remains the case and that we can continue to develop the platform. Your donation enables us to run Speakerinnen.org free of charge and open to all, to develop new functions and to strengthen the visibility of female experts in the long term.
  </p>
  <p>
  Every contribution - big or small - makes a difference.
  </p>
  <p>
    Thank you for helping to bring diversity to the stage and to the public! 💜
  </p>
   <p class="font-weight-bold">
    How to donate:
  </p>
  <p>
    Donations go to Kombüse e.V. with the following purpose:
    <br>
    "Donate Speakerinnen"
  </p>
    <div>
    <p class="font-weight-bold">
      Kombüse e.V.<br>
      Subject: donate Speakerinnen<br>
      IBAN DE54 4306 0967 2049 2233 01<br>
      SWIFT/BIC GENODEM1GLS<br>
    </ul>
  </div>
  <p>
    Donations are tax-deductible; we are happy to issue a donation receipt for donations of € 200 or more.
  </p>
</div>
