<div class="white-bg">
  <div class="container profiles">
    <div class="row">
      <div class="span10">
        <h1 class="title-profiles">FAQ/How-to</h1>

        <strong>Why is there no speaker for the topic I am looking for?</strong>
        <span class="italic">Possibly, nobody has created a tag for this topic yet. As soon as a speaker names this topic as one of her tags, this topic becomes visible as a tag within the topic range.</span>
        <br>
        <br>
        <strong>Can anybody join in?</strong><br>
        <span class="italic">Yes. </span>
        <br>
        <br>
        <strong>Why has my profile not been activated yet?</strong>
        <span class="italic">One of two reasons may apply: <br>a.) If your profile has just been created, it might take a bit since we're not online 24/7. <br>b.) We might have thought that your profile is a draft version because we might have had the impression that there is too little information so far. In case you mean to have it activtated as is, please drop us a line: speakerinnen@lists.riseup.net</span>
        <br>
        <br>
        <strong>How can I donate any money?</strong>
        <span class="italic">Thank you for such a nice and cooperative idea. A donations button will be projected in due course.</span>
      </div>
    </div>
  </div>
</div>