<div class="container bg--white pb-5">
  <h1 class="display-4 pt-5">FAQ</h1>
  <p>Here we answer your most important questions about the Speakerinnen.org platform and how you can create as meaningful a profile as possible.</p>

<div class="accordion" id="accordionExample">

  <div class="card">
    <div class="card-header hover-activated" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h4>How is speakerinnen.org related to the subpages for Vorarlberg and OOE?</h4>
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <p>Since the beginning of the year 2022, the Speakerinnen team has been cooperating with a group of dedicated women from Vorarlberg in Austria.
          We have created an independently appearing website with a so-called subdomain, but using the same database in the background.
          On the page vorarlberg.speakerinnen.org you will find all speakers who have entered "Vorarlberg" as their state. In the year 2023 a further
          cooperation with women from Upper Austria arose with the subdomain ooe.speakerinnen.org.
          On speakerinnen.org you will find all speakers, including women from Vorarlberg and Upper Austria.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header hover-activated" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <h4>Who can register on Speakerinnen.org?</h4>
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <p>The goal of Speakerinnen.org is to get more women on stages and podiums, to conferences, workshops, meetings, and into media. Hence, everybody who identifies as a women can register herself. The Speakerinnen team vets every submission for completeness before publishing it.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header hover-activated" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          <h4>Which topics can I choose?</h4>
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <p>You can freely choose your own topics. Upon entering one, you'll get suggestions of similar topics - you can choose one of them or create a new topic. Topics can be in any language. We organize topics into categories, which are then displayed on the Speakerinnen site.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header hover-activated" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
         <h4>Which languages can I use for my profile?</h4>
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        <p>You can create your profile in either exclusively German, exclusively English, or once in each language. If you create your profile in just one of the languages, it will only be shown in the <a href="https://speakerinnen.org/de">German</a> or <a href="https://speakerinnen.org/en">English</a> version of the site. If you create your profile in both languages, it will be shown in both language versions.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header hover-activated" id="headingFive">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <h4>Why is my profile not yet published?</h4>
        </button>
      </h2>
    </div>
    <a id="donate_anker"></a>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
       <p>The Speakerinnen team consists of volunteers and is not constantly online. If you just submitted your profile, it can take a moment before it is reviewed and published. If you only provided very little information, we may assume that it's not yet complete. If you want to publish it anyways, send a mail to <a href="mailto:team@speakerinnen.org">team@speakerinnen.org</a>.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header hover-activated" id="headingSix">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          <h4>I already have an account - how can I change mail address and/or password?</h4>
        </button>
      </h2>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
      <div class="card-body">
       <p>Log in under "Login" with your mail address and password. After logging in, click on "Edit user account" in the upper right corner of your profile. Here you can change your email address and/or your password. One click on "Update account" - done.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header hover-activated" id="headingSeven">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          <h4>How can I give you money?</h4>
        </button>
      </h2>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
      <div class="card-body">
        <p>Thank you for such a nice and cooperative idea! You can donate money through the account of Kombüse e.V.: </p>
        <ul class="list-unstyled pl-0 pb-5 mb-5 border-bottom font-weight-bold">
          <li>Kombüse e.V.</li>
          <li>Reference: speakerinnen</li>
          <li>IBAN DE54 4306 0967 2049 2233 01</li>
          <li>SWIFT/BIC GENODEM1GLS</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header hover-activated" id="headingEight">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          <h4>How do I create a speaker profile that is as meaningful as possible?</h4>
        </button>
      </h2>
    </div>
    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <h5 class="mt-4">Step 1: Register as Speaker</h5>
            <p>At the top right of the page you will find the button "Register as Speaker" - click on it and off you go!
            First you have to enter your e-mail address, then a password of your choice. Please repeat this password. Then click on "sign up".</p>

            <p>You will now receive an e-mail to the address you entered. Here you will find the link "Confirm my account" - click on it!
            You will now be taken back to the speaker's page, where you can log in with your email address and password.
            </p>

          </div>
          <div class="col-lg-6 col-md-12 mt-4">
            <%= image_tag('faq_login_en.png', class:'border img-fluid float-md-right') %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-12 mt-4">
            <%= image_tag('faq_edit_profile_en.png', class:'border img-fluid float-md-left') %>
          </div>
          <div class="col-lg-6 col-md-12">
            <h5 class="mt-4">Step 2: Fill out profile</h5>
            <p>Once you are logged in, you will be taken to your profile page. It now says, "Nothing to see here yet ¯_(ツ)_/¯."
            To complete your profile, click on the "Edit profile" button on the right.
            On the page that now opens - "Update your profile" - you can and should enter various profile information: First name and last name, the country where you live and work and the languages you speak.
            Please do not enter any programming languages - they belong to your topics.
            </p>

            <p>But first, on the very top of the page you will find the button "Browse" under "A picture of me". With this button you can upload a profile photo. Please use a jpg, jpeg or png and make sure that you own the rights to this photo! The size of the photo should be smaller than 1 MB.
            You may have noticed that the profile photos on our site are displayed in black and white. If you move the mouse over them, the original will appear. Therefore it would be nice if you use a colored picture to create this effect.
            </p>

            <p>Now you can enter tags, i.e. the topics you are dealing with. This can be journalism, biotechnology or net feminism. Please check first if there are already tags you can use.
            You can find them by simply entering the first few letters of your desired tag - then terms will be suggested. Or you can look at the speakers page to see which topics have already been entered.
            </p>

            <p>In the next step you will find two tabs: German and English. Here you can enter further profile information in both languages. You can also fill out only the German or only the English tab. Here you enter: the city you live in and, if available, a Twitter account and one or more websites.
            Next, you should enter your main topic - just one, please be clear and easy to understand. Examples are "Social Media", "Sustainable Agriculture" or "Human Resources".
            The main topic appears as a caption under your profile photo. Important: in the profile overview the main topic is limited to 31 characters.
            </p>

            <p>Now please do fill in the field "My bio in English"!
            Without information in this field we cannot unlock the profile. This information is only displayed when you click on the German version of the page (see top right).</p>

            <p>Finally, simply click on "Update your profile" at the bottom of the page and you will see your profile as others will see it after activation.
            If necessary, you can edit your profile at any time.
            </p>
          </div>
        </div>

        <h5 class="mt-4">Step 3: Specify references</h5>
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <p>To enter references, please click on the button "Edit previous talks" on the right. The overview page of your references will open.
            Then click on the button "Add previous talks" and enter a URL where the reference can be found, a headline and a short description. Then please use the drop-down menu to specify the language in which your presentation, your contribution to the discussion etc. is available. Then click on "Add reference" and the reference will be found in your profile under "My talks / references".
            You can easily change the order of the references at any time by simply moving them up or down.
            If you want to view your finished profile, just click on the link "View your profile" and you will see how your profile will look like after activation.
            </p>
          </div>
          <div class="col-lg-6 col-md-12 mt-4">
            <%= image_tag('faq_add_profile_references_en.png', class:'border img-fluid float-md-left') %>
          </div>
        </div>

        <h5 class="mt-4">Step 4: Activation</h5>
        <p>The team of speakers will receive a notification with every new registration. We will activate your profile - when it is complete - as soon as possible.
        Should you have any questions or wonder why your profile is not yet visible, please contact Christiane from the Speakerinnen-Team at christiane[at]speakerinnen.org!
        As soon as your profile is visible to everyone, you will receive an automatic email telling you: Your profile has now been activated!
        </p>

        <h5 class="mt-4">Tips: How do I create a speaker profile that is as meaningful as possible?</h5>
        <ul>
          <li>Insert a good photo of yourself! You can exchange this at any time if you wish.</li>
          <li>Do not leave the category "My bio" empty! If it is not filled in, we usually cannot activate the profile.</li>
          <li>Don't leave too much text in the category "My bio" - it should be clear, easy to understand and meaningful!</li>
          <li>If possible, also fill in the category "Previous Talks". If you have not given any talks so far, describe your experiences in the biography that make up for this! Maybe there is also a website that illustrates your experiences. You can also enter this under "Previous Talks".</li>
          <li>The tags serve to quickly and clearly show where your competences lie, so that the organisers can find a suitable speaker as quickly as possible. Therefore, orient yourself on the existing tags! If you enter new tags, do not use more than 1-2 words and describe your field of competence clearly and self-explanatory!</li>
        </ul>
      </div>
    </div>
  </div>
</div>
