<div>
    <h1 class="display-4 pt-5">FAQ</h1>
    <p>Here we answer your most important questions about the Speakerinnen.org platform and how you can create as meaningful a profile as possible.
Who can register on Speakerinnen.org?:
The goal of Speakerinnen.org is to get more women on stages and podiums, to conferences, workshops, meetings, and into media. Hence, everybody who identifies as a women can register herself. The Speakerinnen team vets every submission for completeness before publishing it.
</div>

<div class="accordion" id="accordionExample">

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h4>Which topics can I choose?</h4>
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <p>You can freely choose your own topics. Upon entering one, you'll get suggestions of similar topics - you can choose one of them or create a new topic. Topics can be in any language. We organize topics into categories, which are then displayed on the Speakerinnen site.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         <h4>Which languages can I use for my profile?</h4>
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <p>You can create your profile in either exclusively German, exclusively English, or once in each language. If you create your profile in just one of the languages, it will only be shown in the <a href="https://speakerinnen.org/de">German</a> or <a href="https://speakerinnen.org/en">English</a> version of the site. If you create your profile in both languages, it will be shown in both language versions.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h4>Why is my profile not yet published?</h4>
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
       <p>WThe Speakerinnen team consists of volunteers and is not constantly online. If you just submitted your profile, it can take a moment before it is reviewed and published. If you only provided very little information, we may assume that it's not yet complete. If you want to publish it anyways, send a mail to <a href=”mailto:team@speakerinnen.org”>team@speakerinnen.org</a>.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <h3>Ab hier mit deepl übersetzt</h3>
          <h4>I already have an account - how can I change mail address and/or password?</h4>
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
       <p>Log in under "Login" with your mail address and password. After logging in, click on "Edit user account" in the upper right corner of your profile. Here you can change your email address and/or your password. One click on "Update account" - done.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <h4>How can I give you money?</h4>
        </button>
      </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
       <p>Yay, that's a great idea! Unfortunately we are not (yet) able to accept donations at the moment, but we hope that this will be possible soon.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingSix">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          <h4>Steps to create a meaningful profile:</h4>
        </button>
      </h2>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
      <div class="card-body">
       <p>Step 1: Register as Speaker
At the top right of the page you will find the button "Register as Speaker" - click on it and off you go!
First you have to enter your e-mail address, then a password of your choice. Please repeat this password. Then click on "Register".</p>

<p>You will now receive an e-mail to the address you entered. Here you will find the link "Confirm my account" - click on it!
You will now be taken back to the speaker's page, where you can log in with your email address and password.
</p>

<p>By the way: Registration also works via Twitter. Just click on "Register via Twitter" and you will be forwarded to Twitter.
Here you will be asked: "Authorize speaker list to use your account? If you click on "Register", you will be taken back to the speaker page. Here you only need to enter an email address.
You will then receive an email with the sentence "Confirm my account". Clicking on it will take you back to the speaker's page, where you can log in with your email address and password.
</p>

<p>Step 2: Fill out profile
Once you are logged in, you will be taken to your profile page. It now says, "Nothing to see here yet ¯_(ツ)_/¯."
To complete your profile, click on the "Edit profile" button on the right.
On the page that now opens - "Update your profile" - you can and should enter various profile information: First name and surname, the country where you live and work and the languages you speak.
Please do not enter any programming languages - they belong to your topics.
</p>

<p>On the right you will find the button "Select file" under "Picture". With this button you can upload a profile photo. Please use a jpg, jpeg or png and make sure that you own the rights to this photo! The size of the photo should be smaller than 1 MB.
You may have noticed that the profile photos on our site are displayed in black and white. If you move the mouse over them, the original will appear. Therefore it would be nice if you use a colored picture to create this effect.
</p>

<p>Now you can enter tags, i.e. the topics you are dealing with. This can be journalism, biotechnology or net feminism. Please check first if there are already tags you can use.
You can find them by simply entering the first few letters of your desired tag - then terms will be suggested. Or you can look at the speakers page to see which topics have already been entered.
</p>

<p>In the next step you will find two tabs: German and English. Here you can enter further profile information in both languages. You can also fill out only the German or only the English tab. Here you enter: the city you live in and, if available, a Twitter account and one or more websites.
Next you enter a topic here. This should be your main topic - just one, please be clear and easy to understand. Examples are "Social Media", "Sustainable Agriculture" or "Human Resources".
The main topic appears as a caption under your profile photo. Important: in the profile overview the main topic is limited to 31 characters.
</p>

<p>Now in any case fill in the field "Biography"!
Without information in this field we cannot unlock the profile. You can enter all this also in German if you wish, but it is not mandatory. This information is only displayed when you click on the German version of the page (see top right).</p>

<p>Finally, simply click on "Update your profile" at the bottom of the page and you will see your profile as others will see it after activation.
If necessary, you can edit your profile at any time.
</p>

<p>Step 3: Specify references
To enter references, please click on the button "Edit references" on the right. The overview page of your references will open.
Then click on the link "Add reference" and enter a URL where the reference can be found, a headline and a short description. Then please use the drop-down menu to specify the language in which your presentation, your contribution to the discussion etc. is available. Then click on "Add reference" and the reference will be found in your profile under "My talks / references".
You can easily change the order of the references at any time by simply moving them up or down.
If you want to view your finished profile, just click on the link "View your profile" and you will see how your profile will look like after activation.
</p>

<p>Step 4: Activation
The team of speakers will receive a notification with every new registration. We will activate your profile - when it is complete - as soon as possible.
Should you have any questions or wonder why your profile is not yet visible, please contact Christiane from the Speakerinnen-Team at christiane[at]speakerinnen.org!
As soon as your profile is visible to everyone, you will receive an automatic email telling you: Your profile has now been activated!
</p>

<p>Tips: How do I create a speaker profile that is as meaningful as possible?
Insert a good photo of yourself! You can exchange this at any time if you wish.
Do not leave the category "My biography" empty! If it is not filled in, we usually cannot activate the profile.
Don't leave too much text in the category "My Biography" - it should be clear, easy to understand and meaningful!
If possible, also fill in the category "My lectures". If you have not given any lectures so far, describe your experiences in the biography that make up for this! Maybe there is also a website that illustrates your experiences. You can also enter this under "My Lectures".
The tags serve to quickly and clearly show where your competences lie, so that the organisers can find a suitable speaker as quickly as possible. Therefore, orient yourself on the existing tags! If you enter new tags, do not use more than 1-2 words and describe your field of competence clearly and self-explanatory!
</p>
      </div>
    </div>
  </div>
</div>
