<section class="content--bg-grey">
  <div class="layout-wrapper">
    <h1 class="bb">FAQ/How-to</h1>

    <h3 class="pt">Warum gibt es Thema XYZ noch nicht?</h3>
    <p>
    Weil es noch niemand angelegt hat. Alle Themen, die in der Speakerinnen-Liste zu sehen sind, wurden von mindestens einer Speakerin in ihrem Profil als 'Tags' eingegeben. Daraus entstehen automatisch auf der Seite die für alle sichtbaren Themen.
    </p>

    <h3 class="pt">Können sich alle einfach eintragen?</h3>
    <p>Ja. </p>

    <h3 class="pt">Warum ist mein Profil noch nicht freigeschaltet?</h3>
    <p>
    Wir sind nicht ständig online: wenn das Profil gerade erst fertig eingetragen wurde, kann es einen Moment dauern. 
    </p>
    <p>
    Falls es aber sehr wenig Informationen im Profil stehen, dachten wir möglicherweise, dass es noch nicht fertig ist. Wenn du möchtest, dass es trotzdem freigeschaltet wird, dann schreib uns eine Mail an speakerinnen@lists.riseup.net.
    </p>

    <h3 class="pt">Wonach kann ich suchen?</h3>
    <p>
    Du kannst alle Felder durchsuchen, die die Speakerinnen* ausfüllen können:
    <br> Name - Sprachen - Stadt - Referenzen - Themen - Biografie - Titel
    <br> Mit AND und OR-Verknüpfungen kannst du auch Kombinationen suchen, z.B. Energie Berlin. Wenn du mehrere Begriffe hintereinander eingibst, werden sie automatisch als AND-Verknüpfung erkannt. Groß- und Kleinschreibung spielt keine Rolle.
    </p>

    <h3 class="pt">Wie kann ich Euch Geld spenden?</h3>
    <p class="mb0">Aktuell ist das nicht möglich, aber freuen uns sehr über die Bereitschaft! Und versuchen, bald eine Option zum Spenden einzurichten.
    </p>
  </div>
</section>
