<div class="container bg--white pb-5">
  <h1 class="display-4 pt-5">FAQ</h1>
  <p>Hier beantworten wir Eure wichtigsten Fragen zur Plattform Speakerinnen.org und dazu, wie Ihr ein möglichst aussagekräftiges Profil anlegen könnt.</p>

  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header hover-activated" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h4>Wie hängt speakerinnen.org mit den Unterseiten Vorarlberg und OOE zusammen?</h4>
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <p>Seit Anfang des Jahres 2022 kooperiert das Team von Speakerinnen mit einer Gruppe von engagierten Frauen aus Vorarlberg in Österreich.
            Wir haben mit einer sogenannten Subdomain eine unabhängig erscheinende Webseite erstellt, die aber im Hintergrund dieselbe Datenbank benutzt.
            Auf der Seite vorarlberg.speakerinnen.org findest du alle Speakerinnen, die als Bundesland „Vorarlberg“ eingetragen haben. Im Jahr 2023 ist eine
            weitere Kooperation mit Frauen aus Oberösterreich entstanden mit der Subdomain ooe.speakerinnen.org.
            Auf der Seite speakerinnen.org findest du alle Speakerinnen, einschließlich der Frauen aus Vorarlberg und Oberösterreich.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header hover-activated" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <h4>Wer kann sich auf Speakerinnen.org eintragen?</h4>
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <p>Speakerinnen.org hat das Ziel, mehr Frauen auf Bühnen und Podien, zu Konferenzen, Workshops, Meetings und in die Medien zu bringen. Es können sich daher alle registrieren, die sich selbst als Frau verstehen.
          Nach der Registrierung prüft das Speakerinnen-Team jeden Eintrag vor der Freischaltung auf Vollständigkeit.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header hover-activated" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            <h4>Welche Themen kann ich wählen?</h4>
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <p>Du kannst selbst Deine Themen vergeben. Bei der Eingabe eines Themas werden Dir ähnlich lautende Vorschläge gemacht – Du kannst diese Direkt anwählen oder ein anderes, neues Thema anlegen. Themen kannst Du in allen Sprachen eingeben.
          Die Themen werden von uns in Kategorien gebündelt und auf der Speakerinnen-Seite präsentiert.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header hover-activated" id="headingFour">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
           <h4>In welcher Sprache kann ich ein Profil anlegen?</h4>
          </button>
        </h2>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body">
          <p>Du kannst Dein Profil ausschließlich auf Deutsch, ausschließlich auf Englisch oder in beiden Sprachen anlegen. Legst Du ein Profil nur in einer Sprache an, wird es nur auf der jeweiligen deutschen bzw. englischen Sprachversion gefunden. Legst Du es auf Deutsch und Englisch an, wirst Du auf beiden Sprachversionen gefunden.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header hover-activated" id="headingFive">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <h4>Warum ist mein Profil noch nicht freigeschaltet?</h4>
          </button>
        </h2>
      </div>
      <a id="donate_anker"></a>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
        <div class="card-body">
         <p>Wir arbeiten ehrenamtlich im Speakerinnen-Team und sind daher nicht ständig online: Wenn Du also Dein Profil gerade erst eingetragen hast, kann es einen Moment dauern, bis wir es per Hand freischalten.
         Falls Du sehr wenige Informationen in Deinem Profil hinterlegt hast, dachten wir möglicherweise, dass es noch nicht fertig ist. Wenn Du möchtest, dass es trotzdem freigeschaltet wird, dann schreib uns eine Mail an <a href="mailto:team@speakerinnen.org">team@speakerinnen.org</a>.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header hover-activated" id="headingSix">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            <h4>Ich habe bereits einen Account – wie kann ich Mailadresse und/oder Passwort ändern?</h4>
          </button>
        </h2>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
        <div class="card-body">
         <p>Melde Dich unter „Einloggen“ mit Deiner Mailadresse und Passwort an. Nach der Anmeldung klicke in Deinem Profil oben rechts auf „Benutzerkonto bearbeiten“. Hier kannst Du Dein Mailadresse und/oder Dein Passwort ändern. Ein Klick auf „Aktualisiere Account“ – fertig.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header hover-activated" id="headingSeven">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            <h4>Wie kann ich Euch Geld spenden?</h4>
          </button>
        </h2>
      </div>
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
        <div class="card-body">
         <p>Yay, das ist eine super Idee! Du kannst uns über Kombüse e.V. Geld überweisen. Den Spendenbetrag kannst du von der Steuer absetzen, ab 200 Euro erhältst du eine Spendenquittung.</p>
          <ul class="list-unstyled pl-0 pb-5 mb-5 border-bottom font-weight-bold">
            <li>Kombüse e.V.</li>
            <li>Betreff: speakerinnen</li>
            <li>IBAN DE54 4306 0967 2049 2233 01</li>
            <li>SWIFT/BIC GENODEM1GLS</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header hover-activated" id="headingEight">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            <h4>Wie erstelle ich ein möglichst aussagekräftiges Speakerinnen-Profil?</h4>
          </button>
        </h2>
      </div>
      <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <h5 class="mt-4">Schritt 1: Als Speakerin registrieren</h5>
              <p>Rechts oben auf der Seite findest Du den Button „Registrieren“ – draufklicken und schon geht es los!
              Zuerst musst Du Deine E-Mail-Adresse eingeben, dann ein Passwort Deiner Wahl. Dieses bitte wiederholen. Dann auf „Registrieren“ klicken.</p>

              <p>Du erhältst nun eine E-Mail an die angegebene Adresse. Hier findest Du den Link „Bestätige meinen Account“ – draufklicken!
              Du kommst nun wieder auf die Speakerinnen-Seite, wo Du Dich mit E-Mail-Adresse und Passwort anmelden kannst.</p>

            <div class="col-lg-6 col-md-12 mt-4">
              <%= image_tag('faq_login_de.png', class:'border img-fluid float-md-right') %>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-12 mt-4">
              <%= image_tag('faq_edit_profile_de.png', class:'border img-fluid float-md-left') %>
            </div>
            <div class="col-lg-6 col-md-12 mt-4">
              <h5>Schritt 2: Profil ausfüllen</h5>
              <p>Sobald Du eingeloggt bist, kommst Du auf Deine Profilseite. Hier steht nun: „Hier gib es noch nix zu sehen ¯_(ツ)_/¯.“
              Um Dein Profil zu vervollständigen, klicke rechts auf den Button "Profil bearbeiten".
              Auf der Seite, die sich nun öffnet – „Aktualisiere Dein Profil“ – kannst und solltest Du verschiedene Profilinformationen hinterlegen: Vorname und Nachname, das Land in dem Du wohnst und tätig bist und die Sprachen, die Du sprichst.
              Bitte keine Programmiersprachen eingeben – sie gehören zu Deinen Themen.</p>

              <p>Ganz oben findest Du unter „Ein Foto von mir“ den Button „Durchsuchen“. Hierüber kannst Du ein Profilfoto hochladen. Bitte nutze ein jpg, jpeg oder png und achte darauf, dass Du die Rechte an diesem Foto besitzt! Die Größe des Fotos sollte kleiner als 1 MB sein.
              Dir ist vielleicht aufgefallen, dass die Profilfotos auf unserer Seite in schwarz-weiß angezeigt werden. Wenn man mit der Maus darüber fährt, erscheint das Original. Deshalb wäre es schön, wenn Du ein farbiges Bild verwendest, damit dieser Effekt entstehen kann.</p>

              <p>Jetzt kannst Du Tags eingeben, also die Themen, mit denen Du Dich beschäftigst. Das kann Journalismus sein, Biotechnologie oder Netzfeminismus. Bitte prüfe zuerst, ob es bereits Tags gibt, die Du nutzen kannst.
              Du findest sie, indem Du einfach die ersten Buchstaben Deines Wunsch-Tags eingibst – dann werden Dir Begriffe vorgeschlagen. Oder Du schaust Dir auf der Speakerinnen-Seite an, welche Themen bereits eingegeben wurden.</p>

              <p>Im nächsten Schritt findest Du zwei Reiter: Deutsch und Englisch. Hier kannst Du weitere Profilinformationen jeweils in beiden Sprachen hinterlegen. Du kannst aber auch nur den deutschen bzw. nur den englischen Reiter ausfüllen. Hier gibst Du an: die Stadt, in der Du wohnst und soweit vorhanden einen Twitter-Account sowie eine oder mehrere Webseiten.
              Als nächsten hinterlegst Du hier einen Themenschwerpunkt. Das sollte Dein Hauptthema sein – nur eins, bitte eindeutig und gut verständlich. Beispiele hierfür sind „Social Media“, „Nachhaltige Landwirtschaft“ oder auch „Human Resources“.
              Das Hauptthema erscheint als Bildunterschrift unter Deinem Profilfoto. Wichtig: in der Übersicht der Profile wird das Hauptthema auf 31 Zeichen begrenzt.</p>

              <p>Nun auf jeden Fall das Feld „Biografie“ ausfüllen!
              Ohne Angaben in diesem Feld können wir das Profil nicht freischalten. Du kannst das alles auf Wunsch auch auf Englisch eingeben, das ist aber keine Pflicht. Diese Angaben werden nur angezeigt, wenn man auf die englische Version der Seite (siehe oben rechts) klickt.</p>

              <p>Abschließend einfach ganz unten auf „Aktualisiere Dein Profil“ klicken und schon siehst Du Dein Profil, wie andere es nach der Freischaltung sehen werden.
              Bei Bedarf kannst Du Dein Profil jederzeit nachträglich bearbeiten.</p>
            </div>
          </div>

          <h5 class="mt-4">Schritt 3: Referenzen angeben</h5>
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <p>Um Referenzen einzutragen, klicke bitte rechts auf den Button „Referenzen bearbeiten“. Es öffnet sich die Überblicksseite Deiner Referenzen.
              Klicke dann auf den Link „Referenz hinzufügen“ und gib nun eine URL, wo die Referenz zu finden ist, eine Überschrift sowie eine kurze Beschreibung an. Dann gib bitte per Dropdown kurz die Sprache an, in der Dein Vortrag, Dein Diskussionsbeitrag etc. verfügbar ist. Dann auf „Referenz hinzufügen“ klicken und schon befindet sich die Referenz unter „Meine Vorträge / Referenzen“ in Deinem Profil.
              Du kannst die Reihenfolge der Referenzen jederzeit problemlos verändern, indem Du sie einfach nach oben oder unten verschiebst.
              Willst Du Dir Dein fertiges Profil anschauen, gehe einfach auf den Link „Eigenes Profil anzeigen“ und schon siehst Du, wie Dein fertiges Profil nach der Freischaltung aussehen wird.</p>
            </div>
            <div class="col-lg-6 col-md-12">
              <%= image_tag('faq_add_profile_references_de.png', class:'border img-fluid float-md-right') %>
            </div>
          </div>

          <h5 class="mt-4">Schritt 4: Freischaltung</h5>
          <p>Das Speakerinnen-Team erhält eine Benachrichtigung bei jeder neuen AnmelDung. Wir werden Dein Profil – wenn es vollständig ist – so schnell wie möglich freischalten.
          Solltest Du Rückfragen haben oder Dich wundern, warum Dein Profil noch nicht sichtbar ist, wende Dich jederzeit an Christiane vom Speakerinnen-Team unter christiane[at]speakerinnen.org!
          Sobald Dein Profil für alle sichtbar ist, erhältst Du eine automatische E-Mail, die Dir sagt: Dein Profil wurde jetzt freigeschaltet!</p>

          <h5 class="mt-4">Tipps: Wie erstelle ich ein möglichst aussagekräftiges Speakerinnen-Profil?</h5>
          <ul>
            <li>Füge ein gutes Foto von Dir ein! Dieses kannst Du auf Wunsch jederzeit wieder austauschen.</li>
            <li>Lass die Kategorie „Meine Biografie“ nicht leer! Wird sie nicht ausgefüllt, können wir das Profil in der Regel nicht freischalten.</li>
            <li>Füge in der Kategorie „Meine Biografie“ keinen allzu langen Fließtext ein – übersichtlich, schnell erfassbar und aussagekräftig soll es sein!</li>
            <li>Fülle möglichst auch die Kategorie „Meine Vorträge“ aus. Falls Du bisher keine Vorträge gehalten hast, beschreibe in der Biografie Deine Erfahrungen, die das wieder ausgleichen! Vielleicht gibt es ja auch eine Website, die Deine Erfahrungen veranschaulicht. Auch diese kannst Du unter „Meine Vorträge“ eintragen.</li>
            <li>Die Tags dienen dazu, schnell und eindeutig zu verdeutlichen, wo Deine Kompetenzen liegen, damit die Veranstalter möglichst schnell eine passende Speakerin finden. Orientiere Dich daher an den bestehenden Tags! Wenn Du neue Tags eingibst, nutze möglichst nicht mehr als 1-2 Wörter und beschreibe Dein Kompetenzfeld eindeutig und selbsterklärend!</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
