<div>
    <h1 class="display-4 pt-5">FAQ</h1>
    <p>Here we answer your most important questions about the Speakerinnen.org platform and how you can create as meaningful a profile as possible.
Who can register on Speakerinnen.org?:
The goal of Speakerinnen.org is to get more women on stages and podiums, to conferences, workshops, meetings, and into media. Hence, everybody who identifies as a women can register herself. The Speakerinnen team vets every submission for completeness before publishing it.
</div>

<div class="accordion" id="accordionExample">

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h4>Which topics can I choose?</h4>
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <p>You can freely choose your own topics. Upon entering one, you'll get suggestions of similar topics - you can choose one of them or create a new topic. Topics can be in any language. We organize topics into categories, which are then displayed on the Speakerinnen site.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         <h4>Which languages can I use for my profile?</h4>
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <p>You can create your profile in either exclusively German, exclusively English, or once in each language. If you create your profile in just one of the languages, it will only be shown in the <a href="https://speakerinnen.org/de">German</a> or <a href="https://speakerinnen.org/en">English</a> version of the site. If you create your profile in both languages, it will be shown in both language versions.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h4>Why is my profile not yet published?</h4>
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
       <p>WThe Speakerinnen team consists of volunteers and is not constantly online. If you just submitted your profile, it can take a moment before it is reviewed and published. If you only provided very little information, we may assume that it's not yet complete. If you want to publish it anyways, send a mail to <a href=”mailto:team@speakerinnen.org”>team@speakerinnen.org</a>.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <h4>Ich habe bereits einen Account – wie kann ich Mailadresse und/oder Passwort ändern?</h4>
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
       <p>Melde Dich unter „Einloggen“ mit Deiner Mailadresse und Passwort an. Nach der Anmeldung klicke in Deinem Profil oben rechts auf „Benutzerkonto bearbeiten“. Hier kannst Du Dein Mailadresse und/oder Dein Passwort ändern. Ein Klick auf „Aktualisiere Account“ – fertig.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <h4>Wie kann ich Euch Geld spenden?</h4>
        </button>
      </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
       <p>Yay, das ist eine super Idee! Leider können wir gerade (noch) keine Spenden annehmen, hoffen aber, dass das bald möglich sein wird.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingSix">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          <h4>Schritte zum Anlegen eines aussagekräftigen Profils:</h4>
        </button>
      </h2>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
      <div class="card-body">
       <p>Schritt 1: Als Speakerin registrieren
Rechts oben auf der Seite findest Du den Button „Als Speakerin registrieren“ – draufklicken und schon geht es los!
Zuerst musst Du Deine E-Mail-Adresse eingeben, dann ein Passwort Deiner Wahl. Dieses bitte wiederholen. Dann auf „Registrieren“ klicken.</p>

<p>Du erhältst nun eine E-Mail an die angegebene Adresse. Hier findest Du den Link „Bestätige meinen Account“ – draufklicken!
Du kommst nun wieder auf die Speakerinnen-Seite, wo Du Dich mit E-Mail-Adresse und Passwort anmelden kannst.</p>

<p>Übrigens: Eine Registrierung funktioniert auch über Twitter. Dafür einfach auf „Über Twitter registrieren“ klicken, dann wirst Du zu Twitter weitergeleitet.
Hier wirst Du gefragt: „Speakerinnenliste berechtigen, Deinen Account zu nutzen?“. Wenn Du auf Anmelden klickst, geht es zurück auf die Speakerinnen-Seite. Hier musst Du nur noch eine E-Mail-Adresse eingeben.
Anschließend erhältst Du eine E-Mail, in der Du den Satz „Bestätige meinen Account“ findest. Draufklicken, dann wirst Du auf die Speakerinnen-Seite zurückgeleitet, wo Du Dich mit E-Mail-Adresse und Passwort anmelden kannst.</p>

<p>Schritt 2: Profil ausfüllen
Sobald Du eingeloggt bist, kommst Du auf Deine Profilseite. Hier steht nun: „Hier gib es noch nix zu sehen ¯_(ツ)_/¯.“
Um Dein Profil zu vervollständigen, klicke rechts auf den Button "Profil bearbeiten".
Auf der Seite, die sich nun öffnet – „Aktualisiere Dein Profil“ – kannst und solltest Du verschiedene Profilinformationen hinterlegen: Vorname und Nachname, das Land in dem Du wohnst und tätig bist und die Sprachen, die Du sprichst.
Bitte keine Programmiersprachen eingeben – sie gehören zu Deinen Themen.</p>

<p>Rechts findest Du unter „Bild“ den Button „Datei auswählen“. Hierüber kannst Du ein Profilfoto hochladen. Bitte nutze ein jpg, jpeg oder png und achte darauf, dass Du die Rechte an diesem Foto besitzt! Die Größe des Fotos sollte kleiner als 1 MB sein.
Dir ist vielleicht aufgefallen, dass die Profilfotos auf unserer Seite in schwarz-weiß angezeigt werden. Wenn man mit der Maus darüber fährt, erscheint das Original. Deshalb wäre es schön, wenn Du ein farbiges Bild verwendest, damit dieser Effekt entstehen kann.</p>

<p>Jetzt kannst Du Tags eingeben, also die Themen, mit denen Du Dich beschäftigst. Das kann Journalismus sein, Biotechnologie oder Netzfeminismus. Bitte prüfe zuerst, ob es bereits Tags gibt, die Du nutzen kannst.
Du findest sie, indem Du einfach die ersten Buchstaben Deines Wunsch-Tags eingibst – dann werden Dir Begriffe vorgeschlagen. Oder Du schaust Dir auf der Speakerinnen-Seite an, welche Themen bereits eingegeben wurden.</p>

<p>Im nächsten Schritt findest Du zwei Reiter: Deutsch und Englisch. Hier kannst Du weitere Profilinformationen jeweils in beiden Sprachen hinterlegen. Du kannst aber auch nur den deutschen bzw. nur den englischen Reiter ausfüllen. Hier gibst Du an: die Stadt, in der Du wohnst und soweit vorhanden einen Twitter-Account sowie eine oder mehrere Webseiten.
Als nächsten hinterlegst Du hier einen Themenschwerpunkt. Das sollte Dein Hauptthema sein – nur eins, bitte eindeutig und gut verständlich. Beispiele hierfür sind „Social Media“, „Nachhaltige Landwirtschaft“ oder auch „Human Resources“.
Das Hauptthema erscheint als Bildunterschrift unter Deinem Profilfoto. Wichtig: in der Übersicht der Profile wird das Hauptthema auf 31 Zeichen begrenzt.</p>

<p>Nun auf jeden Fall das Feld „Biografie“ ausfüllen!
Ohne Angaben in diesem Feld können wir das Profil nicht freischalten. Du kannst das alles auf Wunsch auch auf Englisch eingeben, das ist aber keine Pflicht. Diese Angaben werden nur angezeigt, wenn man auf die englische Version der Seite (siehe oben rechts) klickt.</p>

<p>Abschließend einfach ganz unten auf „Aktualisiere Dein Profil“ klicken und schon siehst Du Dein Profil, wie andere es nach der Freischaltung sehen werden.
Bei Bedarf kannst Du Dein Profil jederzeit nachträglich bearbeiten.</p>

<p>Schritt 3: Referenzen angeben
Um Referenzen einzutragen, klicke bitte rechts auf den Button „Referenzen bearbeiten“. Es öffnet sich die Überblicksseite Deiner Referenzen.
Klicke dann auf den Link „Referenz hinzufügen“ und gib nun eine URL, wo die Referenz zu finden ist, eine Überschrift sowie eine kurze Beschreibung an. Dann gib bitte per Dropdown kurz die Sprache an, in der Dein Vortrag, Dein Diskussionsbeitrag etc. verfügbar ist. Dann auf „Referenz hinzufügen“ klicken und schon befindet sich die Referenz unter „Meine Vorträge / Referenzen“ in Deinem Profil.
Du kannst die Reihenfolge der Referenzen jederzeit problemlos verändern, indem Du sie einfach nach oben oder unten verschiebst.
Willst Du Dir Dein fertiges Profil anschauen, gehe einfach auf den Link „Eigenes Profil anzeigen“ und schon siehst Du, wie Dein fertiges Profil nach der Freischaltung aussehen wird.</p>

<p>Schritt 4: Freischaltung
Das Speakerinnen-Team erhält eine Benachrichtigung bei jeder neuen AnmelDung. Wir werden Dein Profil – wenn es vollständig ist – so schnell wie möglich freischalten.
Solltest Du Rückfragen haben oder Dich wundern, warum Dein Profil noch nicht sichtbar ist, wende Dich jederzeit an Christiane vom Speakerinnen-Team unter christiane[at]speakerinnen.org!
Sobald Dein Profil für alle sichtbar ist, erhältst Du eine automatische E-Mail, die Dir sagt: Dein Profil wurde jetzt freigeschaltet!</p>

<p>Tipps: Wie erstelle ich ein möglichst aussagekräftiges Speakerinnen-Profil?
Füge ein gutes Foto von Dir ein! Dieses kannst Du auf Wunsch jederzeit wieder austauschen.
Lass die Kategorie „Meine Biografie“ nicht leer! Wird sie nicht ausgefüllt, können wir das Profil in der Regel nicht freischalten.
Füge in der Kategorie „Meine Biografie“ keinen allzu langen Fließtext ein – übersichtlich, schnell erfassbar und aussagekräftig soll es sein!
Fülle möglichst auch die Kategorie „Meine Vorträge“ aus. Falls Du bisher keine Vorträge gehalten hast, beschreibe in der Biografie Deine Erfahrungen, die das wieder ausgleichen! Vielleicht gibt es ja auch eine Website, die Deine Erfahrungen veranschaulicht. Auch diese kannst Du unter „Meine Vorträge“ eintragen.
Die Tags dienen dazu, schnell und eindeutig zu verdeutlichen, wo Deine Kompetenzen liegen, damit die Veranstalter möglichst schnell eine passende Speakerin finden. Orientiere Dich daher an den bestehenden Tags! Wenn Du neue Tags eingibst, nutze möglichst nicht mehr als 1-2 Wörter und beschreibe Dein Kompetenzfeld eindeutig und selbsterklärend!</p>
      </div>
    </div>
  </div>
</div>
