<section class="content--bg-grey">
  <div class="layout-wrapper">
    <h1 class="bb">FAQ/How-to</h1>

    <h3 class="pt">Why is there no speaker for the topic I am looking for?</h3>
    <p>Possibly, nobody has created a tag for this topic yet. As soon as a speaker names this topic as one of her tags, this topic becomes visible as a tag within the topic range.
    </p>

    <h3 class="pt">Can anybody join in?</h3>
    <p>Yes.</p>

    <h3 class="pt">Why has my profile not been activated yet?</h3>
    <p>One of two reasons may apply:
    <br>a.) If your profile has just been created, it might take a bit since we're not online 24/7.
    <br>b.) We might have thought that your profile is a draft version because we might have had the impression that there is too little information so far. In case you mean to have it activtated as is, please drop us a line: speakerinnen@lists.riseup.net
    </p>

    <h3 class="pt">How do I use the search function?</h3>
    <p>You can search the fields, the speakers filled in their profiles:
    <br> name - language - city - references - topics - biography - title
    <br> You can search for combinations with AND an OR, e.g. energy berlin. If you use multiple words together they will be used as AND operator by default.
    </p>

    <h3 class="pt">How can I donate any money?</h3>
    <p class="mb0">Thank you for such a nice and cooperative idea. A donations button will be projected in due course.
    </p>
  </div>
</section>
