<div class="container bg--white pb-5">
  <h1 class="display-4 py-5 lower_case">Frauentag 2026: Die Mobilitätswende ist weiblich!</h1>
  <p>
Ob im Automotivsektor, bei der Shared Mobility oder im ÖPNV: Bei Fachpanels und Mobilitätskongressen finden sich auf den Bühnen immer noch überwiegend Männer. Das gilt für große Leitveranstaltungen ebenso wie für Konferenzen oder Keynotes zur Mobilitätswende.
</p>
<p>
Dabei arbeiten Frauen in allen Bereichen der Mobilität mit hoher fachlicher Expertise. Dennoch heißt es von Veranstalter*innen und Redaktionen noch immer zu oft: „Wir haben leider keine passende Frau gefunden."
</p>
<p>
Damit Verkehrsplanerinnen, Ingenieurinnen, Mobilitätsforscherinnen, ÖPNV-Expertinnen, Stadtentwicklerinnen, Managerinnen und politische Entscheiderinnen künftig besser von Event-Organisatorinnen, Journalistinnen und Moderator*innen gefunden werden können, rufen wir anlässlich des Internationalen Frauentags alle Frauen aus der Mobilitätsbranche dazu auf:
</p>
<p>
Registriert euch jetzt kostenlos bei Speakerinnen.org, nutzt dabei das Schlagwort <b>#womeninmobility</b> bei euren Themen und macht euch und eure Expertise sichtbar!
</p>

<div id="startpage-special" class="container py-5 bg--light-grey mt-5">
  <div class="row pt-5">
    <%= render partial: "profiles/profile", collection: @special_mobility_profiles %>
    <%= render partial: "profiles/register_special" %>
  </div>
</div>


<h1 class="display-4 py-5 lower_case">Frauen aus der Mobilitätsbranche auf die Bühne</h1>
<p>
Women in Mobility und Speakerinnen.org appellieren anlässlich des Frauentags an alle Expertinnen aus Mobilität, Verkehr und Logistik, sich bei Speakerinnen.org zu registrieren. Ziel ist es, die Sichtbarkeit von Frauen in einer Branche zu stärken, die vor tiefgreifenden Transformationsprozessen steht. Unsere Branche braucht euch und eure Perspektive.
</p>
<p>
Frauen sind in der Mobilitätsbranche zwar in nahezu allen Bereichen präsent, doch ihre öffentliche Sichtbarkeit bleibt hinter ihrer fachlichen Bedeutung zurück. Insbesondere auf Konferenzen, Fachveranstaltungen und in Leitungs- und Entscheidungsfunktionen sind sie unterrepräsentiert. Das betrifft klassische Verkehrsinstitutionen ebenso wie neue Mobilitätsunternehmen, Forschungseinrichtungen, Verkehrsverbünde, Verwaltungen und politische Gremien.
</p>
<p>
Das hat für uns alle Konsequenzen: Historisch wurde Mobilität von und für Männer geplant. Über Jahrzehnte basierten Infrastrukturen und Verkehrssysteme auf männlichen Mobilitätsmustern – der direkte Weg zwischen Wohn- und Arbeitsort stand im Mittelpunkt. Die Mobilitätsbedürfnisse von Frauen, die komplexere Wegeketten zurücklegen, wurden systematisch übersehen. Fehlende Barrierefreiheit, unsichere Infrastrukturen und unzureichende Beleuchtung sind bis heute die Folge.
</p>
<p>
Erst in den letzten Jahren wächst das Bewusstsein für die Notwendigkeit, gendersensible Mobilitätskonzepte zu entwickeln – für eine inklusive und gerechte Mobilität für alle.
</p>
<p>
„Die Mobilitätswende ist mehr als Technik und Infrastruktur", betont Women in Mobility. „Sie ist eine gesellschaftliche Aufgabe. Wer Mobilität für alle gestalten will, muss auch alle Perspektiven hören und darf Frauen als Expertinnen nicht systematisch ausschließen."
Für eine gerechte, klimafreundliche und inklusive Mobilität ist es entscheidend, unterschiedliche Perspektiven sichtbar zu machen – auch und gerade auf der Bühne.
</p>
<p  class='underline_links'>
<b>
<%= link_to "Hier alle Profile von Speakerinnen mit dem Schlagwort #womeninmobility ansehen", "https://speakerinnen.org/de/profiles?search=womeninmobility&button=" %>
</b>
</p>

<h1 class="display-4 py-5 lower_case">Über Women in Mobility</h1>
<p>
Women in Mobility ist ein branchenübergreifendes Netzwerk für Frauen* in der Mobilitätsbranche – von der Auszubildenden bis zur Vorstandsvorsitzenden, in Start-ups und Konzernen genauso wie in Wissenschaft, Verwaltung und Politik.
</p>
<p>
Wir vernetzen Frauen, machen deren Expertise sichtbar und bringen unterschiedliche Perspektiven in die Debatte um die Mobilitätswende ein. In regionalen Hubs in Deutschland, Österreich, der Schweiz und Großbritannien organisieren wir ehrenamtlich Austausch, Fachveranstaltungen und Mentoringformate und positionieren uns zu mobilitätspolitischen Fragen.
</p>
<p class='underline_links'>
Unser Anspruch: Mobilität gerechter, inklusiver, vielfältiger und zukunftsfähiger zu gestalten.<br>
Ausgezeichnet mit dem Deutschen Mobilitätspreis 2020.<br>
Zur Website von <%= link_to "Women in Mobility", "https://womeninmobility.org", target: "_blank", rel: "noopener" %></p>
</div>