<div class="pages">
  <div class="container">
    <div class="row">
      <div class="span8 imprint">
        <h1><%= t(:title, scope: "pages.imprint") %>:</h1>
        Travis Foundation<br>
        c/o Travis CI GmbH<br>
        Prinzessinnenstrasse 20<br>
        10969 Berlin, Germany<br>
        <a href= 'http://foundation.travis-ci.org' target="_blank"> http://foundation.travis-ci.org </a><br>
        Email: speakerinnen@lists.riseup.net<br><br>
      </div>
    </div>
  </div>
</div>
