<div class="container profiles">
  <h1 class="title-profiles"><%= t(:impressum_link, scope: "pages.home") %></h1>
<ul><li>Travis Foundation</li>
<li>c/o Travis CI GmbH</li>
<li>Prinzessinnenstrasse 20</li>
<li>10969 Berlin, Germany</li>

<p><a href= '/'> http://foundation.travis-ci.org/imprint/</a></p>
<p>Email: speakerInnen@gmail.com</p><ul>
</div>