<div class="container bg--white pb-5">
  <h1 class="display-4 py-5">Legal Details</h1>
  <h4>According to &sect; 5 TMG (Telemedia Act):</h4>
  <p>speakerinnen.org<br />
  c/o Kombüse e.V.<br />
  Ottersbekallee 14<br />
  <br />20255 Hamburg</p>

  <h4>Contact:</h4>
  E-Mail: team@speakerinnen.org</p>

  <h4>Liability for Content</h4>
  <p>According to the general laws of &sect; 7 Abs.1 TMG (Telemedia Act), as a service provider we are responsible for our own content on this site. According to &sect; 8 to 10 TMG (Telemedia Act), however, as a service provider we are not obliged to monitor transmitted or stored external information or to investigate circumstances that indicate illegal activity.</p>

  <p>Obligations to remove or block the use of information under general law remain unaffected. However, liability in this regard is only possible from the moment of knowledge of a specific infringement. Upon notification of appropriate violations, we will remove this content immediately.</p>

  <h4>Liability for Links</h4>
  <p>Our service contains links to external websites of third parties over whose contents we have no influence. Therefore we can not assume any liability for these external contents. The content of the linked pages is always the responsibility of the respective provider or operator of those pages. The linked pages have been checked for possible legal violations at the time of linking. Illegal content was not recognizable at the time of linking.</p>
  <p>A permanent content control of the linked pages is not reasonable without concrete evidence of a violation of law. Upon notification of violations, we will remove such links immediately.</p>

  <h4>Copyright</h4>
  <p>The content and works on these pages created by the site operators are subject to German copyright law. The duplication, processing, distribution and any kind of exploitation outside the limits of copyright require the written consent of the respective author or creator. Downloads and copies of this site are for private, non-commercial use only.</p>
  <p>As far as the contents on this site were not created by the operator, the copyrights of third parties are considered. In particular contents of third parties are marked as such. Should you be aware of a copyright infringement, we ask for notice. Upon notification of violations, we will remove such content immediately.</p>
  <br>Source: <a href="https://www.erecht24.de">eRecht24</a>
</div>
