<div class="pages">
  <div class="full-width-container">
    <div class="full-width-row">
      <div class="imprint">
        <h1><%= t(:title, scope: "pages.imprint") %>:</h1>
        Travis Foundation<br>
        c/o Travis CI GmbH<br>
        Prinzessinnenstrasse 20<br>
        10969 Berlin, Germany<br>
        <a href= 'http://foundation.travis-ci.org' target="_blank"> http://foundation.travis-ci.org </a><br>
        Email: speakerinnen@lists.riseup.net<br><br><br><br>
        <%= t(:privacy, scope: "pages.imprint") %>
        <iframe style="border: 0; height: 200px; width: 600px;" src="https://speaki.hadar.uberspace.de/piwik/index.php?module=CoreAdminHome&action=optOut&language=<%= I18n.locale %>">
        </iframe>
      </div>
    </div>
  </div>
</div>
