<div class="white-bg">
  <div class="container profiles">
    <div class="row">
      <div class="span8 imprint">
        <h1 class="title-profiles"><%= t(:title, scope: "pages.imprint") %>:</h1>
        <ul>
          <li>Travis Foundation</li>
          <li>Travis Foundation</li>
          <li>c/o Travis CI GmbH</li>
          <li>Prinzessinnenstrasse 20</li>
          <li>10969 Berlin, Germany</li>
          <li><a href= 'http://foundation.travis-ci.org' target="_blank"> http://foundation.travis-ci.org </a></li>
          <li>Email: speakerinnen@lists.riseup.net</li>
        <ul>
      </div>
    </div>
  </div>
</div>
