<div class="pages">
  <div class="container">
    <div class="row">
      <div class="span8 imprint">
        <h1><%= t(:title, scope: "pages.imprint") %></h1>
        Travis Foundation<br>
        c/o Travis CI GmbH<br>
        Rigaer Straße 8<br>
        10247 Berlin, Germany<br>
        <a href= 'http://foundation.travis-ci.org' target="_blank"> http://foundation.travis-ci.org </a><br>
        Email: speakerinnen@lists.riseup.net<br>
        Tel: +49 170 4549954
        <br><br><br><br>
        <%= t(:privacy, scope: "pages.imprint") %>
        <iframe style="border: 0; height: 200px; width: 600px;" src="https://speaki.hadar.uberspace.de/piwik/index.php?module=CoreAdminHome&action=optOut&language=<%= I18n.locale %>">
        </iframe>
      </div>
    </div>
  </div>
</div>
