<section class="content--bg-grey">
  <div class="layout-wrapper">
    <h1 class="bb"><%= t(:title, scope: "pages.imprint") %></h1>
    Travis Foundation<br>
    c/o Travis CI GmbH<br>
    Rigaer Straße 8<br>
    10247 Berlin, Germany<br>
    <a href= 'http://foundation.travis-ci.org' target="_blank"> http://foundation.travis-ci.org </a><br>
    Email: team@speakerinnen.org<br>
    Tel: +49 170 4549954
    <p class="bt pv mv+">
      <%= t(:privacy, scope: "pages.imprint") %>
    </p>

    <p><strong>Datenschutzerklärung</strong></p><p><strong>Geltungsbereich</strong></p><p>Diese Datenschutzerklärung
    klärt Nutzer über die Art, den Umfang und Zwecke der Erhebung und Verwendung
    personenbezogener Daten durch den verantwortlichen Anbieter
    Travis Foundation, c/o Travis CI GmbH, Rigaer Straße 8, 10247 Berlin, Germany
    Email: team@speakerinnen.org, Tel: +49 170 4549954 auf dieser Website
    (im folgenden “Angebot”) auf.<br />
    <br />
    Die rechtlichen Grundlagen des Datenschutzes finden sich im Bundesdatenschutzgesetz
    (BDSG) und dem Telemediengesetz (TMG).<br />
    <br />
    </p><p><strong>Zugriffsdaten/ Server-Logfiles</strong></p>
    <p><span class="sd-muster-content">Der Anbieter (beziehungsweise sein Webspace-Provider) erhebt
    Daten über jeden Zugriff auf das Angebot (so genannte Serverlogfiles). Zu den
    Zugriffsdaten gehören:<br />
    <br />
    Name der abgerufenen Webseite, Datei, Datum und Uhrzeit des Abrufs, übertragene
    Datenmenge, Meldung über erfolgreichen Abruf, Browsertyp nebst Version, das Betriebssystem
    des Nutzers, Referrer URL (die zuvor besuchte Seite), IP-Adresse und der anfragende Provider.<br />
    <br />
    Der Anbieter verwendet die Protokolldaten nur für statistische Auswertungen zum Zweck des
    Betriebs, der Sicherheit und der Optimierung des Angebotes. Der Anbieterbehält sich jedoch vor,
    die Protokolldaten nachträglich zu überprüfen, wenn aufgrund konkreter Anhaltspunkte der
    berechtigte Verdacht einer rechtswidrigen Nutzung besteht.</span></p>
    <p><strong>Umgang mit personenbezogenen Daten</strong></p>
    <p><span class="sd-muster-content">Personenbezogene Daten sind Informationen,
    mit deren Hilfe eine Person bestimmbar ist, also Angaben, die zurück zu einer
    Person verfolgt werden können. Dazu gehören der Name, die Emailadresse oder
    die Telefonnummer. Aber auch Daten über Vorlieben, Hobbies, Mitgliedschaften
    oder welche Webseiten von jemandem angesehen wurden zählen zu personenbezogenen
    Daten.<br />
    <br />
    Personenbezogene Daten werden von dem Anbieter nur dann erhoben, genutzt und
    weiter gegeben, wenn dies gesetzlich erlaubt ist oder die Nutzer in die
    Datenerhebung einwilligen.</span></p>
    <p><strong>Kontaktaufnahme</strong></p><p><span class="sd-muster-content">
    Bei der Kontaktaufnahme mit dem Anbieter (zum Beispiel per Kontaktformular
    oder E-Mail) werden die Angaben des Nutzers zwecks Bearbeitung der Anfrage
    sowie für den Fall, dass Anschlussfragen entstehen, gespeichert.</span></p>
    <p><strong>Kommentare und Beiträge</strong></p>
    <p><span class="sd-muster-content">Wenn Nutzer Kommentare im Blog oder sonstige
    Beiträge hinterlassen, werden ihre IP-Adressen gespeichert. Das erfolgt zur
    Sicherheit des Anbieters, falls jemand in Kommentaren und Beiträgen
    widerrechtliche Inhalte schreibt (Beleidigungen, verbotene politische
    Propaganda, etc.). In diesem Fall kann der Anbieter selbst für den Kommentar
    oder Beitrag belangt werden und ist daher an der Identität des Verfassers
    interessiert.</span></p>
    <p><strong>Newsletter</strong></p><p><span class="sd-muster-content">
    Mit dem Newsletter informieren wir Sie über uns und unsere Angebote.<br />
    <br />
    Wenn Sie den Newsletter empfangen möchten, benötigen wir von Ihnen eine
    valide Email-Adresse sowie Informationen, die uns die Überprüfung gestatten,
    dass Sie der Inhaber der angegebenen Email-Adresse sind bzw. deren Inhaber
    mit dem Empfang des Newsletters einverstanden ist. Weitere Daten werden
    nicht erhoben. Diese Daten werden nur für den Versand der Newsletter
    verwendet und werden nicht an Dritte weiter gegeben.<br />
    <br />
    Mit der Anmeldung zum Newsletter speichern wir Ihre IP-Adresse und das Datum
     der Anmeldung. Diese Speicherung dient alleine dem Nachweis im Fall, dass
     ein Dritter eine Emailadresse missbraucht und sich ohne Wissen des Berechtigten
     für den Newsletterempfang anmeldet.<br />
    <br />
    Ihre Einwilligung zur Speicherung der Daten, der Email-Adresse sowie deren
    Nutzung zum Versand des Newsletters können Sie jederzeit widerrufen. Der
    Widerruf kann über einen Link in den Newslettern selbst, in Ihrem Profilbereich
    oder per Mitteilung an die oben stehenden Kontaktmöglichkeiten erfolgen.<br />
    </span></p><p><strong>Einbindung von Diensten und Inhalten Dritter</strong></p>
    <p><span class="sd-muster-content">Es kann vorkommen, dass innerhalb dieses
    Onlineangebotes Inhalte Dritter, wie zum Beispiel Videos von YouTube,
    Kartenmaterial von Google-Maps, RSS-Feeds oder Grafiken von anderen Webseiten
    eingebunden werden. Dies setzt immer voraus, dass die Anbieter dieser Inhalte
    (nachfolgend bezeichnet als "Dritt-Anbieter") die IP-Adresse der Nutzer wahr
    nehmen. Denn ohne die IP-Adresse, könnten sie die Inhalte nicht an den Browser
    des jeweiligen Nutzers senden. Die IP-Adresse ist damit für die Darstellung
    dieser Inhalte erforderlich. Wir bemühen uns nur solche Inhalte zu verwenden,
    deren jeweilige Anbieter die IP-Adresse lediglich zur Auslieferung der Inhalte
    verwenden. Jedoch  haben wir keinen Einfluss darauf, falls die Dritt-Anbieter
    die IP-Adresse z.B. für statistische Zwecke speichern. Soweit dies uns bekannt
    ist, klären wir die Nutzer darüber auf.<br />
    </span></p><p><strong>Registrierfunktion</strong></p>
    <p><span class="sd-muster-content">Die im Rahmen der Registrierung eingegebenen
    Daten werden für die Zwecke der Nutzung des Angebotes verwendet. Die Nutzer
    können über angebots- oder registrierungsrelevante Informationen, wie Änderungen
    des Angebotsumfangs oder technische Umstände per E-Mail informiert werden. Die
    erhobenen Daten sind aus der Eingabemaske im Rahmen der Registrierung ersichtlich.
    Dazu gehören: Name, E-Mail-Adresse, Twitter-Name, URL der Website, Themen, Sprachen,
    Stadt, Biografie, Referenz-Vorträge.</span></p>
    <p><strong>Piwik</strong></p><p><span class="sd-muster-content">
    Dieses Angebot benutzt <a href="http://piwik.org/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://piwik.org/', 'Piwik']);" >
    Piwik</a>, eine Open-Source-Software zur statistischen Auswertung der Nutzerzugriffe.
    Piwik verwendet sog. “Cookies”, Textdateien, die auf dem Computer der Nutzer gespeichert werden
    und die eine Analyse der Benutzung der Website durch die Nutzer ermöglichen. Die durch den Cookie
    erzeugten Informationen über die Benutzung dieses Agebotes werden auf dem Server des Anbieters in
    Deutschland gespeichert. Die IP-Adresse wird sofort nach der Verarbeitung und vor deren Speicherung
    anonymisiert. Nutzer können die Installation der Cookies durch eine entsprechende Einstellung Ihrer
    Browser-Software verhindern; Der Anbieter weisen die Nutzer jedoch darauf hin, dass sie in diesem
    Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich nutzen können.
    <iframe style="border: 0; height: 200px; width: 600px;" src="https://tyranja.cassiopeia.uberspace.de/piwik/index.php?module=CoreAdminHome&action=optOut&language=<%= I18n.locale %>">
    </iframe></span></p><p><strong>Widerruf, Änderungen, Berichtigungen und Aktualisierungen</strong>
    </p><p>Der Nutzer hat das Recht, auf Antrag unentgeltlich Auskunft zu erhalten über die personenbezogenen
    Daten, die über ihn gespeichert wurden. Zusätzlich hat der Nutzer das Recht auf Berichtigung unrichtiger
    Daten, Sperrung und Löschung seiner personenbezogenen Daten, soweit dem keine gesetzliche
    Aufbewahrungspflicht entgegensteht.<br />
    </p>
    <a href="http://rechtsanwalt-schwenke.de/smmr-buch/datenschutz-muster-generator-fuer-webseiten-blogs-und-social-media/"><strong>Datenschutz-Muster von Rechtsanwalt Thomas Schwenke - I LAW it</strong></a>
  </div>
</section>
