<div class="container bg--white pb-5">
  <h1 class="display-4 py-5">Links</h1>

  <ul>
    <li>
      Hier gibt es Links zu ähnlichen Projekten:
    </li>
    <li>
      <a href="http://50prozent.noblogs.org", target="_blank">50prozent</a>
    </li>
    <li>
      <a href="http://goldenermedienpimmel.de", target="_blank">Goldener Medienpimmel</a>
    </li>
    <li>
      <a href="http://www.academia-net.de/", target="_blank">AcademiaNet</a><small> Internetportal für exzellente Wissenschaftlerinnen</small>
    </li>
    <li>
      <a href="http://www.digitalmediawomen.de/speakerinnen/", target="_blank">Digital Mediawomen</a><small> Speakerinnen-Liste, zusammengestellt von Digital Media Women</small>
    </li>
    <li>
      <a href="http://netzfeminismus.org/?page_id=114", target="_blank">Speakerinnenliste</a><small >auf Netzfeminismus</small>
    </li>
    <li>
      <a href="https://kippt.com/hanhaiwen/female-speakers-lists-and-contacts", target="_blank">Female Speakers Lists and Contacts</a><small> gesammelt von Helga Hansen</small>
    </li>
    <li>
      <a href="http://maedchenmannschaft.net/4-wege-frauen-und-technik-zusammen-zu-bringen/", target="_blank">Mädchenmannschaft</a><small> 4 Wege Frauen & Technik zusammen zu bringen</small>
    </li>
    <li>
      <a href="http://2012.jsconf.eu/2012/09/17/beating-the-odds-how-we-got-25-percent-women-speakers.html", target="_blank">JSConf</a><small> Beating the Odds — How we got 25% woman speakers for JSConf EU 2012</small>
    </li>
    <li>
      <a href="http://geekfeminism.org/2012/05/21/how-i-got-50-women-speakers-at-my-tech-conference/", target="_blank">geekfeminism.org</a><small> How I Got 50% Women Speakers at My Tech Conference</small>
    </li>
    <li>
      <a href="http://www.femalepressure.net/
", target="_blank">female:pressure</a><small> Eine internationale Datenbank und ein Netzwerk von Frauen, die im Bereich elektronischer Musik und Computerkunst arbeiten. Mit Auswertung der Zahlen von musikalischen Events.</small>
    </li>
    <li>
      <a href="http://50prozent.noblogs.org/post/2013/10/13/la-barbe-protestiert-gegen-fehlende-repraesentanz-von-frauen-in-wirtschaft-politik-kultur-und-medien/", target="_blank">La Barbe</a><small> Die Aktionsgruppe La Barbe protestiert seit März 2008 in Frankreich gegen die Abwesenheit oder Unterrepräsentanz von Frauen in Wirtschaft, Politik, Kultur und Medien.</small>
    </li>
    <li>
      <a href="http://50prozent.noblogs.org/post/2013/11/02/die-kunst-die-richtige-frau-fuer-die-konferenz-zu-finden/", target="_blank">Learn to Search</a><small> Die Website ‘Learn to search‘ setzt sich ironisch mit dem oft gehörten Einwand auseinander, dass es schwierig sei, geeignete Frauen für Technik-Konferenzen und Panels zu finden.</small>
    </li>
  </ul>
</div>
