<div class="white-bg">
  <div class="container profiles">
    <div class="row">
      <div class="span10">
          <h1 class="title-profiles"><%= t(:title, scope: "pages.press") %>:</h1>
          <strong>18. März</strong><br>
          <a href="http://www.zeit.de/karriere/beruf/2014-03/expertinnen-datenbank-recherche-speakerinnen">http://www.zeit.de/karriere/beruf/2014-03/expertinnen-datenbank-recherche-speakerinnen</a>
          <br>
          <strong>16. März</strong><br>
          <a href="http://www.diechefin.net/2014/03/neue-plattform-macht-expertinnen-und-speakerinnen-sichtbar/">http://www.diechefin.net/2014/03/neue-plattform-macht-expertinnen-und-speakerinnen-sichtbar/</a>
          <br>
          <strong>14. März</strong><br>
          <a href="http://femgeeks.de/von-speakerinnen-und-programmiererinnen-der-linkspam/">http://femgeeks.de/von-speakerinnen-und-programmiererinnen-der-linkspam/</a>
          <a href="http://girlsblogtoo.blogspot.de/2014/03/speakerinnenorg.html">http://girlsblogtoo.blogspot.de/2014/03/speakerinnenorg.html</a>
          <br>
          <strong>13. März</strong><br>
          <a href="http://www.andersundgleich-nrw.de/87-weiterlesen-meldungen/323-lesben-auf-die-speakerinnen-liste.html">http://www.andersundgleich-nrw.de/87-weiterlesen-meldungen/323-lesben-auf-die-speakerinnen-liste.html</a>
          <br>
          <strong>12. März</strong><br>
          <a href="http://missy-magazine.de/2014/03/12/nur-manner-auf-den-konferenzbuhnen/">http://missy-magazine.de/2014/03/12/nur-manner-auf-den-konferenzbuhnen/</a><br>
          MDR INFO: Schall und Rauch "Von Speakerinnen, Hoeneß-Effekten und Bernburger Glück"<br>
          <a href="http://www.mdr.de/mdr-info/schallundrauch/audio801438_zc-22881661_zs-e59d46d1.html">http://www.mdr.de/mdr-info/schallundrauch/audio801438_zc-22881661_zs-e59d46d1.html</a><br>
          MDR INFO: Journalistinnenbund will Präsenz der Frauen stärken<br>
          <a href="http://www.mdr.de/mediathek/infothek/audio801258.html">http://www.mdr.de/mediathek/infothek/audio801258.html</a>
          <a href="http://haltungstattposen.wordpress.com/2014/03/12/sprich-mit-ihr/">http://haltungstattposen.wordpress.com/2014/03/12/sprich-mit-ihr/</a>
          <br>
          <strong>11. März</strong><br>
          <a href="http://diestandard.at/1392687770686/Wir-haben-keine-Frauen-gefunden">http://diestandard.at/1392687770686/Wir-haben-keine-Frauen-gefunden</a>
          <br>
          <strong>8. März</strong><br>
          <a href="http://blog.katrin-roenicke.net/?p=2862">http://blog.katrin-roenicke.net/?p=2862</a>
          <a href="https://digitalcourage.de/blog/2014/frauen-auf-die-podien-der-welt">https://digitalcourage.de/blog/2014/frauen-auf-die-podien-der-welt</a>
          <a href="http://wortbetrieb.de/2014/03/08/speakerinnen-org-liste-weiblicher-fachkraefte-fuer-vortraege-bei-veranstaltungen/">http://wortbetrieb.de/2014/03/08/speakerinnen-org-liste-weiblicher-fachkraefte-fuer-vortraege-bei-veranstaltungen/</a>
          <br>
          <strong>6. März</strong><br>
          <a href="http://www.journalistinnen.de/journalistinnenbund/ueber-uns/der-verband/meldungen/items/speakerinnen.html">http://www.journalistinnen.de/journalistinnenbund/ueber-uns/der-verband/meldungen/items/speakerinnen.html</a>
          <br>
          <strong>Interviews</strong><br>
          <a href="http://trackback.fritz.de/2014/03/15/trb-370-first-kiss-video-facebookausstieg-big-data-professor-speakerinnen-der-reisende/">http://trackback.fritz.de/2014/03/15/trb-370-first-kiss-video-facebookausstieg-big-data-professor-speakerinnen-der-reisende/</a>
          <a href="http://www.aviva-berlin.de/aviva/content_Interviews.php?id=1418857">http://www.aviva-berlin.de/aviva/content_Interviews.php?id=1418857</a>
      </div>
    </div>
  </div>
</div>

