<div class="container bg--white pb-5">
  <h1 class="display-4 py-5">Medien über uns</h1>
  <strong>3. Oktober 2016</strong><br>
    <em>"Diskussionsrunden, in denen Männer über Frauen sprechen und keine Frau ist anwesend? Gibt es immer noch - und das nicht nur bei Themen, die Frauen betreffen."
    </em><br>
    <a href="https://www.focus.de/digital/computer/technik-speakerinnen-org-verhilft-zu-expertise-auf-der-buehne_id_6004519.html" target="_blank" rel="noopener">Focus</a>
    <br>
    <br>
  <%#<strong>30. September 2016</strong><br>%>
    <%#<em>"Speakerinnen.org": Plattform für weibliche Experten"%>
    <%#</em><br>%>
    <%#<a href="https://www.berlinonline.de/themen/computer-und-handy/internet/news/4587488-909334-speakerinnenorg-plattform-fuer-weibliche.html">berlinonline</a>%>
    <%#<br>%>
    <%#<br>%>
  <%#<strong>29. September 2016</strong><br>%>
    <%#<em>"Speakerinnen.org" verhilft zu Expertise auf der Bühne"%>
    <%#</em><br>%>
    <%#<a href="http://www.hna.de/netzwelt/speakerinnen-org-verhilft-zu-expertise-auf-buehne-zr-6796245.html">HNA</a>%>
    <%#<br>%>
    <%#<br>%>
  <strong>3. März 2016</strong><br>
    <em>"Um Frauen dabei zu unterstützen, verstärkt auf Podien präsent zu sein, hat die Initiative Speakerinnen.org eine kostenlose Datenbank ins Leben gerufen. Dort können Veranstalter gezielt nach weiblichen Rednern für Podiumsdiskussionen suchen. Wer auf Podien sprechen will, kann sich dort kostenlos als Speakerin registrieren."
    </em><br>
    <a href="https://www.sueddeutsche.de/news/karriere/arbeit-rauf-auf-die-podien-weibliche-redner-sind-immer-noch-selten-dpa.urn-newsml-dpa-com-20090101-160302-99-61792" target="_blank" rel="noopener">Süddeutsche Zeitung</a>
    <br>
    <br>
  <strong>2. März 2016</strong><br>
    <em>"Speakerinnen.org wird zwei Jahre alt! Mehr Frauen auf die Bühnen ist das erklärte Ziel der Plattform, auf der sich Frauen mit ihren Themen und Referenzen selbst eintragen können, um so von Event-Organisatorinnen und -Organisatoren besser gefunden zu werden. Und damit die Ausrede „Wir haben keine Frau für Thema XY gefunden…“ keine mehr sein kann. Im Februar 2016 sind mehr als 1.076 Expertinnen aus allen Fachrichtungen auf der Speakerinnen-Liste registriert."
    </em><br>
    <a href="http://web.archive.org/web/20160308121346/http://www.taz.de/!161906/" target="_blank" rel="noopener">taz</a>
    <br>
    <br>
    <em>"Der Blog 50prozent zählte zuletzt bei 261 Veranstaltungen einen Frauen*anteil von 26,83 Prozent. Es handelt sich um ein Projekt der Plattform Speakerinnen.org – die wichtigste Datenbank im deutschsprachigen Raum für ExpertInnen aus den verschiedensten Fachgebieten. EventveranstalterInnen haben dort die Möglichkeit, kostenfrei nach RednerInnen, ReferentInnen & ModeratorInnen zu suchen."
    </em><br>
    <a href="https://newthinking.de/de/haelfte-macht-den-speakerinnen" target="_blank" rel="noopener">Newthinking Blog</a>
    <br>
    <br>
  <strong>26. Januar 2016</strong><br>
    <em>"Nicht nur im Silicon Valley sind Events davon geprägt, hauptsächlich männliche Vortragende einzuladen. Deshalb hat sich, aus Deutschland kommend, seit 2013 eine Initiative entwickelt, die etwas dagegen tun will. Die Entwicklerinnen der Plattform speakerinnen.org, Anne Roth und Maren Heltsche, setzen sich für mehr Frauen auf internationalen Podien ein. Wir haben zum 1000. angelegten Profil mit ihnen gesprochen."
    </em><br>
    <a href="https://www.fillmore.at/innovation/1000-profile-bei-speakerinnen-org-wir-wunschen-uns-speakerinnen-aus-allen-bereichen/" target="_blank" rel="noopener">Fillmore – Magazin für Wirtschaft, Innovation und Lifestyle</a>
    <br>
    <br>
  <strong>11. Dezember 2015</strong><br>
    <em>"Mehr Frauen* auf die Bühnen! Das ist das klare Ziel der Expertinnen-Datenbank Speakerinnen.org und des Zählprojekts "50 Prozent". Dieses dokumentiert, wie viele (oder besser: wenige) Frauen* tatsächlich öffentlich sprechen."
    </em><br>
    <a href="http://www.aviva-berlin.de/aviva/content_Women%20+%20Work_Infos.php?id=14191672" target="_blank" rel="noopener">Aviva – Online Magazin für Frauen</a>
    <br>
    <br>
  <strong>10. Dezember 2015</strong><br>
    <em>"Dort haben sich Expertinnen zu allen denkbaren Themen versammelt, mitsamt Kontaktdaten. Die Expertinnen können sich selbst ein Profil auf der Seite anlegen. Allein in der Rubrik „Internet & Medien“ finden sich derzeit 490 Speakerinnen. Wer da nicht fündig wird, der will nicht. „Keine Ausreden mehr für Panels ohne Frauen“, das ist das Ziel der Speakerinnen-Liste."
    </em><br>
    <a href="https://www.taz.de/!5260890/" target="_blank" rel="noopener">taz</a>
    <br><br>

  <strong>23. April 2014</strong><br>
    <em>"Als Rechtfertigung heißt es oft, man hätte ja gerne mehr Frauen auf den Podien, habe aber leider keine gefunden. Genau dieser Ausrede soll die Seite speakerinnen.org, die zum Weltfrauentag am 8. März online ging, den Wind aus den Segeln nehmen: Im Wesentlichen handelt es sich um eine Datenbank, in der „alle, die sich selbst als Frau verstehen, Profile anlegen können, um sich, ihre Fachgebiete und bisherige Konferenzerfahrungen kurz vorzustellen“."
    </em><br>
    <a href="https://www.taz.de/!5043737/" target="_blank" rel="noopener">taz</a>
    <br><br>

  <strong>1. September 2015</strong><br>
    <em>"Ob Politik, Wirtschaft, Kultur oder Wissenschaft – zurzeit "ist es ja so, dass hauptsächlich Männer an Machtpositionen sitzen", sagt Maren Heltsche. Die Datenanalystin hat deshalb die Plattform "speakerinnen.org" mit ins Leben gerufen, auf der Frauen sich selbst als Referentin oder Gesprächspartnerin empfehlen können. Es helfe nämlich nichts, als Frau im stillen Kämmerlein zu sitzen, sagt sie, und darauf zu warten, dass sich Machtstrukturen von alleine ändern."
    </em><br>
    <a href="https://www.tagesspiegel.de/berlin/queerspiegel/konferenz-lesbians-who-tech-fuer-mehr-frauenpower-im-techlab/12256148.html" target="_blank" rel="noopener">Der Tagesspiegel</a>
    <br>
    <br>
  <strong>August 2015</strong><br>
    <em>"für mehr Frauen-Empowerment in den Bereichen Netz, Technik und Medien arbeiten. Eine davon ist Maren Heltsche von Speakerinnen. org. Was hat es damit auf sich?
    Speakerinnen.org ist eine Plattform, die weibliche Konferenzsprecherinnen listet. Das sind Frauen, die in unterschiedlichen Feldern Expertisen haben und gerne darüber öffentlich sprechen. Öffentlich heißt: Auf Konferenzen, in Workshops oder in Medien.  Die Speakerinnenliste ist eine Datenbank, in die sich übrigens jede Frau selbst eintragen und ihr Profil einrichten kann."
    </em><br>
    <a href="http://www.straight-mag.com/be-eine-speakerin/" target="_blank" rel="noopener">Straight Magazin</a>
    <br>
    <br>
  <strong>1. Juni 2015</strong><br>
    <em>"In Deutschland widmen sich die Betreiber der Speakerinnen-Liste dem Gender-Thema bei Gesprächsrunden. Die Frauen aus Berlin vermitteln Rednerinnen an Veranstalter, die auf der Suche nach Expertinnen und einem ausgeglichenen Sprecher-Verhältnis bei Diskussionsrunden sind. Knapp 800 Frauen haben sich bereits in die Datenbank eingetragen und decken Themenfelder wie Politik, Bildung und Internet ab."
    </em><br>
    <a href="http://www.spiegel.de/netzwelt/web/tumblr-blog-all-male-panels-ausgezeichnet-mit-david-hasselhoff-a-1036285.html" target="_blank" rel="noopener">Spiegel Online</a>
    <br>
    <br>
  <strong>9. September 2015</strong><br>
    <em>"Am besten gleich anfangen: Du bist bereit, öffentlich über deine Themen zu sprechen - in kleinen oder großen Runden?! Dann einfach auf der Plattform speakerinnen.org ein Profil anlegen und so noch besser von Organisatorinnen und Organisatoren von Konferenzen oder Journalistinnen und Journalisten gefunden werden und öffentlich zu Wort kommen."
    </em><br>
    <a href="https://www.huffingtonpost.de/maren-heltsche/bits-pretzels-networking-gleichberechtigung_b_8102680.html" target="_blank" rel="noopener">Huffington Post</a>
    <br>
    <br>
  <strong>26. März 2014</strong><br>
    <em>"Auf den Podien: Männer. Am Roundtable: Männer. In den
      Polit-Talk-Runden: Männer. Der Eindruck ist subjektiv, wird aber
      von vielen geteilt. SP-Frauen-Präsidentin Yvonne Feri sagt: «Ich
      höre mir kaum noch Podien an, auf denen nur Männer sprechen.» Es
      gebe sicherlich Themen, bei denen es schwieriger sei, auch
      Fachfrauen zu finden, gibt Feri zu. Doch: «Häufig wird nicht
      engagiert nach Frauen gesucht.»</em><br>
    <a href="https://www.solothurnerzeitung.ch/leben/leben/frauen-vor-meinungsmacher-muessen-nicht-unbedingt-maenner-sein-127819177" target="_blank" rel="noopener">Solothurner Zeitung</a><br>
    <br>
  <strong>21. März 2014</strong></br>
  <em>"Das ist eine gute Idee, ein solches Portal braucht die Schweiz auch», sagt Regula Zweifel, Vizepräsidentin des Bunds Schweizerischer Frauenorganisationen Allicance F."</em></br>
  <a href="https://www.20min.ch/schweiz/news/story/Mehr-Frauen-in-Talkshows---dank-Internetportal-15920208" target="_blank" rel="noopener">20 minuten</a></br>
  </br>
  <strong>18. März 2014</strong></br>
            <em>"Auch viele Berufsverbände für Frauen verfügen über ähnliche Datenbanken. Allerdings sind die meisten dieser Projekte nur auf eine Branche, ein Berufsfeld oder einen Verband begrenzt. Und die meisten sind nicht sehr bekannt. Eine bundesweite Datenbank gibt es ebenfalls noch nicht. Gute Voraussetzungen für einen Erfolg des Portals. Und für mehr Vielfalt auf den Podien dieser Welt."</em></br>
  <a href="https://www.zeit.de/karriere/beruf/2014-03/expertinnen-datenbank-recherche-speakerinnen" target="_blank" rel="noopener">Zeit Online</a></br>
  </br>
  <strong>16. März 2014</strong></br>
  <em>"Die Ausrede “Es gibt ja keine gute Frau” gilt ab sofort nicht mehr. Und an alle Expertinnen sei gesagt: Tragt Euch ein, es lohnt sich!"</em></br>
  <a href="http://www.diechefin.net/neue-plattform-macht-expertinnen-und-speakerinnen-sichtbar/" target="_blank" rel="noopener">die Chefin</a></br>
  </br>
  <strong>14. März 2014</strong></br>
  <em>"Pünktlich am 8. März wurde eine neue Seite ins Leben gerufen, die es Veranstalter_innen zukünftig schwer machen dürfte Ausreden für Panels ohne Frauen zu finden"</em> </br>
  <a href="https://femgeeks.de/von-speakerinnen-und-programmiererinnen-der-linkspam/" target="_blank" rel="noopener">Femgeeks</a></em></br>
  </br>
  <em>"Was auch immer Euer Thema sein mag, registriert Euch schnell und unkompliziert hier, wenn Ihr daran interessiert seid, künftig Vorträge dazu zu halten. Organisatorinnen sei die Seite aufgrund ihrer übersichtlichen Struktur ebenfalls empfohlen. Man kann nie genug Frauen kennen!"</em> </br>
  <a href="https://girlsblogtoo.blogspot.de/2014/03/speakerinnenorg.html" target="_blank" rel="noopener">Girls can blog</a></em></br>
  </br>
  <em>"Rails Girls Berlin, an international non-profit organization specialized in fostering women’s skills in computer and IT issues has established a new online platform for women experts."</em></br>
  <a href="http://whomakesthenews.org/blog/germany-speakerinnen-liste-gender-equity-in-public-discourse" target="_blank" rel="noopener">Who Makes The News</a> </br>
   </br>
  <strong>13. März 2014</strong></br>
   </br>
  <em>"Leider haben sich bislang erst zwei Frauen* eingetragen, die unter dem Stichwort Homosexualität zu finden sind. Es ist wünschenswert, dass sich mehr Lesben eintragen und auch, dass die Stichwörter Lesbischsein, Lesben und Lesbe eingetragen werden."</em> </br>
  <a href="http://www.andersundgleich-nrw.de/87-weiterlesen-meldungen/323-lesben-auf-die-speakerinnen-liste.html" target="_blank" rel="noopener">anders und gleich</a></em>
  </br>
  </br>
  <strong>12. März 2014</strong></br>
  <em>"Mit der Nennung von Expertenthemen, Referenzen sowie Videos von vorherigen Vorträgen können VeranstalterInnen ein gutes Bild zu möglichen Sprecherinnen für geplante Vorträge bekommen. Egal, aus welchem Fachbereich, mit der Speakerinnen-Liste wird man in so einigen Themen fündig."</em> </br>
  <a href="https://missy-magazine.de/blog/2014/03/12/nur-manner-auf-den-konferenzbuhnen/" target="_blank" rel="noopener">Missy Magazine</a></em></br>
  </br>
  MDR INFO: <a href="http://www.mdr.de/mdr-info/schallundrauch/audio801438_zc-22881661_zs-e59d46d1.html" target="_blank" rel="noopener">Schall und Rauch "Von Speakerinnen, Hoeneß-Effekten und Bernburger Glück"</a> (Audio)</br>
  </br>
  MDR INFO: <a href="http://www.mdr.de/mediathek/infothek/audio801258.html" target="_blank" rel="noopener">Journalistinnenbund will Präsenz der Frauen stärken</a> (Audio)</br>
  </br>
  <em>"Viele Frauen, vielleicht sogar die meisten, lernen nicht, dass Selbstdarstellung Spaß machen kann. Genau wie Mitgestaltung, Wettbewerb, lautes Denken. So entstehen keine weiblichen Wolfgang Kubickis, die in jeder zweiten Talkshow sitzen. (Was sicherlich auch sein Gutes hat.) Stattdessen: sitzt da meistens nur <a href="https://twitter.com/search?q=1frautv" target="_blank" rel="noopener">eine</a>.</em>" </br>
  <a href="https://haltungstattposen.wordpress.com/2014/03/12/sprich-mit-ihr/" target="_blank" rel="noopener">Haltung statt Posen</a></em></br>
  </br>
  <strong>11. März 2014</strong></br>
  <em>"Die Plattform ist erst seit kurzem im Netz (sie ging am 8. März diesen Jahres online) und kann sich bereits jetzt über mehr als 200 Einträge freuen. Wir dürfen gespannt sein, ob es diese Plattform schafft, die Gender-Schieflage auf den Podien dieser Welt zu korrigieren."</em> </br>
  <a href="https://diestandard.at/1392687770686/Wir-haben-keine-Frauen-gefunden" target="_blank" rel="noopener">dieStandard.at</a></em></br>
  </br>
  <strong>8. März 2014</strong></br>
  <em>".. herausgekommen ist die schöne neue tolle Seite, in der man suchen und finden kann. Sie ist schick, sie ist funktional – wobei an manchen Ecken und Enden noch geschleift wird – und sie ist eure Adresse als kompetente Frau, als Organisator_in, als Multiplikator_in!"</em> </br>
  <a href="http://blog.katrin-roenicke.net/?p=2862" target="_blank" rel="noopener">Katrin Roenicke</a></br>
  </br>
  <em>"Das finden wir super und rufen potentielle Sprecherinnen dazu auf, sich dort einzutragen. Und wer zum Thema eine Veranstaltung plant, möge bitte erst mal prüfen, ob es Expertinnen zum Thema gibt. Die Ausrede, keine Sprecherin gefunden zu haben, zieht nämlich nicht mehr."</em> </br>
  <a href="https://digitalcourage.de/blog/2014/frauen-auf-die-podien-der-welt" target="_blank" rel="noopener">Digitalcourage</a></em></br>
  </br>
  <em>"Es ist ein Klassiker: Auf den Podien bei Fachveranstaltung sind in den meisten Fällen mehrheitlich Männer zu finden. Nicht zu selten fast ausschließlich, höchstens mit einer “Quotenfrau”."</em></br>
  <a href="http://plan-alternative.de/index.php/2014/03/08/speakerinnen-org-liste-weiblicher-fachkraefte-fuer-vortraege-bei-veranstaltungen/" target="_blank" rel="noopener">Plan A</a></br>
  </br>
  <strong>6. März 2014</strong></br>
  <em>"Der Journalistinnenbund (jb) freut sich, anlässlich des internationalen Frauentags die Kooperation mit der aus der Taufe gehobenen Speakerinnen-Liste bekannt zu geben. (...)"Die Initiative einer kleinen Gruppe engagierter, webaffiner Frauen verbindet die alte Forderung nach gleichberechtigter Teilhabe am öffentlichen Diskurs mit den Möglichkeiten moderner Kommunikation", erklärte die jb-Vorsitzende Andrea Ernst am Rande einer Veranstaltung am Donnerstag (06.03.2014) in Berlin."</em></br>
  <a href="https://www.journalistinnen.de/bei-anruf-expertin/" target="_blank" rel="noopener">Journalistinnenbund</a></br>
  </br>
  <strong>Interviews</strong>
  <ul>
    <li>Neues Deutschland: <a href="https://www.neues-deutschland.de/artikel/927446.wir-brauchen-eine-kritische-masse-von-frauen-auf-konferenzbuehnen.html" target="_blank" rel="noopener">»Wir brauchen eine kritische Masse von Frauen auf Konferenzbühnen«</a></li>
    <li>Radio Corax: <a href="https://www.freie-radios.net/62699" target="_blank" rel="noopener">Die Speakerinnen-Plattform für Expertinnen und Moderatorinnen, die für Gesprächsrunden aller Art zur Verfügung stehen</a></li>
    <li>Radio Trackback: <a href="http://trackback.fritz.de/2014/03/15/trb-370-first-kiss-video-facebookausstieg-big-data-professor-speakerinnen-der-reisende/" target="_blank" rel="noopener">Anne Roth darüber warum es mit Projekt speakerinnen.org keine Ausreden mehr gibt, wenn auf Konferenzen und Talkshows nur Männer sprechen.</a></li>
    <li>AVIVA Berlin: <a href="https://www.aviva-berlin.de/aviva/content_Interviews.php?id=1418857" target="_blank" rel="noopener">Speakerinnen-Liste gelauncht - Geschlechterverhältnis unter SpeakerInnen ist unausgeglichen</a></li>
  </ul>
</div>
