<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      A new Profile was confirmed, please publish it <a href><%= @url %></a>.
      <p>Die ID der neuen Speakerin lautet: <%= @profile.id %></p>

    </p>
    <p>Die Email-Adresse ist: <%= @profile.email %>.
    </p>
  </body>
</html>
