<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Ein neues Speakerinnen Profil wurde angelegt, um es zu veröffentlichen logge Dich <a href="http://www.speakerinnen.org">hier</a> als Admin ein.</p>
    <p>Die ID der neuen Speakerin lautet: <%= @profile.id %></p>
    <p>Die Email-Adresse ist: <%= @profile.email %>.</p>
  </body>
</html>
