<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hallo, Dein Profil wurde jetzt freigeschaltet!</p>

    <p>Viel Erfolg mit der

   <%= link_to 'Speakerinnen*-Liste', @url %>!</p>

    <p>Schreibe uns gerne jederzeit, wenn Du Fragen oder Feedback hast, damit wir die Speakerinnen*-Liste verbessern können.</p>

    <p>Danke,<br>

    Dein Speakerinnen*-Team.</p>

  </body>
</html>
