<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello, your profile was published!</p>

    <p>Good luck with

   <%= link_to 'Speakerinnen.org', @url %>!</p>

    <p>If you have any questions or suggestions don't hesitate to contact us, so we can improve speakerinnen.org.</p>

    <p>Thanks,<br>

    your team of speakerinnen.org.</p>
    <hr>
    <p>Hallo, Dein Profil wurde jetzt freigeschaltet!</p>

    <p>Viel Erfolg mit der

   <%= link_to 'Speakerinnen-Liste', @url %>!</p>

    <p>Schreibe uns gerne jederzeit, wenn Du Fragen oder Feedback hast, damit wir die Speakerinnen-Liste verbessern können.</p>

    <p>Danke,<br>

    Dein Speakerinnen-Team.</p>

  </body>
</html>
