<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
      <%= t('devise.mailer.published.greeting', name: @profile.firstname) %>
    </h1>
    <p>
      <%= t('.content') %>
    </p>
  </body>
</html>
