<section>
  <section id="startpage__start-teaser" class="startpage__photo-bar">
    <div class="container">
      <h1 class="display-4 box__bg bg--white mt-5"><%= t(:internal, scope: 'pages.errors').html_safe %></h1>
      <BR>
      <h4 class="startpage-subtitle box__bg bg--white"><%= t(:back_home, scope: 'pages.errors') %>
        <%= link_to(t(:home_link, scope: 'pages.errors'), root_path )%></h4><BR>
    </div>
  </section>
  <div class="copyright">
     Copyright: public domain ( modified )
  </div>
</section>
