html {
	font-family: $serif;
	color: $font-color;
}

a {
	font-family: $sans-serif;
	color: $link-color;
	text-decoration: none;
}

#page-header__home-link {
  position: absolute;
  top: $header-margin-top;
  left: 10px;
  text-indent: 99999px;
}

#page-header__home-img {
  position: absolute;
  top: -$header-margin-top;
  left: 0;
  padding-left: 20px;
}

header {
  text-align: right;
  line-height: $header-height;
  box-shadow: 0 1px 11px #999099 inset;
  width: 100%;
  background: $body-bg-color;
  position: fixed;
  top: 0;
}

#start-teaser {
  margin-top: $header-height;
  background: image-url('start-teaser.jpg') no-repeat center center;
  background-size: cover;
}

#teaser-bg-01 {
  background: image-url('teaser-bg-01.png') no-repeat center center;
  background-size: cover;
}

#teaser-bg-02 {
  background: image-url('teaser-bg-02.jpg') no-repeat center center;
  background-size: cover;
}

.photo-bar {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5) inset;
  min-height: 696px;
}

.layout-wrapper {
  width: $layout-width;
  margin: 0 auto;
  padding-top: quadruple($inuit-base-spacing-unit);
}

h1 {
  font-weight: normal;
  background: $transparent-color;
  padding: halve($inuit-base-spacing-unit) $inuit-base-spacing-unit;
  line-height: 60px;
  display: inline-block;
  margin: 0 0 $inuit-base-spacing-unit;
}

.alpha--halve {
  font-size: halve($inuit-heading-size-1);
  line-height: 40px;
}

.alpha--halve a:hover {
  color: #F5F5F5;
  background-color: #3c3c3A;
  padding: 0 4px;
}

.display--block {
  display: block;
}

.bv {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}

.page-box {
  font-size: 22px;
  padding: 12px;
  background: $transparent-color;
  display: inline-block;
}

.page-overlay-link {
  font-size: 22px;
  padding: 12px;
  background: $transparent-color;
}
