html {
	font-family: $serif;
	color: $font-color;
}

a {
	font-family: $sans-serif;
	color: $link-color;
	text-decoration: none;
}

a:hover {
	color: $font-color;
}

.sans-serif{
	font-family: $sans-serif;
}

.font-size-24 {
  font-size: 24px;
}

h1{
  font-weight: normal;
  line-height: 60px;
  margin: 0 0 $inuit-base-spacing-unit;
}

h2{
  font-weight: normal;
  line-height: 60px;
  margin: 0 0 $inuit-base-spacing-unit;
}

.bg--white {
  display: inline-block;
  background: $transparent-white;
  padding: halve($inuit-base-spacing-unit) $inuit-base-spacing-unit;
}

.box__bg--light {
  background: $white-smoke;
}

.display--block {
  display: block;
}

.btn {
  font-family: $sans-serif;
  font-size: $inuit-base-font-size;
  color: white;
  background: #52B3D9;
  box-shadow: 0px 3px 0px #288eb6;
  border: 0;
}

input {
  border-radius: $border-radius;
  border: 1px solid $light-grey;
  line-height: 32px;
  font-family: $sans-serif;
  font-size: $inuit-base-font-size;
  padding-left: quarter($inuit-base-spacing-unit);
}

.border-radius {
  border-radius: $border-radius;
}


/* header */
#header__home-link {
  position: absolute;
  top: $header-margin-top;
  left: 10px;
  text-indent: 99999px;
  width: 200px;
}

#header__logo {
  position: absolute;
  top: -$header-margin-top;
  left: 0;
  padding-left: 20px;
}

header {
  text-align: right;
  line-height: $header-height;
  box-shadow: 0 1px 11px #999099 inset;
  width: 100%;
  background: $body-bg-color;
  position: fixed;
  top: 0;
}


/* layout */
.layout-wrapper {
  width: $layout-width;
  margin: 0 auto;
  padding-top: quadruple($inuit-base-spacing-unit);
}

#content {
  margin-top: $header-height;
}

.content--bg-grey {
  background: $body-bg-color-grey;
}

.content__link--bg {
  padding: 0 4px;
  color: $link-color;
  background-color: $link-bg-color;
}

.content__link--bg:hover {
  color: $link-color-hover;
  background-color: $link-bg-color-hover;
}

.bv {
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
}

.bb {
  border-bottom: 1px solid $light-grey;
}


/* startpage */
#startpage__start-teaser {
  background: image-url('start-teaser.jpg') no-repeat center center;
  background-size: cover;
}

#startpage__teaser-bg-01 {
  background: image-url('teaser-bg-01.png') no-repeat center center;
  background-size: cover;
}

#startpage__teaser-bg-02 {
  background: image-url('teaser-bg-02.jpg') no-repeat center center;
  background-size: cover;
}

.startpage__photo-bar {
  box-shadow: 0 0 20px $transparent-black inset;
  min-height: 696px;
}

.alpha--halve {
  font-size: halve($inuit-heading-size-1);
  line-height: 40px;
}

.page-box {
  font-size: halve($inuit-heading-size-1);
  padding: 12px;
  background-color: $transparent-white;
  display: inline-block;
}

.startpage-categories__list--no-bullets {
  list-style-type: none;
}

.startpage-categories__list-links {
  font-size: 1.9em;
  background-color: $link-bg-color;
  padding: 3px 6px;
  line-height: 2em;
}

.startpage-categories__list-links:hover {
  color: $link-color-hover;
  background-color: $link-bg-color-hover;
}


/* page */


.photo--grey {
  height: 250px;
  width: 250px;
  border: 1px solid $light-grey;
  margin-right: 5%;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-filter: grayscale(100%);
  filter: gray; /* IE6-9 */
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: grayscale(100%);
}

.photo--grey:hover{
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: grayscale(00%);
}


/*classes for topicscloud*/
.s {
  font-size: 12px;
}

.m {
  font-size: 16px;
}

.l {
  font-size: 18px;
}

.topics-cloud {
  min-height: 200px;
}

.topics-cloud a{
  background-color: #fff;
  padding: 0px 4px;
}

.topics-cloud a:hover {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  background-color: #3C3C3A;
  color: whitesmoke;
  }

.topics-cloud .topic-filter {
  float: right;
}

.topics-cloud #quick-filter {
  height: 32px;
  width: 160px;
}


/* footer */
.footer__head {
  background: none;
}

.footer__link {
  padding: 0 4px;
}

footer#main-page-footer {
  background: $body-bg-color-grey;
}


/* paginate */

.pagination {
  text-align: center;
}

.pagination ul {
    display: inline-block;
    margin-left: 0px;
    margin-bottom: 0px;
    border-radius: $border-radius;
    }

.pagination ul > li {
    display: inline;
}

.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
    border-left-width: 1px;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
}

.pagination ul > li > a, .pagination ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: #DDD;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

.pagination ul > .active > a, .pagination ul > .active > span {
    color: $link-color;
    cursor: default;
}

.pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span {
    background-color: $link-bg-color-hover;
    color: $link-color-hover;
}
