html {
	font-family: $serif;
	color: $font-color;
}

a {
	font-family: $sans-serif;
	color: $link-color;
	text-decoration: none;
}

.sans-serif{
	font-family: $sans-serif;
}

h1 {
  font-weight: normal;
  background: $transparent-white;
  padding: halve($inuit-base-spacing-unit) $inuit-base-spacing-unit;
  line-height: 60px;
  display: inline-block;
  margin: 0 0 $inuit-base-spacing-unit;
}

.display--block {
  display: block;
}

.btn {
  font-family: $sans-serif;
  font-size: 16px;
  color: $link-color;
}

input {
  border-radius: $border-radius;
  border: 1px solid $light-grey;
  line-height: 32px;
  font-family: $sans-serif;
  font-size: 16px;
  padding-left: quarter($inuit-base-spacing-unit);
}

.bg--light {
  background: $white-smoke;
}

.border-radius {
  border-radius: $border-radius;
}


/* header */
#header__home-link {
  position: absolute;
  top: $header-margin-top;
  left: 10px;
  text-indent: 99999px;
}

#header__logo {
  position: absolute;
  top: -$header-margin-top;
  left: 0;
  padding-left: 20px;
}

header {
  text-align: right;
  line-height: $header-height;
  box-shadow: 0 1px 11px #999099 inset;
  width: 100%;
  background: $body-bg-color;
  position: fixed;
  top: 0;
}


/* layout */
.layout-wrapper {
  width: $layout-width;
  margin: 0 auto;
  padding-top: quadruple($inuit-base-spacing-unit);
}

#content {
  margin-top: $header-height;
}

/* startpage */
#startpage__start-teaser {
  background: image-url('start-teaser.jpg') no-repeat center center;
  background-size: cover;
}

#startpage__teaser-bg-01 {
  background: image-url('teaser-bg-01.png') no-repeat center center;
  background-size: cover;
}

#startpage__teaser-bg-02 {
  background: image-url('teaser-bg-02.jpg') no-repeat center center;
  background-size: cover;
}

.startpage__photo-bar {
  box-shadow: 0 0 20px $transparent-black inset;
  min-height: 696px;
}

.alpha--halve {
  font-size: halve($inuit-heading-size-1);
  line-height: 40px;
}

.alpha--halve a:hover {
  color: $link-color-hover;
  background-color: $link-bg-color-hover;
  padding: 0 4px;
}

.bv {
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
}

.startpage-categories__list--no-bullets {
  list-style-type: none;
}

.startpage-categories__list-links {
  font-size: 1.9em;
  background-color: $link-bg-color;
  padding: 3px 6px;
  line-height: 2em;
}

.startpage-categories__list-links:hover {
  color: $link-color-hover;
  background-color: $link-bg-color-hover;
}

.page-box {
  font-size: 22px;
  padding: 12px;
  background-color: $transparent-white;
  display: inline-block;
}

.page__overlay-links {
  font-size: 22px;
  background-color: $link-bg-color;
  padding: 0 4px;
  margin: 6px;
}

.page__overlay-links:hover {
  color: $link-color-hover;
  background-color: $link-bg-color-hover;
}


/* footer */
.footer__head {
  background: none;
}

.footer__link {
  padding: 0 4px;
}

footer#main-page-footer {
  background: $body-bg-color-grey;
}
