html {
	font-family: $sans-serif;
	color: $font-color;
}

a {
	color: $link-color;
	text-decoration: none;
}

#page-header__home-link {
  position: absolute;
  top: $header-margin-top;
  left: 10px;
  text-indent: 99999px;
}

#page-header__home-img {
  position: absolute;
  top: -$header-margin-top;
  left: 0;
  padding-left: 20px;
}

header {
  text-align: right;
  line-height: 70px;
  box-shadow: 0 1px 11px #999099 inset;
}

#start-teaser {
  background: image-url('curie.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* TODO:  picture whole element */
.photo-bar {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5) inset;
  min-height: 600px;
}
