/*fonts*/
@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans/OpenSans-Regular-webfont.eot');
  src: url('OpenSans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('OpenSans/OpenSans-Regular-webfont.woff') format('woff'),
  url('OpenSans/OpenSans-Regular-webfont.ttf') format('truetype'),
  url('OpenSans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans/OpenSans-Bold-webfont.eot');
  src: url('OpenSans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('OpenSans/OpenSans-Bold-webfont.woff') format('woff'),
  url('OpenSans/OpenSans-Bold-webfont.ttf') format('truetype'),
  url('OpenSans/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  font-weight: 700;
  font-style: normal;
}

/*font*/
$serif: 'Merriweather', Georgia, serif;
$sans-serif: "OpenSans", "Helvetica Neue", Helvetica, sans-serif;

$font-color: #3C3C3A;

$inuit-heading-size-1:  48px;


/*link-color*/
$link-color: #7B7B7B;


/*background-color*/
$body-bg-color: #FFF;
$transparent-color: rgba( $body-bg-color, .6 );
$body-bg-color-grey: whitesmoke;


/*buttons*/
$inuit-btn-background: whitesmoke;
$inuit-btn-color: #000;
$inuit-enable-btn--small: true;
$inuit-btn-radius: 6px;
$inuit-btn-border-color: #ccc;

/*background-color:whitesmoke;background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));background-image:-webkit-linear-gradient(top, #fff, #e6e6e6);background-image:linear-gradient(to bottom, #fff, #e6e6e6);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE6E6E6', GradientType=0);*/

/*layout settings */
$header-margin-top: 10px;
$header-height: 70px;

$layout-width: 940px;


/*inuit true */
$inuit-use-fractions: true;

$inuit-enable-margins: true;
$inuit-enable-paddings--none: true;
$inuit-enable-paddings: true;
$inuit-enable-margins--huge: true;
$inuit-enable-margins--none: true;

