/*fonts*/
@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans/OpenSans-Regular-webfont.eot');
  src: url('OpenSans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('OpenSans/OpenSans-Regular-webfont.woff') format('woff'),
  url('OpenSans/OpenSans-Regular-webfont.ttf') format('truetype'),
  url('OpenSans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans/OpenSans-Bold-webfont.eot');
  src: url('OpenSans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('OpenSans/OpenSans-Bold-webfont.woff') format('woff'),
  url('OpenSans/OpenSans-Bold-webfont.ttf') format('truetype'),
  url('OpenSans/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  font-weight: 700;
  font-style: normal;
}

$serif: 'Merriweather', Georgia, serif;
$sans-serif: "OpenSans", "Helvetica Neue", Helvetica, sans-serif;

/*font-color*/
$font-color: #3C3C3A;

/*link-color*/
$link-color: #7B7B7B;

/*background-color*/
$body-bg-color: #FFF;
$transparent-color: rgba( $body-bg-color, .6 );

$header-margin-top: 10px;
$header-height: 70px;

$inuit-use-fractions: true;

$inuit-enable-margins: true;

$layout-width: 940px;


