@import 'settings';
// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header#admin {
 background-color: $notice-yellow;
}

.admin-tags-categorization {
  td {
    padding-right: 4px;
    padding-bottom: 5px;
    a {
      padding: 2px 4px;
      border-radius: 2px;
      font-size: 90%;
    }
  }
  .active {
    color: white;
    background-color: silver;
  }
}

#category-table tbody {
  font-size: 0.8em;
}

.add-category {
  text-align: center;
  .add-category-form {
    text-align: left;
  }
}

.add-category-form {
  display: inline-block;
  .control-label{
  padding-right: 0.2em;
  }
}
