@import 'settings';
// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.breadcrumb-navigation {
  font-size: 2em;
  font-style: bolder;
  padding: 20px 0 10px;
}

.administration {
  table {
    margin-top: 10px;
  }

  .filter {
    width: 47%;
    display: inline-block;
  }
  .checkbox-and-label {
    display: inline;
  }

  .filter + .filter {
    margin-left: 5%;
  }
  .tag-filter {
    margin: 20px 0;

    .btn {
      width: 100%;
      display: block;
    }
  }
  .category-option {
    margin-left: 30px;
  }
}

.control-group + .control-group {
  margin-top: 7px;
}

header#admin {
 background-color: $notice-yellow;
}

.admin-tags-categorization {
  td {
    padding-right: 4px;
    padding-bottom: 5px;
    a {
      padding: 2px 4px;
      border-radius: 2px;
      font-size: 90%;
    }
  }
  .active {
    color: white;
    background-color: silver;
  }
}
