 /*
 * application.scss
 *
 * Important! Do *not* use Sprockets "require" syntax.
 * Use @import to include other stylesheets and Compass mixins.
 */

// Include some nice mixins
@import "dashboard.css.scss";
@import "contact.css.scss";

// Example: import partial stylesheet named "_users.scss"



