body {
  font-family: $serif;
  color: $font-color;
  margin-top: 75px;
  background-color: white;
}

a, .link, #expander {
  font-family: $sans-serif;
  color: $link-color;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.btn:focus{
  outline: none;
  box-shadow: none;
}

.sans-serif {
  font-family: $sans-serif;
}

.serif {
  font-family: $serif;
}

/* layout */

.container {
  padding: 36px 36px;
}

.box__bg {
  display: inline-block;
  padding: $base-spacing-unit $base-spacing-unit;
}

.bg--white-trans {
  background: $transparent-white;
}

.bg--white {
  background: $white;
}

.bg--grey {
  background: $bg-grey;
}

.bg--light-grey {
  background: $bg-light-grey;
}

.bg--yellow {
  background: $yellow;
}

.color-white {
  color: $white;
}

.color-grey {
  color: $font-color-title;
}

.error {
  color: $red;
}

/* diverses */

.alert {
  color: $black;
  padding: $base-spacing-unit;
  text-align: left;
  position: fixed;
  z-index: 5;
  width: 100%;
}

.alert-info {
  background: $yellow;
}

.alert-warning {
  background: $yellow;
}

.alert-error {
  color: $red;
}

.border-vertical {
  border-top: $border;
  border-bottom: $border;
}

.border-upper {
  border-top: $border;
}

.button--border {
  padding: 10px 20px 10px 20px;
  border: solid $light-grey 1px;
  text-decoration: none;
}

.admin__header--color {
  background: $yellow;
}

.header {
  background: $body-bg-color-grey;
}
.no-click {
    pointer-events: none;
}


// overwrite bootstrap

textarea, input {
  border: 1px solid $light-grey;
  line-height: 32px;
  font-family: $sans-serif;
  padding-left: quarter($base-spacing-unit);
}

.btn-primary:active, .btn-primary:hover {
  color: white;
}

.btn-secondary a{
  color: white;
}

.btn-link:hover {
  text-decoration: underline;
}

.btn {
  border-radius: 3px;
  font-family: sans-serif
}

@media (min-width: 1200px) {
    .container{
        max-width: 1600px;
    }
}


// responsive
@include media-breakpoint-down(sm) {
  h1, .display-4 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.9rem;
    font-weight: bold;
  }

  .container {
    padding: 36px 12px;
  }

	.category-links {
    font-size: 1.0rem;
  }

  .copyright {
    font-size: 0.8rem;
  }

  .startpage-subtitle {
    display: none;
  }
}
