/*fonts*/

@font-face {
  font-family: 'OpenSans';
  src: font_url('OpenSans/OpenSans-Regular-webfont.eot');
  src: font_url('OpenSans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  font_url('OpenSans/OpenSans-Regular-webfont.woff') format('woff'),
  font_url('OpenSans/OpenSans-Regular-webfont.ttf') format('truetype'),
  font_url('OpenSans/OpenSans-Regular-webfont.svg#open_sansbold') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: font_url('OpenSans/OpenSans-Bold-webfont.eot');
  src: font_url('OpenSans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  font_url('OpenSans/OpenSans-Bold-webfont.woff') format('woff'),
  font_url('OpenSans/OpenSans-Bold-webfont.ttf') format('truetype'),
  font_url('OpenSans/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  font-weight: 700;
  font-style: normal;
}

/* colors */
$blue: #00978b;
$dark-grey: #3C3C3A;

/* font */
$serif: Georgia, serif;
$sans-serif: "OpenSans", "Helvetica Neue", Helvetica, sans-serif;

/* variables colors */
$font-color: $dark-grey;
$link-color: $blue;

/* units */
$base-spacing-unit: 24px;

body {
  padding-top: 60px;
	font-family: $serif;
	color: $font-color;
}

a, .link {
	font-family: $sans-serif;
	color: $link-color;
	text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    //background: linear-gradient($link-color, $link-color) no-repeat;
    //background-size: 100% 1px;
    //background-position: 0 1.15em;
    //text-shadow: .05em 0 white, -.05em 0 white;
  }
}

h1 {
  font-weight: normal;
  line-height: 60px;
  margin: 0 0 $base-spacing-unit;
}

h2 {
  font-weight: normal;
  line-height: 60px;
  margin: 0 0 $base-spacing-unit;
}

.box__bg {
  display: inline-block;
  padding: $base-spacing-unit $base-spacing-unit;
}

.bg--white {
  background: $transparent-white;
}

/* startpage */
#startpage__start-teaser {
  background: image-url('start-teaser.jpg') no-repeat center center;
  background-size: cover;
}

#startpage__teaser-bg-01 {
  background: image-url('teaser-bg-01.png') no-repeat center center;
  background-size: cover;
}

#startpage__teaser-bg-02 {
  background: image-url('teaser-bg-02.jpg') no-repeat center center;
  background-size: cover;
}

.startpage__photo-bar {
  box-shadow: 0 0 20px $transparent-black inset;
  min-height: 696px;
}
