body {
  font-family: $sans-serif;
  color: $font-color;
  background-color: white;
}

html {
  font-size: 18px;
}

a, .link, #expander {
  cursor: pointer;
  text-decoration: none;
  color: $font-color;

  &:hover {
    color: $link-color;
    text-decoration: none;
  }
}

a.button_link {
  text-decoration: none;
  &:hover {
    background-color: transparent;
    text-decoration: none;
  }
}

.home {
  a, .link, #expander {
    text-decoration: none;
    &:hover {
    }
  }
}


.home .container.divider {
  padding-top: 4em;
  padding-bottom: 5em;
}

ul {
  list-style: none;
  vertical-align: top;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
}


.btn:focus{
  outline: none;
  box-shadow: none;
}

.sans-serif {
  font-family: $sans-serif;
}

/* layout */

.box__bg {
  display: inline-block;
  padding: $base-spacing-unit $base-spacing-unit;
}

.bg--white-trans {
  background: $transparent-white !important;
}

.bg--white {
  background: $white;
}

.bg--grey {
  background: $bg-grey;
}

.bg--light-grey {
  background: $bg-light-grey;
}

.bg--dark {
  background-color: $very-dark-grey;
  color: $white;
}

.color-white {
  color: $white;
}

.color-grey {
  color: $font-color-grey;
}

.error {
  color: $error;
}

/* diverses */

.alert {
  color: $black;
  padding: $base-spacing-unit;
  text-align: left;
  position: fixed;
  z-index: 5;
  width: 100%;
  background: $info;
  border-radius: 0;
}

.alert-warning {
  background: $error_background;
  color: $black;
  padding: $base-spacing-unit;
}

.alert-info {
  background: $info;
}

.alert-error {
  color: $error;
}

.alert_danger {
  background: $yellow;
}

.border-vertical {
  border-top: $border;
  border-bottom: $border;
}

.border-upper {
  border-top: $border;
}

.button--border {
  padding: 10px 20px 10px 20px;
  border: solid $light-grey 1px;
  text-decoration: none;
}

.form-control {
  border-radius: 0.0rem;
}

.admin__header--color {
  background: $info;
}

.header {
  background: $header-grey;
  color: $white;

  a, .link, #expander {
    text-decoration: none;
    color: $white;
  }
}

#footer {
  color: $header-grey;
  background: $white;
}

.single-profile, #footer {
  a {
    text-decoration: none;
    cursor: pointer;
    padding: 0.2em;
    font-weight: bold;
    color: $link-color;
    &:hover {
      background-color: $dropdown-hover-background;
      text-decoration: none;
    }
  }
}

#footer, .single-profile {
  .noHover:hover {
    background-color: transparent;
  }
}

.dropdown-menu-dark {
  background-color: $dropdown-background;
}

.dropdown-item:hover {
  background-color: $dropdown-hover-background;
  color: $speakerinnen-green;
}

.hero-headline {
  margin-top: 17em;

  h1 {
    padding: 15px;
    background-color: $very-dark-grey;
  }
}

.no-click {
  pointer-events: none;
}

.modal-footer.contact {
  align-items: flex-start;
  padding-left: 0rem;
  padding-top: 0rem;
  padding-bottom: 1rem;
  padding-right: 1rem;

  .btn {
    margin-top: 1rem;
  }
  .code_of_conduct_link {
    flex: 1;
    font-size: small;
    padding-top: 0.3rem;
    color: $red;
  }
}


// overwrite bootstrap

textarea, input {
  border: 1px solid $light-grey;
  line-height: 32px;
  font-family: $sans-serif;
  padding-left: quarter($base-spacing-unit);
}

.btn-primary:active, .btn-primary:hover {
  color: white;
}

.btn-secondary a {
  color: white;
}

.btn-link:hover {
  text-decoration: underline;
}

.btn {
  border-radius: 0px;
  font-family: sans-serif;
  text-decoration: none;
}

.home .home-search .twitter-typeahead {
  display: block !important;
}

.startpage-subtitle {
  margin-top: 1em;
  padding: 0em;
}

#header__logo {
  width: 300px;
  }

#header__logo_vorarlberg, #header__logo_ooe {
  }

.container {
  padding: 0 48px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1600px;
  }
}

// responsive
@include media-breakpoint-down(md) {
  h1, .display-4 {
    font-size: 2.0rem;
  }

  .container {
    padding: 0 24px;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.9rem;
    font-weight: bold;
  }

  h2 {
    font-size: 1.2rem;
    }

	.category-links {
    font-size: 1.0rem;
  }

  .copyright {
    font-size: 0.8rem;
  }

  #home_search {
    // width: 700px
  }

  .top-space {
    margin-top: 100px;
  }
}

.sub-menu {
  .col {
    display: flex;
  }
  .card {
    .action_icon {
      color: $primary;
      margin-bottom: 0.75em;
      display: flex;
      justify-content: flex-end;
    }

    h1 {
      padding: 0;
    }
    a {
      color: $font-color;
    }

    .card-body.bottom {
      display: flex;
      align-items: end;
    }

  }
}
