@import 'settings';

html  {
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}

body {
  margin:0;
  font-size: 16px;
  line-height: 1.8em;
  background-color: whitesmoke;
  padding-top: 70px;
  font-family: $serif;
}


  /*basics*/
.sibling-vmargin-sm + .sibling-vmargin-sm {
  margin-top: 5px;
  display: block;
}

.sibling-vmargin-md + .sibling-vmargin-md {
  margin-top: 10px;
  display: block;
}

.sibling-vmargin-l + .sibling-vmargin-l {
  margin-top: 15px;
  display: block;
}

.sibling-vmargin-xl + .sibling-vmargin-xl {
  margin-top: 20px;
  display: block;
}

.bordered-text-block {
  display: inline-block;
  width: 100%;
  padding: 10px 2px;
  margin: 2px 0;

  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;

  font-size:1.25em;
}

.mandatory {
  font-weight: bolder;
}

::-moz-selection {
  background:#ecd10c;
  color:#222;
  text-shadow:none;
}

::selection {
  background:#ecd10c;
  color:#3c3c3a;
  text-shadow:none;
}

.underline {
  display:inline-block;
  border-bottom:10px double rgba(255, 255, 255, 0.4);
}

/* text highlighting */
.italic {
  font-style: italic;
}

.help{
  font-size: 0.9em;
  font-family: $sans-serif;
}

hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #ccc;
  margin:1em 0;
  padding:0;
}

/*links*/

a {
  color: $link-darker-grey;
  text-decoration:none;
  list-style: none;
  font-family: $sans-serif;
}

a:visited {
  text-decoration:none;
}

a:hover {
  color:#3c3c3a;
  text-decoration:none;
}

a:active {
  color:#3c3c3a;
}

.nested-links-hover a, a.nested-link-hover {
  padding: 0px 4px;

  @include hover-invert-text-and-background-color($background-link-dark-grey,$bg-light-grey);
}

/*h-tags*/
h1 {
  font-size: 3.0em;
  line-height: 1.6em;
}

h2 {
  font-size: 2.5em;
  line-height: 1.4em;
}

h3 {
  font-size: 2.0em;
  line-height: 1.2em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size:1.25em;
}



/*+++++++++++++++++++++++++++++*/

abbr[title]{border-bottom:1px dotted;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
ins{background:#ff9;color:#000;text-decoration:none;}
mark{background:#ff0;color:#000;font-style:italic;font-weight:bold;}
pre,code,kbd,samp{font-family:monospace, serif;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:"";content:none;}

small {
  font-size:85%;
  color:#000;
  }

sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}

sup{top:-0.5em;}
sub{bottom:-0.25em;}

nav ul,nav ol {
  list-style:none;
  list-style-image:none;
  margin:0;
  padding:0;
}

dd{margin:0 0 0 40px;}
img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}

/*form*/
form {
  margin:0;
}

fieldset {
  border:0;
  margin:0;
  padding:0;
}

label {
  cursor:pointer;
}

legend {
  border:0;
  *margin-left:-7px;
  padding:0;
  white-space:normal;
}


/*table*/

table {
  border-collapse:collapse;
  border-spacing:0;
}

td {
  vertical-align:top;
}

/*+++++++++++++++++++++++++++++++++++++++++++++*/

.chromeframe {
  position:fixed;
  width:100%;
  height:100%;
  z-index:100000;
  text-align:center;
  background:rgba(0, 0, 0, 0.9);
  margin:0.2em 0;
  color:#fff;
  padding:0.2em 0;
}

*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background-color:transparent}

article .content img{margin:0 auto 15px auto;}
article .content .disciplines{margin:0 auto;}
.dots{position:absolute;width:100%;height:100%;z-index:1;top:0px;background-color:rgba(0, 0, 0, 0.4);}
.no-rgba article{text-shadow:1px 1px 5px #000000;}




/*++++++++++++++++++++++++++++++++++++++++++++++++++*/

.white *{color:#444;}

nav#slide-nav{width:40px;height:80px;margin:0 auto;position:fixed;bottom:0px;right:40px;z-index:25;}nav
#slide-nav div{width:40px;height:40px;float:left;background-color:rgba(0, 0, 0, 0.8);background-repeat:no-repeat;background-position:center;-webkit-transition:opacity 0.15s ease;opacity:0.6;cursor:pointer;}nav#slide-nav div:hover{opacity:1;}

p.overview{font-size:200%;line-height:1.6em;}


.white-search {
  background-color:rgba(255, 255, 255, 0.7);
  padding:5px 0 10px 10px;
  margin: 10px;
  color:#000;

}

.navbar-form .btn {
display: inline-block;
margin-bottom: 0;
}

/* Important Fixes - Pay no attention */

.spinit {transition: 1s; -o-transition: 1s; -moz-transition: 1s; -webkit-transition: 1s; -webkit-transform: rotate(360deg); transform: rotate(360deg);}
.spinback {transition: 1s; -o-transition: 1s; -moz-transition: 1s; -webkit-transition: 1s; -webkit-transform: rotate(0deg); transform: rotate(0deg);}
