@font-face {
  font-family: "SourceSansPro";
  src: font-url('Source_Sans_Pro/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: "OpenSans";
  src: font-url('OpenSans/OpenSans-Regular.ttf');
}
