.simple_form {
  $indent: 120px;
  label {
    float: left;
    width: $indent - 20px;
    text-align: right;
    margin: 2px 10px;
    &.radio, &.checkbox {
      float: none;
      margin: 0;
      width: auto;
      text-align: left;
    }
    &.checkbox {
      display: block;
      margin-left: 0px;
    }
    &.radio {
      margin-right: 10px;
    }
  }
  div.input {
    margin-bottom: 10px;
  }
  input.radio_buttons, input.check_boxes {
    margin-right: 5px;
  }
  .btn {
    margin-bottom: 10px;
  }
  .alert-error {
    color: #D00;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .hint, .error {
    clear: left;
    margin-left: 0px;
    font-size: 12px;
    color: #D00;
    display: block;
    font-weight: 300;
  }
  .hint {
    color: #555;
    font-style: italic;
  }
  .help-inline {
    font-family:"proxima-nova-alt","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
  }
}

.well {
  border: none;
  padding-top: 40px;
  background-color: whitesmoke;
}

.well .control-group-one {
  margin-left: -40px;
}

.well .controls {
  margin-left: 180px;
}

.well legend {
  padding: 40px 0;
  display: block;
  font-size: 4.0em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-family: 'Merriweather',Georgia,serif;
  line-height: 1.8em;
}

.well input[type="text"], .well .input-xlarge, ul.tagit {
  height: 43px;
  padding: 0 14px;
  width: 250px;
  margin: 0;
}

ul.tagit {
  height: 86px;
}

.well .input-xlarge  {
  height: 160px;
}

.well input[type="email"], .well input[type="password"] {
  width: 250px;
  height: 43px;
  padding: 0 12px;
  font-size: 16px;
}

.well input[type="submit"].btn {
	width: 55%;
	height: 43px;
  margin-left: 39%;
  color: #fff;
}

.well .form-actions {
  margin: 30px;
  padding: 0;
}

.forget-password {
	font-size: 0.8em;
	text-align: center;
  padding: 2em;
}
