@import 'settings';

/*header*/

header {
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  /*font-weight: 400;*/
  z-index: 10;
  /*color: #3c3c3a; */
  font-family: $sans-serif;
  line-height: 67px;
}

.space-for-logo {
  padding-left: 200px;
}

@media only screen and (min-width: 1024px) {
  header a#logo {
    width: 180px;
    height: 70px;
    margin-left: -13%;
    margin-top: -0.3%;
    display:inline-block;
    background: url("logo8.png") no-repeat center center;
    z-index: 1000;
    text-indent: -9999px;
    transition: all 0.2s ease-in-out 0s;
    border-bottom: 0px;
  }
}

header a#logo:hover {
  opacity: 0.7;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}


#logo {
	width: 70%;
	position: absolute;
	top: 5%;
	left:15%;
}

#logo img {
	width: 100%;
	height: 100%;
}

.header-link {
  font-weight: bold;
  }

.top-header {
  background-color: #fff;
  height: 67px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  -moz-box-shadow:inset 0px 1px 11px #999099;
  -webkit-box-shadow:inset 0px 1px 11px #999099;
  box-shadow:inset 0px 1px 11px #999099;
}
