@import 'settings';

* {
	margin: 0;
	padding: 0;
	border: 0;
}

#badge-log {
	width: 334px;
	height: 586px;
	margin: 0 auto 0 auto;
	background-image: image-url("badge.png") 0 0 no-repeat;
	position: relative;
	z-index: 99999;
}

#badge-inner {
	width: 320px;
	height: 400px;
	position: absolute;
	top: 174px;
	left: 7px;
}

#badge-inner p {
	position: absolute;
	left: 7%;
  bottom: -4px;
  z-index: 5555;
  color: black;
}

#badge-inner .forgot-p {
  position: absolute;
  left: 25%;
  bottom: -120px;
  z-index: 5555;
  color: black;
  font-size: 0.8em;
}

.confirmation {
  color: black;
  font-size: 0.8em;
  text-align: center;
}

#badge-inner .remember {
  position: absolute;
  bottom: 11px;
  z-index: 5555;
  color: black;
}

#login {
  position: absolute;
  bottom: 40px;
  left: 20px;
  right: 20px;
}

#badge form {
	margin: 0;
}

#badge .control-group .input-xlarge, input[type="password"], input[type="email"] {
	width: 284px;
	height: 43px;
	padding: 0 12px;
	font-size: 16px;
	line-height: 1;
	margin-bottom: 0;
	font-family: $sans-serif;
}

.control-group {
	margin-bottom: 7px;
	position: relative;
}

.control-group:last-child {
	margin-bottom: 0;
}

.control-group .btn {
	width: 100%;
	height: 40px;
	font-weight: bold;
}

.btn a {
	color: #000;
	font-weight: bold;
	font-weight: 3em;
	padding-top: 10px;
}
