@import 'settings';

* {
	margin: 0;
	padding: 0;
	border: 0;
}

.the-badge {
	display: inline-block;
	padding-top: 22px;
	position: relative;
	text-align: center;
	min-width: 250px;
	width: 30%;
	max-width: 300px;
}

.center-block {
	display: block;
	text-align: center;
}

.badge-connector-height {
	height: 100px;
}

.badge-rope-height {
	height: 50px;
}

.badge-rope-left {
	width: 18px;
	background: url("rope-short-left.png") 0 0 no-repeat;
	position: relative;
	display: inline-block;
	z-index: 0;
}

.badge-rope-right {
	width: 40px;
	background: url("rope-short-right.png") 0 0 no-repeat;
	position: relative;
	display: inline-block;
	z-index: 2;
}

.badge-connector {
	margin-top: -23px;
	background: rgba(255,255,255,0.8);
	position: relative;
	display: inline-block;
	text-align: center;
	min-width: 52px;
	z-index: 1;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-box-shadow: 0px -1px 3px 2px $box-shadow;
	-moz-box-shadow: 0px -1px 3px 2px $box-shadow;
	box-shadow: 0px -1px 3px 2px $box-shadow;
}

@mixin circle-item {
	-webkit-border-radius: 120;
	-moz-border-radius: 120;
	border-radius: 120px;
	display: inline-block;
	-webkit-box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.75);
}

@mixin lin-gradient($gradient) {
	background: -moz-linear-gradient($gradient);
	background: -webkit-linear-gradient($gradient);
	background: -o-linear-gradient($gradient);
	background: -ms-linear-gradient($gradient);
	background: linear-gradient($gradient);
}

.inner-circle {
	margin: 4px;
}

.circle-big {
	@include circle-item;
	height: 30px;
	width: 30px;
}

.circle-light {
	background: $bg-light-grey;
}

.circle-dark {
	background: #333;
}

.circle-light-metallic {
	background: #fff;
	@include lin-gradient($bwb-gradient);
}

.circle-dark-metallic {
	background: #333;
	@include lin-gradient($bwb-gradient-dark);
}

.circle-medium {
	@include circle-item;
	height: 22px;
	width: 22px;
}
.circle-small {
	@include circle-item;
	height: 14px;
	width: 14px;
}


@mixin circle-container($height, $margin-top) {
	margin-top: $margin-top;
	height: $height;
	padding: 0;
	border: 0;
}

.circle-container-big {
	@include circle-container(25px,10px);
}
.circle-container-medium {
	@include circle-container(20px,15px);
}
.circle-container-small {
	@include circle-container(15px,5px);
}

.badge-canvas {
	top: -36px;
	background: #eee;
	text-align: center;
	position: relative;
	display: block;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	-webkit-box-shadow: 0px 2px 10px 2px $box-shadow;
	-moz-box-shadow: 0px 2px 10px 2px $box-shadow;
	box-shadow: 0px 2px 10px 2px $box-shadow;
	padding: 0;
}

.perforation-height {
	height: 18px;
}

.badge-perforation {
	min-width: 70px;
	min-height: 12px;
	display: inline-block;
	background: $bg-light-grey;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	-webkit-box-shadow: inset 0px 8px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    inset 0px 8px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         inset 0px 8px 10px 0px rgba(50, 50, 50, 0.75);
}

.badge-logo {
	text-align: center;
	padding: 20px;
}

.confirmation {
  color: black;
  font-size: 0.8em;
  text-align: center;
}

.login-form {
	padding: 20px;
	*:not(label) {
		display: block;
		text-align: center;
		width: 100%;
	}
	input[type="email"],input[type="password"],input[type="text"] {
		text-align: left;
	}

	input[type="checkbox"] {
		width: 20px;
	}

	input[type="checkbox"], label {
		display: inline-block;
	}

	a {
		line-height: normal;
	}
}

#badge form {
	margin: 0;
}

/*#badge .control-group .input-xlarge, input[type="password"], input[type="email"] {
	width: 284px;
	height: 43px;
	padding: 0 12px;
	font-size: 16px;
	line-height: 1;
	margin-bottom: 0;
	font-family: $sans-serif;
}*/

.control-group {
	margin-bottom: 7px;
	position: relative;
}

.control-group:last-child {
	margin-bottom: 0;
}

.control-group .btn {
	width: 100%;
	height: 40px;
	font-weight: bold;
}

.btn a {
	color: #000;
	font-weight: bold;
	font-weight: 3em;
	padding-top: 10px;
}
