@import 'settings';

.the-badge, .badge-rope-left, .badge-rope-right,
.badge-connector, .badge-canvas {
	display: inline-block;
	position: relative;
}

.the-badge {
	min-width: 250px;
	    width: 30%;
	max-width: 300px;
	padding-top: 22px;

	text-align: center;
}

.image-only-container {
	line-height: 0;
}

.badge-rope-left {
	z-index: 0;
	width: 18px;
	height: 50px;

	background: url("rope-short-left.png") 0 0 no-repeat;
}

.badge-rope-right {
	z-index: 2;
	width: 40px;
	height: 50px;

	background: url("rope-short-right.png") 0 0 no-repeat;
}

.badge-connector {
	margin-top: -23px;
	background: rgba(255,255,255,0.8);
	text-align: center;
	min-width: 52px;
	height: 100px;
	z-index: 1;

    -webkit-border-top-left-radius: 5px;
      	-moz-border-radius-topleft: 5px;
            border-top-left-radius: 5px;
	 -webkit-border-top-right-radius: 5px;
	     -moz-border-radius-topright: 5px;
	         border-top-right-radius: 5px;

	@include box-shadow(0px,-1px,3px,2px,$box-shadow-black);

}

.inner-circle {
	margin: 4px;
}

.circle-container-big {
	@include circle-container(25px,10px);
}
.circle-container-medium {
	@include circle-container(20px,15px);
}
.circle-container-small {
	@include circle-container(15px,5px);
}

.circle-big, .circle-medium, .circle-small {
	display: inline-block;
}

.circle-big {
	@include circle-item(30px);
}

.circle-medium {
	@include circle-item(22px);
}
.circle-small {
	@include circle-item(14px);
}

.circle-light {
	background: $bg-light-grey;
}

.circle-dark {
	background: #333;
}

.circle-light-metallic {
	background: #fff;
	@include lin-gradient($bwb-gradient);
}

.circle-dark-metallic {
	background: #333;
	@include lin-gradient($bwb-gradient-dark);
}

.badge-canvas {
	margin-top: -12px;
	padding: 0;

	@include border-radius(14px);
	background: #eee;
	text-align: center;
	@include box-shadow(0px,2px,10px,2px,$box-shadow-black);
}

.badge-perforation {
	display: inline-block;
	min-width: 70px;
	min-height: 12px;
	margin: 4px 0;

	@include border-radius(14px);
	background: $bg-light-grey;
	@include inset-box-shadow(0px,8px,10px,0px,$box-shadow-dark-gray);
}

.smaller-text {
  font-size: 0.8em;
}

.login-form {
	padding: 20px;

	font-family: $sans-serif;

	*:not(label) {
		display: block;
		text-align: center;
		width: 100%;
	}

	input[type="email"],input[type="password"],input[type="text"] {
		text-align: left;
	}

	input[type="checkbox"] {
		width: 20px;
	}

	input[type="checkbox"], label {
		display: inline-block;
		font-weight: normal;
	}

	a {
		line-height: normal;
	}
}

/* + = css sibling selector :) */
.control-group + .control-group {
	margin-top: 7px;
}
