@import 'settings';

.medialink {
  font-size: 1.1em;
  cursor: move;
}

ul#medialinks_list {
    padding: 0;
    margin: 0;
  }

#medialinks_list {
  list-style-type: none;

  li {
    margin: 0 3px 10px 3px;
    padding: 0.4em;
    background-color: white;

    .edit-buttons {
      text-align: right;
      padding: 10px 0;
    }
  }
}

#messages {
  padding: 5px 2px;
  color: #49AFCD;
}
