@import 'settings';

.medialink {
}

.medialinks a{
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul#medialinks_list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 1.1em;

  li {
    margin: 0 3px 10px 3px;
    padding: 0.8em;
    background-color: white;
    cursor: move;
    -webkit-border-radius: 6px;
    -moz-border-radius: 86x;
    border-radius: 6px;
    -webkit-box-shadow: 3px 3px 3px #ddd;
    -moz-box-shadow: 3px 3px 3px #ddd;
    box-shadow: 3px 3px 3px #ddd;

    h5 {
      font-family: $serif;
      font-weight: normal;
    }

    .edit-buttons {
      border-top: 1px solid #eee;
      text-align: right;
      padding-top: 10px;
      margin-top: 20px;
    }
  }
}

#messages {
  padding: 5px 2px;
  color: $button-blue;
}
