@import 'settings';

.pages {
  background-color: $bg-light-grey;
}

.imprint {
  padding-top: 50px;
}

.pages li {
  line-height: 1.5em;
  }

.pages h1 {
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  line-height: 1.3em;
  font-weight: 400;
}
