@import 'settings';

.pages {
  font-family: $serif;
  background-color: white;
  line-height: 1.8em;
}

.imprint {
  padding-top: 50px;
}

.pages li {
  line-height: 1.5em;
  }

.pages h1 {
  padding-top: 30px;
  font-size: 4.0em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  line-height: 1.8em;
  font-weight: 300;
}


