@import 'settings';

.full-width-container {
  width: 100%;
  text-align: center;
}

.full-width-row {
  display: inline-block;
  text-align: left;
  width: 75%;
}

.static-page {
  background: #fff;
  padding-bottom: 30px;
  h3 {
    margin: 30px 0 15px;
  }

  h4 {
    margin: 20px 0 10px;
  }

  .insertion {
    padding: 10px 0;
    margin: 0 5%;
  }
}

/*.pages {
  background-color: white;
  padding-bottom: 70px;
}

.imprint {
  padding-top: 50px;
}

.pages li {
  line-height: 1.5em;
  }

.pages h1 {
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  line-height: 1.3em;
  font-weight: 400;
}*/
