@import 'settings';

.profiles {
}

.profiles .photo {
  height: 250px;
  width: 250px;
  border: 2px solid black;
  margin-right: 5%;
  overflow: hidden;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-filter: grayscale(100%);
  filter: gray; /* IE6-9 */
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: grayscale(100%);
}

.profiles .photo:hover{
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: grayscale(00%);
}

.title-profiles {
	padding-top: 30px;
  font-size: 4.0em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-family: $sans-serif;
  line-height: 1.8em;
}

.profiles h1 {
  line-height: 1;
  font-weight: 400;
  padding: 30px 0 0 0;
}

.profiles h2 {
  font-weight: 400;
}

.profiles h5 {
  font-size: 1.3em;
  padding: 0;
  margin-bottom: 0.5em;
  font-family: $sans-serif;
  font-weight: 400;
  line-height: 1;
}

.profiles span {
  font-weight: 400;
  font-size: 1.1em;
  color: #5e5e5e;
}

.text-profile {
  display:inline-block;
  background-color:rgba(255, 255, 255, 0.7);
  padding:12px 12px 20px 12px;
  color:#3c3c3a;
  list-style-type: none;
  line-height: 1.5em;
}

.bottom {
    margin-top: 30px;
    margin-bottom: 30px;
  }

.text-profile ul li{
  list-style-type: none;
}

.text-profile ul li h5 {
  font-weight: bold;
}

.main-topic {
  margin-top: 10px;
  font-size: 1.3em;
  font-weight: 400;
}

.buttons-modals {
  width: 100%;
  margin-bottom: 0.5em;
}

.profile-delete-pic {
  margin: 0 0 2em 13em;
}

#contact {
  display: none;
}

/*classes for topicscloud*/
.s {
  font-size: 12px;
}

.m {
  font-size: 16px;
}

.l {
  font-size: 18px;
}

.topics-cloud {
  min-height: 200px;
  font-family: $sans-serif;
}

.topics-cloud a{
  background-color: #fff;
  padding: 0px 4px;
}

.topics-cloud a:hover {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  background-color: #3C3C3A;
  color: whitesmoke;
  }

.topics-cloud .topic-filter {
  float: right;
}

.topics-cloud #quick-filter {
  height: 32px;
  width: 160px;
}

/*speaker*/

.speaker {
  width: 150px;
  height: 400px;
  float: left;
  margin: 0px 5px;
  font-size: 90%;
}

.speaker .name {
  font-weight:normal;
  padding:5px 5px 0px 5px;
  display:inline-block;
  font-size: 1.2em;
}

.speaker .desc {
  font-style:italic;
  border-bottom:1px solid #ccc;
  padding:0px 5px 10px 5px;
}

.speaker .contact-info {
  padding:0px 5px;
}

.speaker.contact-info a {
  color:#444;
  font-size:11px;
  display:inline-block;
}

.speaker img {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-filter: grayscale(100%);
  filter: gray; /* IE6-9 */
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: grayscale(100%);

}

.speaker img:hover{
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: grayscale(00%);
}
