
/* profiles */

.profile-box {
  display: flex;
  flex-direction: column;
}

.profile-navi {
  text-align: right;
}

.profile-name {
  a {
    font-weight: bold;
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    &:hover {
      background-color: $dropdown-hover-background;
    }
  }
}

.caption {
  display: flex;
  flex-direction: column;
  flex: auto;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.profile-subtitle {
  display: flex;
  flex: auto;
  padding: 0.25rem 1.5rem;

  .fa {
    font-size: 2.6em;
  }

  .profile-tooltip {
    align-self: flex-end;

  }
  p {
    flex: auto;
    margin-bottom: 0rem;
  }
}

.btn-stretch {
  display: block;
  width: 100%;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link.active {
  background: $light-grey;
}

.photo--grey {
  border: $border;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-filter: grayscale(100%);
  filter: gray; /* IE6-9 */
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: grayscale(100%);
  width: 100%;
}

.photo--grey:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: grayscale(00%);
}

.profile-box.register {
  box-sizing: border-box;
  text-align: left;
  position: relative;
  overflow: hidden;
  color: $secondary;
  cursor: default;

  .fit-height {
    position: relative;
    padding: inherit;
    padding-top: 100%;
    width: 100%;
    flex: auto;
  }

  .border {
    // padding: 2rem;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  h4, p {
    text-align: left;
  }

  .outer {
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .btn {
    text-align: left;
  }

  .stretch {
    flex: 1;
    display: flex;
    align-items: center;
    width: 100%;

    .profile-subtitle {
      overflow: hidden;
      // max-height: 3rem;
      padding: 0rem;
    }

    a.btn {
      width: 100%;
      max-height: 3.7rem;
    }

    .top {
      display: flex;
      align-items: flex-end;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .middle {
      padding-left: 1rem;
      padding-right: 1rem;
      overflow: hidden;
    }

    .bottom {
      display: flex;
      padding-left: 1rem;
      padding-right: 1rem;
      align-items: flex-start;
    }

    /* override headline sizes so our media breakpoint for them doesn't apply on register card */
    h2 {
      font-size: 2rem; // bootstrap default
    }
    h4 {
      font-size: 1.5rem; // bootstrap default
    }

    /* multi-column medium screens - don't show middle part */
    @media all and (min-width: 1200px) and (max-width: 1423px) {
      .top {
        // margin-bottom: 0.8rem;
      }
      .middle {
        h4 {
          font-size: 1.2rem; // bootstrap default
        }
      }
    }

    /* multi-column small screens - show only button */
    @media all and (min-width: 576px) and (max-width: 1199px) {
      .top {
        h2 {
          font-size: 1.5rem; // bootstrap default
        }
        // display: none;
      }
      .middle {
        h4 {
          font-size: 1.1rem; // bootstrap default
        }
      }
      a.btn {
        max-height: none;
      }
    }
  }

  .bottom-padding {
    min-height: 1.5rem;
  }
}

.card-img-top {
  border-radius: 0px
}

/* medialinks */

.simple_form abbr[title] {
  border-bottom: none;
}

ul#medialinks__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  li {
    margin: 0 3px 35px 3px;
    padding: 0.8em;
    background-color: white;
    cursor: move;
    border: $border;
    border-left: 24px solid $light-grey;
  }
}

#medialinks__list--sort-message {
  color: $primary;
}

/* autocomplete in search */
.typeahead {
  font-family: $sans-serif;
  vertical-align: middle;
}

.tt-dropdown-menu {
  background: white;
  width: 100%;
  padding: 10px;
  color: $dark-grey;
}

.tt-suggestion {
  margin: 0;
  background: $transparent-white;
  padding: halve($base-spacing-unit) $base-spacing-unit;

  p {
    margin: 0;
  }

  &:hover {
    background-color: whitesmoke;
    color: $primary;
    cursor: pointer;
  }
}

/* paginate */

.pagy-bootstrap-nav ul {
  margin-left: 0px;
  margin-bottom: 0px;
}

.pagy-bootstrap-nav ul > li > a,
.pagy-bootstrap-nav ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: #DDD;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

.page-item:first-child .page-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 1px;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.page-item.active .page-link {
    color: $link-color;
    cursor: default;
}

.page-link {
  color: $font-color;
}
.page-link:hover,
.page-link:focus,
.page-item.active .page-link {
    border-color: $link-bg-color-hover;
    background-color: $link-bg-color-hover;
    color: $link-color-hover;
}

/* edit form */
#form-group-willing-to-travel label, #form-group-nonprofit label {
  margin-left: 0.3rem;
}

/* fontawesome for profile boolean attributes */
.fa-check-square {
  color: $primary;
}

.fa-times-rectangle {
  color: $error
}

/*tooltip*/
.profile-tooltip {
  text-align: left;
  font-size: 12px;
}

body .tooltip-inner.wide {
  max-width: 300px;
}
