// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body { padding-top: 70px; }

.header {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.5);
}

.header_small {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

img {
  box-shadow: 0 0 0 1px #333,
              0 0 0 3px #fff,
              0 16px 5px -10px #333;

}


#topics_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

.tag_list {
    font-weight: bold;
    font-size: 16px;
  }

// this is css to style the search box in the nav bar
.navbar form { width: 210px; }
.navbar form input { float: left; }
.navbar form label { float: left; }

