@import 'settings';

#start-page {
  font-family: $serif;
  padding: 0;
  margin-top: -25px;
  }

#start-page h1 {
  font-weight: normal;
  font-size: 3em;
  margin: 70px 0 20px 0;
  line-height: 1.4em;
  }

#start-page h2 {
  font-weight: normal;
  font-size: 1.4em;
  line-height: 1.6em;
  }

#start-page h4 {
  font-weight: normal;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  margin-bottom: 50px;
  font-size: 1.4em;
  line-height: 1.8em;
  }

#curie-photo {
  background-image: url("curie.jpg");
  min-height: 600px;
  }

#speakerin-photo {
  background-image: url("maren_buehne.jpg");
  }

#coaching-photo {
  background-image: url("coaching.jpg");
  }

/* --------------------- Photo Bar --------------*/
.photo-bar {
  background-attachment:fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  box-shadow:inset 0px 0px 20px rgba(0, 0, 0, 0.5);
  padding:80px 0px;
  }

.text-white-bg {
  display:inline-block;
  background-color:rgba(255, 255, 255, 0.7);
  padding:12px 12px 20px 12px;
  color:#3c3c3a;
}

.text-white-bg a {
  color:#3c3c3a;
  padding: 0px 4px;
  background-color:whitesmoke;
}

.text-white-bg a:hover {
  color: whitesmoke;
  background-color:#3c3c3a;
  padding: 0px 4px;
}

/*+++++++++++++ Text Bar ++++++++++++++++*/

.text-bar {
  background-color:#fff;
  z-index:99999;
  padding-bottom: 50px;
  }

.text-bar a:hover {
  color: whitesmoke;
  background-color:#3c3c3a;
  padding: 0px 4px;
}


  /* --------------Category---------------- */
.categories li {
  list-style-type: none;
  }

.category a {
  font-size: 1.9em;
  background-color: whitesmoke;
  padding: 3px 6px;
  line-height:2em;
  }

.category a:hover {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  color: whitesmoke;
  font-size: 1.95em;
  padding: 3px 6px;
}

.copyright {
  text-align: right;
  font-size: 0.8em;
  margin-right: 10px;
}

.gray-bg *{
  color: #222;
}

/*curies badge*/

.curie-badge img {
  position: fixed;
  z-index: 1;
  left: 68%;
  top:60%;
  width: 8%;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
}

.curie-badge img:hover {
  transform:  translate(-25px, 20px) rotate(0deg) scale(1.3);
  -moz-transform: translate(-25px, 20px) rotate(0deg) scale(1.3);
  -webkit-transform: translate(-25px, 20px) rotate(0deg) scale(1.3);
}
