@import 'settings';

.start-page {
  padding: 0;
  margin-top: -25px;
}

$space-between-cols-in-col-xs-mode: 50px;

.about-grid {
 margin-bottom: -$space-between-cols-in-col-xs-mode;

 .about-grid-col {
   margin-bottom: $space-between-cols-in-col-xs-mode;

    .bordered-text-block a {
        @include hover-invert-text-and-background-color($background-link-dark-grey,#fff);
   }
 }
}

/* --- bordered text blocks in bars --- */
.photo-bar, .photo-grid-bar, .text-bar {
  .bordered-text-block {
    padding: 20px 4px;
    margin: 30px 0;
  }
}
/* --------------------- Photo Bars --------------*/
.photo-bar {
  padding:12% 0;

  /*background-attachment:fixed;*/
  -webkit-background-size:cover;
     -moz-background-size:cover;
       -o-background-size:cover;
          background-size:cover;

  @include inset-box-shadow(0px,0px,20px,0px,$bar-shadow-black);
}

.text-block-on-photo {
  display:inline-block;
  padding:12px;

  font-size: 1.4em;

  background-color:$text-bg-transp-white;
  color:$background-link-dark-grey;

  .sibling-vmargin-md {
    display: block;
  }
}

.copyright {
  margin-right: 10px;

  text-align: right;
  font-size: 0.8em;
}

.start-page-images {
  background-position: center center;
  background-size: cover;
  }

#curie-photo {
  min-height: 600px;

  background-image: url("curie.jpg");
}

#speakerin-photo {
  background-image: url("maren_buehne.jpg");
}

#coaching-photo {
  background-image: url("coaching.jpg");
}


/*+++++++++++++ Text Bar ++++++++++++++++*/

.text-bar, .photo-grid-bar {
  padding: 50px 0px;
  position:relative;
  z-index:2;

  background-color:#fff;
}

  /* --------------Category---------------- */
.categories li {
  list-style-type: none;
}

.category a {
  line-height: 2em;
  font-size: 1.9em;
}

/*curies badge*/

.curie-badge img {
  position: fixed;
  z-index: 1;
  left: 68%;
  top:60%;
  width: 8%;
  @include transition(all,.3s,ease-in-out);
  @include rotate(-10deg);
}

.curie-badge img:hover {
  @include rotate-scale-translate-xy(0deg,1.3,-25px,20px);
}
