@import 'settings';

.footer, .start-page {
  font-weight: normal;
  font-family: $serif;

  h1 {
    margin: 70px 0 20px 0;
    line-height: 1.4em;

    font-size: 3em;
  }

  h4 {
    padding: 20px 0;
    margin-bottom: 50px;
    line-height: 1.8em;

    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

  }
}

.start-page {
  padding: 0;
  margin-top: -25px;

  h2 {
    line-height: 1.6em;

    font-size: 1.4em;
  }

  h4 {
    font-size: 1.4em;
  }
}

.footer {
  a {
    color: $footer-text;
  }

  h4 {
    font-size: 1.2em;
  }
}

$space-between-cols-in-col-xs-mode: 50px;

.about-grid {
 margin-bottom: -$space-between-cols-in-col-xs-mode;

 .about-grid-col {
   margin-bottom: $space-between-cols-in-col-xs-mode;

   h4 a {
        @include hover-invert-text-and-background-color($background-link-dark-grey,#fff);
   }
 }
}

#curie-photo {
  min-height: 600px;

  background-image: url("curie.jpg");
  }

#speakerin-photo {
  background-image: url("maren_buehne.jpg");
  }

#coaching-photo {
  background-image: url("coaching.jpg");
  }

/* --------------------- Photo Bar --------------*/
.photo-bar {
  padding:80px 0px;

  background-attachment:fixed;
  -webkit-background-size:cover;
     -moz-background-size:cover;
       -o-background-size:cover;
          background-size:cover;

  @include inset-box-shadow(0px,0px,20px,0px,$bar-shadow-black);
}

.text-white-bg {
  display:inline-block;
  padding:12px 12px 20px 12px;

  background-color:$text-bg-transp-white;
  color:$background-link-dark-grey;
}

.nested-links-hover a, a.nested-link-hover {
  padding: 0px 4px;

  @include hover-invert-text-and-background-color($background-link-dark-grey,$bg-light-grey);
}

/*+++++++++++++ Text Bar ++++++++++++++++*/

.text-bar, .photo-grid-bar {
  padding-bottom: 50px;
  position:relative;
  z-index:2;

  background-color:#fff;
  }

  /* --------------Category---------------- */
.categories li {
  list-style-type: none;
  }

.category a {
  line-height: 2em;
  font-size: 1.9em;
}

.copyright {
  margin-right: 10px;

  text-align: right;
  font-size: 0.8em;
}

/*curies badge*/

.curie-badge img {
  position: fixed;
  z-index: 1;
  left: 68%;
  top:60%;
  width: 8%;
  @include transition(all,.3s,ease-in-out);
  @include rotate(-10deg);
}

.curie-badge img:hover {
  @include rotate-scale-translate-xy(0deg,1.3,-25px,20px);
}
