/* Backgrounds bright colors*/
.bg-teal { background-color: $teal; }
.bg-dark_teal { background-color: $dark_teal; }
.bg-soft_blue { background-color: $soft_blue; }
.bg-purple { background-color: $purple; }
.bg-rose { background-color: $rose; }
.bg-pink { background-color: $pink; }
.bg-dark_pink { background-color: $dark_pink; }
.bg-raspberry_red { background-color: $raspberry_red; }
.bg-red_orange { background-color: red_orange; }
.bg-orange { background-color: $orange; }
.bg-bronze { background-color: $bronze; }
.bg-dark_yellow { background-color: $dark_yellow; }

// topics

#available-tags-box {
  max-height: 400px;
  overflow: scroll;
  background: $tag-box-background;
}

#selected-tags-box {
  height: 100px;
}

div#v-pills-tab a {
  color: black;
}

// colors of categories and tags
$categories_dark_color: (
  internet: $pink,
  marketing: $dark_pink,
  politics: $raspberry_red,
  science: $red_orange,
  environment: $orange,
  miscellaneous: $bronze,
);

$categories_bright_color: (
  arts: $teal,
  body: $dark_teal,
  career: $soft_blue,
  companies: $purple,
  diversity: $rose,
);

$categories_custom_color: (
  arts: $teal,
  body: $dark_teal,
  career: $soft_blue,
  companies: $purple,
  diversity: $rose,
  internet: $pink,
  marketing: $dark_pink,
  politics: $raspberry_red,
  science: $red_orange,
  environment: $orange,
  miscellaneous: $bronze,
);

// brighter colors
$categories_second_color: (
  arts: $teal_1,
  body: $dark_teal_1,
  career: $soft_blue_1,
  companies: $purple_1,
  diversity: $rose_1,
  internet: $pink_1,
  marketing: $dark_pink_1,
  politics: $raspberry_red_1,
  science: $red_orange_1,
  environment: $orange_1,
  miscellaneous: $bronze_1,
);
// create classes and ids for the tagfilter

@each $name, $color in $categories_dark_color {
  button.cat_#{$name} {
    background: $color;
    color: white;
    &:hover {
      background: $color;
      color: white;
    }
  }
}

@each $name, $color in $categories_bright_color {
  button.cat_#{$name} {
    background: $color;
    color: black;
    &:hover {
      background: $color;
      color: black;
    }
  }
}

// create classes and ids for the tagfilter with brighter background color

@each $name, $color in $categories_second_color {
  button.cat_bright_#{$name} {
    background: $color;
    color: black;
    &:hover {
      background: $color;
      color: black;
    }
  }
}

@each $name, $color in $categories_custom_color {
  div.category_item_#{$name} {
    background-color: $color;
  }
  a#v-pills-#{$name}-tab {
    i { color: $body-bg-color-grey; }
    &:hover {
      color: $color;
    }
    i.icon-active-#{$name} {
      color: $color;
    }
  }

  a#v-pills-#{$name}-tab.active {
    color: $color;
    background: $body-bg-color-grey;
  }
  a#category-#{$name} {
    color: $color;
  }
  @include media-breakpoint-down(sm) {
   div.category_item_#{$name} {
      font-size: 1.5rem;
    }
  }
  @include media-breakpoint-down(xs) {
   div.category_item_#{$name} {
      font-size: 1.0rem;
    }
  }
  @include media-breakpoint-down(xs) {
   div.category_item_#{$name}_numbers {
      font-size: 1.2rem;
    }
  }
}



@each $name, $color in $categories_second_color {
  div.category_item_#{$name}_numbers {
    background-color: $color;
  }
}

// darker colors
$categories_third_color: (
  arts: $teal_2,
  body: $dark_teal_2,
  career: $soft_blue_2,
  companies: $purple_2,
  diversity: $rose_2,
  internet: $pink_2,
  marketing: $dark_pink_2,
  politics: $raspberry_red_2,
  science: $red_orange_2,
  environment: $orange_2,
  miscellaneous: $bronze_2,
);


@each $name, $color in $categories_third_color {
  div#v-pills-#{$name} {
    //background-color: $color;
  }

  button.cat_#{$name} i {
    color: $color;
  }

  bg-color-#{$name} {
    background-color: $color;
  }
}