/* Backgrounds bright colors*/
.bg-teal { background-color: $teal; }
.bg-dark_teal { background-color: $dark_teal; }
.bg-soft_blue { background-color: $soft_blue; }
.bg-purple { background-color: $purple; }
.bg-rose { background-color: $rose; }
.bg-pink { background-color: $pink; }
.bg-dark_pink { background-color: $dark_pink; }
.bg-raspberry_red { background-color: $raspberry_red; }
.bg-red_orange { background-color: red_orange; }
.bg-orange { background-color: $orange; }
.bg-bronze { background-color: $bronze; }
.bg-dark_yellow { background-color: $dark_yellow; }

// topics

#available-tags-box {
  max-height: 400px;
  overflow: scroll;
  background: $white-smoke;
}

#selected-tags-box {
  height: 100px;
}
div#v-pills-tab a {
  color: black;
}

// colors of categories and tags
$categories_dark_color: (
  arts: $teal,
  science: $red_orange,
  politics: $raspberry_red,
  body: $dark_teal,
  marketing: $dark_pink
);

@each $name, $color in $categories_dark_color {
  button.cat_#{$name} {
    background: $color;
    color: white;
    &:hover {
      background: $color;
      color: white;
    }
  }
  a:link#v-pills-#{$name}-tab.active {
    background: $color;
    color: white;
  }
  a:link#v-pills-#{$name}-tab {
    i { color: $color; }
    &:hover {
      background: $color;
      color: white;
    }
  }
  a:link#category-#{$name} {
    color: $color;
  }
}

$categories_bright_color: (
  career: $soft_blue,
  diversity: $rose,
  internet: $pink,
  companies: $purple,
  miscellaneous: $bronze
);

@each $name, $color in $categories_bright_color {
  button.cat_#{$name} {
    background: $color;
    color: black;
    &:hover {
      background: $color;
      color: black;
    }
  }
  a:link#v-pills-#{$name}-tab.active {
    background: $color;
    color: black;
  }
  a:link#v-pills-#{$name}-tab {
    i { color: $color; }
    &:hover {
      background: $color;
      color: black;
    }
  }
  a:link#category-#{$name} {
    color: $color;
  }
}

$categories_second_color: (
  career: $soft_blue_2,
  diversity: $rose_2,
  internet: $pink_2,
  companies: $purple_2,
  miscellaneous: $bronze_2,
  arts: $teal_2,
  science: $red_orange_2,
  politics: $raspberry_red_2,
  body: $dark_teal_2,
  marketing: $dark_pink_2
);

@each $name, $color in $categories_second_color {
  div#v-pills-#{$name} {
    background-color: $color;
  }
  button.cat_#{$name} i {
    color: $color;
  }

  bg-color-#{$name} {
    background-color: $color;
  }
}