/* Tag Backgrounds all colors*/
.bg-arts { background-color: $arts_sec; }
.bg-body { background-color: $body_sec; }
.bg-career { background-color: $career_sec; }
.bg-companies { background-color: $companies_sec; }
.bg-diversity { background-color: $diversity_sec; }
.bg-environment { background-color: $environment_sec; }
.bg-internet { background-color: $internet_sec; }
.bg-marketing { background-color: $marketing_sec; }
.bg-politics { background-color: $politics_sec; }
.bg-science { background-color: $science_sec; }

/* Tag icon Backgrounds all colors*/
.bg-icon-arts { background-color: $arts; }
.bg-icon-body { background-color: $body; }
.bg-icon-career { background-color: $career; }
.bg-icon-companies { background-color: $companies; }
.bg-icon-diversity { background-color: $diversity; }
.bg-icon-environment { background-color: $environment; }
.bg-icon-internet { background-color: $internet; }
.bg-icon-marketing { background-color: $marketing; }
.bg-icon-politics { background-color: $politics; }
.bg-icon-science { background-color: $science; }

// topics

#available-tags-box {
  max-height: 300px;
  overflow: scroll;
  background-color: $white-smoke;
  border: 1px solid $grey-stroke;
}

#selected-tags-box {
  height: 100px;
  overflow: scroll;
  border: 1px solid $grey-stroke;
}

div#v-pills-tab a {
  color: black;
}

.tag-button {
  font-size: 0.8rem;
  padding: 0.2em 0.7em;
  box-shadow: 0 0 0 0px white, 0 1.5px 0.5px $grey-stroke;
}

#startpage-categories__list {
  display: flex;
  flex-direction: row;

  .progress_bar_part {
    flex: auto;
  }
  a:hover {
    color: white;
  }
}

// colors of categories and tags
$categories_dark_color: (
  marketing: $marketing,
  politics: $politics,
  internet: $internet,
  environment: $environment
);

@each $name, $color in $categories_dark_color {
  .cat_#{$name} {
    background: $color;
    color: white;
    &:hover {
      background: $color;
      color: white;
    }
  }
  a:link#v-pills-#{$name}-tab.active {
    background: none;
    color: $color;
    font-weight: bold;
  }
  a:link#v-pills-#{$name}-tab {
    i { color: $color; }
    &:hover {
      color: $color;
    }
  }
  #category-#{$name} {
    color: $color;
    text-decoration: underline;
  }
  .bg-#{$name} {
    i { color: #{$color} }
  }
}

$categories_bright_color: (
  arts: $arts,
  body: $body,
  career: $career,
  companies: $companies,
  diversity: $diversity,
  science: $science
);

@each $name, $color in $categories_bright_color {
  .cat_#{$name} {
    background: $color;
    color: black;
    &:hover {
      background: $color;
      color: black;
    }
  }
  a:link#v-pills-#{$name}-tab.active {
    background: none;
    color: $color;
    font-weight: bold;
  }
  a:link#v-pills-#{$name}-tab {
    i { color: $color; }
    &:hover {
      color: $color;
    }
  }
  #category-#{$name} {
    color: $color;
    text-decoration: underline;
  }
  .bg-#{$name} {
    i { color: #{$color} }
  }
}

// custom colors
$all_categories_custom_color: (
  arts: $arts,
  body: $body,
  career: $career,
  companies: $companies,
  diversity: $diversity,
  environment: $environment,
  internet: $internet,
  marketing: $marketing,
  politics: $politics,
  science: $science
);

@each $name, $color in $all_categories_custom_color {
  div.category_item_#{$name} {
    background-color: $color;
  }
  @include media-breakpoint-down(sm) {
   div.category_item_#{$name} {
      font-size: 1.5rem;
    }
  }
  @include media-breakpoint-down(xs) {
   div.category_item_#{$name} {
      font-size: 1.0rem;
    }
  }
  @include media-breakpoint-down(xs) {
   div.category_item_#{$name}_numbers {
      font-size: 1.2rem;
    }
  }
}

// all categories brighter colors
$all_categories_brighter_color: (
  arts: $arts_sec,
  body: $body_sec,
  career: $career_sec,
  companies: $companies_sec,
  diversity: $diversity_sec,
  environment: $environment_sec,
  internet: $internet_sec,
  marketing: $marketing_sec,
  politics: $politics_sec,
  science: $science_sec
);

@each $name, $color in $all_categories_brighter_color {
  div.category_item_#{$name}_numbers {
    background-color: $color;
  }
}

// all categories darker colors
$all_categories_darker_color: (
  arts: $arts,
  body: $body,
  career: $career,
  companies: $companies,
  diversity: $diversity,
  environment: $environment,
  internet: $internet,
  marketing: $marketing,
  politics: $politics,
  science: $science
);

@each $name, $color in $all_categories_darker_color {
  div#v-pills-#{$name} {
  }
  button.cat_#{$name} i {
    color: $color;
  }

  .bg-color-#{$name} {
    background-color: $color;
  }
}
