/*fonts*/

@font-face {
  font-family: 'OpenSans';
  src: font_url('OpenSans/OpenSans-Regular-webfont.eot');
  src: font_url('OpenSans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  font_url('OpenSans/OpenSans-Regular-webfont.woff') format('woff'),
  font_url('OpenSans/OpenSans-Regular-webfont.ttf') format('truetype'),
  font_url('OpenSans/OpenSans-Regular-webfont.svg#open_sansbold') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: font_url('OpenSans/OpenSans-Bold-webfont.eot');
  src: font_url('OpenSans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  font_url('OpenSans/OpenSans-Bold-webfont.woff') format('woff'),
  font_url('OpenSans/OpenSans-Bold-webfont.ttf') format('truetype'),
  font_url('OpenSans/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  font-weight: 700;
  font-style: normal;
}
/* old colors */
$white: #FCFCFC;
$white-smoke: #F5F5F5;
$light-grey: #F2F2F2;
$grey: #E1DFDF;
$grey-stroke: #979797;
$dark-grey: #3C3C3A;
$very-dark-grey: #221F20;
$black: #000;
/* -------------*/

$bg-light-grey: $light-grey;
$bg-grey: $grey;

$beige: rgba(181, 138, 0, 0.62);
$dark-red: #b62848;
$tag-box-background: #DEDEDE;

$transparent-black: rgba( $black, .5 );
$transparent-grey: rgba( $very-dark-grey, .5 );
$transparent-white: rgba( $white, .7 );

/* colors for login sign */
$box-shadow-black: rgba(0,0,0,0.75);

/* font */
$serif: Georgia, serif;
$sans-serif: "Helvetica Neue", Helvetica, sans-serif;

/* variables colors */
$body-bg-color: $white;
$body-bg-color-grey: $white-smoke;
$header-grey: $very-dark-grey;

/* units */
$base-spacing-unit: 24px;

/* layout settings */
$border: 1px solid $grey;

$speakerinnen-green: #43E89C;
$speakerinnen-purple: #7311f6;
$dark-blue: darken($speakerinnen-green, 10%);
$font-color: $dark-grey;
$font-color-grey: $grey-stroke;
$link-color: $speakerinnen-green;

// /* link-color */
$link-color-hover: $white-smoke;
$link-bg-color: $white-smoke;
$link-bg-color-hover: $dark-grey;

// bootstrap variables override
$enable-responsive-font-sizes: true;
$primary: $speakerinnen-green;
$secondary: $speakerinnen-purple;
$border-dark: $grey-stroke;

// dropdown
$dropdown-background: #343A40;
$dropdown-hover-background: #52585D;

$yellow: #ffc107;
$red: #d95270;
$light_green: #B1EFCB;
$light_red: #FF9C9C;

$error_background: $light_red;
$error: $red;
$info: $light_green;

/* new category colors */
$teal: #68D2CA;
$teal_1: #B2E7E3;
$teal_2: #00978B;

$dark_teal: #69B7CB;
$dark_teal_1: #B2D9E3;
$dark_teal_2: #53818D;

$rose: #C8ABCF;
$rose_1: #E2D3E6;
$rose_2: #603D78;

$pink: #CB50AE;
$pink_1: #EBC0E1;
$pink_2: #8E3078;

$dark_pink: #AC356F;
$dark_pink_1: #D498B5;
$dark_pink_2: #73234A;

$raspberry_red: #C0374A;
$raspberry_red_1: #DE99A3;
$raspberry_red_2: #8F2635;

$red_orange: #DA5735;
$red_orange_1: #EBA999;
$red_orange_2: #B2462A;

$orange: #C35F0F;
$orange_1: #DFAE86;
$orange_2: #8C4710;

$bronze: #CE820D;
$bronze_1: #E5BF85;
$bronze_2: #95610F;

$dark_yellow: #B58A00;
$dark_yellow_1: #CEC5A8;
$dark_yellow_2: #725907;


/* new colours */

$missing_color: $grey-stroke;

$arts: #68D2CA;
$body: #69B7CB;
$career: #8DB5E4;
$companies: #A3A8F1;
$diversity: #C8ABCF;
$environment: #CB50AE;
$internet: #AC356F;
$marketing: #C0374A;
$politics: #DA5735;
$science: #c35F0f;


$arts_sec: #B2E7E3;
$body_sec: #B2D9E3;
$career_sec: #C5D8F0;
$companies_sec: #D0D2F6;
$diversity_sec: #E2D3E6;
$environment_sec: #EBC0E1;
$internet_sec: #D498B5;
$marketing_sec: #DE99A3;
$politics_sec: #EBA999;
$science_sec: #DFAE86;

/*
Arts & Culture
Body & Soul
Career & Education
Companies & Start-ups
Diversity
Environment & Sustainability
Internet & Media
Marketing & PR
Politics & Society
Science & Technology
*/
