/*fonts*/

@font-face {
  font-family: 'OpenSans';
  src: font_url('OpenSans/OpenSans-Regular-webfont.eot');
  src: font_url('OpenSans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  font_url('OpenSans/OpenSans-Regular-webfont.woff') format('woff'),
  font_url('OpenSans/OpenSans-Regular-webfont.ttf') format('truetype'),
  font_url('OpenSans/OpenSans-Regular-webfont.svg#open_sansbold') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: font_url('OpenSans/OpenSans-Bold-webfont.eot');
  src: font_url('OpenSans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  font_url('OpenSans/OpenSans-Bold-webfont.woff') format('woff'),
  font_url('OpenSans/OpenSans-Bold-webfont.ttf') format('truetype'),
  font_url('OpenSans/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  font-weight: 700;
  font-style: normal;
}
/* old colors */
$white: #FFF;
$white-smoke: #F5F5F5;
$light-grey: #CCC;
$grey: #7F7F7F;
$dark-grey: #3C3C3A;
$black: #000;
/* -------------*/

$bg-grey: #F2F2F2;

$beige: rgba(181, 138, 0, 0.62);
$dark-red: #b62848;
$tag-box-background: #DEDEDE;

$transparent-black: rgba( $black, .5 );
$transparent-white: rgba( $white, .7 );

/* colors for login sign */
$box-shadow-black: rgba(0,0,0,0.75);

/* font */
$serif: Georgia, serif;
$sans-serif: "OpenSans", "Helvetica Neue", Helvetica, sans-serif;

// /* link-color */
$link-color-hover: $white-smoke;
$link-bg-color: $white-smoke;
$link-bg-color-hover: $dark-grey;

/* variables colors */
$body-bg-color: $white;
$body-bg-color-grey: $white-smoke;

/* units */
$base-spacing-unit: 24px;

/* layout settings */
$layout-width: 940px;
$border: 1px solid $light-grey;

$speakerinnen-blue: #20736D;
$dark-blue: darken($speakerinnen-blue, 10%);
$font-color: $dark-grey;
$font-color-title: $grey;

// bootstrap variables override
$enable-responsive-font-sizes: true;
$primary: $speakerinnen-blue;
$red: #d95270;
.nav-link {
  font-size: 1.1rem;
  }
$link-color: $speakerinnen-blue;

/* new category colors */
$teal: #68D2CA;
$teal_1: #B2E7E3;
$teal_2: #00978B;

$dark_teal: #69B7CB;
$dark_teal_1: #B2D9E3;
$dark_teal_2: #53818D;

$soft_blue: #8DB5E4;
$soft_blue_1: #C5D8F0;
$soft_blue_2: #436996;

$purple: #A3A8F1;
$purple_1: #D0D2F6;
$purple_2: #5A5EAA;

$rose: #C8ABCF;
$rose_1: #E2D3E6;
$rose_2: #603D78;

$pink: #CB50AE;
$pink_1: #EBC0E1;
$pink_2: #8E3078;

$dark_pink: #AC356F;
$dark_pink_1: #D498B5;
$dark_pink_2: #73234A;

$raspberry_red: #C0374A;
$raspberry_red_1: #DE99A3;
$raspberry_red_2: #8F2635;

$red_orange: #DA5735;
$red_orange_1: #EBA999;
$red_orange_2: #B2462A;

$orange: #C35F0F;
$orange_1: #DFAE86;
$orange_2: #8C4710;

$bronze: #CE820D;
$bronze_1: #E5BF85;
$bronze_2: #95610F;





$dark_yellow: #B58A00;
$dark_yellow_1: #CEC5A8;
$dark_yellow_2: #725907;
