<p>Welcome to Speakerinnen, <%= @email %>!</p>

<p>We're so happy you're taking the first step to being a speaker on Speakerinnen!</p>

<p>Please complete your profile so that we can publish it as fast as possible.</p>

<p>You can confirm your sign-up by clicking the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :locale => I18n.locale, :confirmation_token => @token) %></p>

<p>Email us anytime with any questions or feedback, because we want to improve Speakerinnen for our speakers.</p>

<p>Thanks,<br>

your Speakerinnen team.</p>
