<p>Wilkommen zur Speakerinnen-Liste, <%= @email %>!</p>

<p>Wir sind so froh, dass du den ersten Schritt getan hast und Dich für die Speakerinnen-Liste registriert hast!</p>

<p>Du kannst deine Registrierung abschließen, indem Du auf den folgenden Link klickst:</p>

<p><%= link_to 'Bestätige meinen Account', confirmation_url(@resource, :locale => I18n.locale, :confirmation_token => @token) %></p>

<p>Schreibe uns gerne jederzeit, wenn Du Fragen oder Feedback hast, damit wir die Speakerinnen-Liste verbessern können.</p>

<p>Danke,<br>

Dein Speakerinnen-Team.</p></p>
