<p>Hallo <%= @resource.email %>!</p>

<p>Jemand hat einen Link angefordert, um dein Passwort zu ändern. Die Änderung kannst Du über diesen Link durchführen:</p>

<p><%= link_to 'Passwort ändern', edit_password_url(@resource, :locale => I18n.locale, :reset_password_token => @token) %></p>

<p>Wenn du diese Anfrage nicht selbst gestellt hast, ignoriere diese E-Mail.</p>
<p>Dein Passwort wird nicht verändert, bis du den Link oben anklickst und ein neues erstellst.</p>
