<p>Hallo <%= "#{@resource.firstname}" if @resource.firstname %>!</p>

<p>Du hast dein Passwort vergessen? Kein Problem. Du kannst ein neues Passwort über diesen Link erzeugen:
<%= link_to 'Passwort ändern', edit_password_url(@resource, locale: I18n.locale, reset_password_token: @token) %></p>

<p>Wenn du diese Anfrage nicht selbst gestellt hast, ignoriere diese E-Mail.</p>

<p>Dein Passwort wird nicht verändert, bis du den Link oben anklickst und ein neues erstellst.</p>

<p>Melde dich gerne bei uns, wenn du Fragen hast! Und natürlich freuen wir uns jederzeit über dein Feedback zu <%= request_host.capitalize || "Speakerinnen.org" %>.</p>

<p>Danke,<br>

Anja, Christiane, Mandy und Maren<br>
(Das Speakerinnen-Team)</p>
