<p>Hello <%= "#{@resource.firstname}" if @resource.firstname %>!</p>

<p>You have forgotten your password? No problem. You can create a new password through the link below:
<%= link_to 'Change my password', edit_password_url(@resource, locale: I18n.locale, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>

<p>Your password won't change until you access the link above and create a new one.</p>

<p>Please don’t hesitate to contact us if you have any further questions – or if you have any feedback regarding <%= request_host.capitalize || "Speakerinnen.org" %>!</p>

<p>Thank you,<br>

Anja, Christiane, Mandy and Maren<br>
(the team of Speakerinnen.org)</p>
