<?xml version='1.0' encoding='UTF-8'?>
<header id=<%= 'admin__header--color' if controller_path =~ /admin\// %>>
  <%# TODO: hidden <h1>Speakerinnen</h1>%>

  <%= render 'layouts/nav_lap_and_up' %>
  <%= render 'layouts/nav_palm' %>

  <!-- Anchor for top -->
  <a id="top"></a>

</header>

<script>
$( "#nav__palm-menu-trigger" ).click(function() {
  $( "#nav__palm-menu" ).toggle( 250, function() {
    // Animation complete.
  });
});

$( "#nav__lap_and_up-menu-trigger" ).click(function() {
  $( "#nav__lap_and_up-menu" ).toggle( 250, function() {
    // Animation complete.
  });
});
</script>
